.b-button {
	display: inline-block;
	margin-bottom: 0;
	padding: 6px 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-image: none;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;

	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.b-button:focus,
.b-button:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.b-button:hover,
.b-button:focus {
	text-decoration: none;
	color: #333333;
}

.b-button:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.b-button_disabled,
.b-button[disabled] {
	cursor: not-allowed;
	opacity: 0.65;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a.b-button_disabled {
	pointer-events: none;
}

.b-button_block {
	display: block;
	width: 100%;
}

.b-button_block + .b-button_block {
	margin-top: 5px;
}

input[type="submit"].b-button_block,
input[type="reset"].b-button_block,
input[type="button"].b-button_block {
	width: 100%;
}

.b-button_size_lg {
	padding: 10px 16px;
	border-radius: 6px;
	font-size: 18px;
	line-height: 1.3333333;
}

.b-button_size_sm {
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 1.5;
}

.b-button_size_xs {
	padding: 1px 5px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 1.5;
}

.b-button_color_grey,
.b-button_color_grey:visited {
	color: #333333;
	border-color: #cccccc;
	background-color: #ffffff;
}

.b-button_color_grey:focus {
	color: #333333;
	border-color: #999999;
	background-color: #e6e6e6;
}

.b-button_color_grey:hover,
.b-button_color_grey:active {
	color: #333333;
	border-color: #b4b4b4;
	background-color: #e6e6e6;
}

.b-button_color_grey:hover:focus,
.b-button_color_grey:active:focus {
	color: #333333;
	border-color: #999999;
	background-color: #d4d4d4;
}

.b-button_color_grey:active {
	background-image: none;
}

.b-button_color_grey_disabled,
.b-button_color_grey[disabled],
.b-button_color_grey_disabled:hover,
.b-button_color_grey[disabled]:hover,
.b-button_color_grey_disabled:focus,
.b-button_color_grey[disabled]:focus,
.b-button_color_grey_disabled:active,
.b-button_color_grey[disabled]:active {
	border-color: #cccccc;
	background-color: #ffffff;
}

.b-button_color_blue,
.b-button_color_blue:visited {
	color: #ffffff;
	border-color: #47a2de;
	background-color: #47a2de;
}

.b-button_color_blue:focus {
	color: #ffffff;
	border-color: #217eba;
	background-color: #2e95da;
}

.b-button_color_blue:hover,
.b-button_color_blue:active {
	color: #ffffff;
	border-color: #2993d9;
	background-color: #2e95da;
}

.b-button_color_blue:hover:focus,
.b-button_color_blue:active:focus {
	color: #ffffff;
	border-color: #217eba;
	background-color: #258bce;
}

.b-button_color_blue:active {
	background-image: none;
}

.b-button_color_blue_disabled,
.b-button_color_blue[disabled],
.b-button_color_blue_disabled:hover,
.b-button_color_blue[disabled]:hover,
.b-button_color_blue_disabled:focus,
.b-button_color_blue[disabled]:focus,
.b-button_color_blue_disabled:active,
.b-button_color_blue[disabled]:active {
	border-color: #47a2de;
	background-color: #47a2de;
}

.b-tabs__head-item {
	padding: 0;
	background: none;
	background-image: none;
}

.b-tabs__head-item a,
.b-tabs__head-item a:visited {
	display: block;
	text-decoration: none;
}

.b-tabs__head-item a:hover {
	text-decoration: none;
}

.b-tabs__head-item_active {
	position: relative;
	z-index: 5;
	opacity: 1;
}

.b-tabs__head-item_active a,
.b-tabs__head-item_active a:visited {
	text-decoration: none;
}

.b-tabs__body-content {
	position: relative;
	opacity: 0;
}

.b-tabs_mode_horizontal .b-tabs__head-item {
	float: left;
}

.b-tabs_mode_horizontal .b-tabs__head-item a,
.b-tabs_mode_horizontal .b-tabs__head-item a:visited {
	text-align: center;
}

.b-tabs_mode_vertical .b-tabs__head {
	float: left;
	max-width: 100px;
}

.b-tabs_mode_vertical .b-tabs__body {
	margin-left: 120px;
}

.b-tabs_style_default .b-tabs__head-item {
	font-size: 14px;
}

.b-tabs_style_default .b-tabs__head-item a,
.b-tabs_style_default .b-tabs__head-item a:visited {
	padding: 7px 30px 8px;
	text-decoration: none;
	color: $tabs-unactive-color;
}

.b-tabs_style_default .b-tabs__head-item a:hover {
	text-decoration: none;
}

.b-tabs_style_default .b-tabs__head-item_active {
	background: #ffffff;
}

.b-tabs_style_default .b-tabs__head-item_active a,
.b-tabs_style_default .b-tabs__head-item_active a:visited {
	text-decoration: none;
	color: #000000;
}

.b-tabs_style_default .b-tabs__head-item_active a:hover {
	border-bottom: none;
}

.b-tabs_style_default.b-tabs_mode_vertical .b-tabs__head {
	border-right: 1px solid #dadada;
}

.b-tabs_style_default.b-tabs_mode_vertical .b-tabs__head-item {
	margin-right: -1px;
	border: 1px solid transparent;
	border-right: none;
	border-radius: 3px 0 0 3px;
}

.b-tabs_style_default.b-tabs_mode_vertical .b-tabs__head-item_active {
	border: 1px solid #dadada;
	border-right: none;
}

.b-tabs_style_default.b-tabs_mode_horizontal .b-tabs__head {
	border-bottom: 1px solid #dadada;
}

.b-tabs_style_default.b-tabs_mode_horizontal .b-tabs__head-item {
	margin-bottom: -1px;
	border: 1px solid transparent;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
}

.b-tabs_style_default.b-tabs_mode_horizontal .b-tabs__head-item_active {
	border: 1px solid #dadada;
	border-bottom: none;
}

.b-form-item__label {
	display: block;
	padding-bottom: 4px;
	font-family: "Museo Sans Cyrl", "Museo Sans", "Perspective Sans", Helvetica, Arial, sans-serif;
}

.b-form-item__label span {
	color: #ee1111;
}

.b-form-item__input input,
.b-form-item__input textarea,
.b-form-item__input select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0 9px;
	font-family: "Museo Sans Cyrl", "Museo Sans", "Perspective Sans", Helvetica, Arial, sans-serif;
}

.b-form-item__input textarea {
	height: 100px;
	min-height: 100px;
	padding: 9px;
	resize: vertical;
	line-height: normal !important;
}

.b-form-item__helpers {
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: "Museo Sans Cyrl", "Museo Sans", "Perspective Sans", Helvetica, Arial, sans-serif;
}

.b-form-item__errors {
	margin: 0;
	padding: 0;
}

.b-form-item__errors li {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #ee1111;
	background: none;
	font-family: "Museo Sans Cyrl", "Museo Sans", "Perspective Sans", Helvetica, Arial, sans-serif;
	font-size: 11px;
}

.b-form-item__hint {
	color: #aeadad;
	font-size: 11px;
}

.b-form-item_type_captcha .b-form-item__input-image {
	float: left;
	width: 137px;
	margin-right: 10px;
}

.b-form-item_type_captcha .b-form-item__input {
	float: left;
	width: 142px;
}

.b-form-item_type_checkbox,
.b-form-item_type_radio {
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 0;
}

.b-form-item_type_checkbox input,
.b-form-item_type_radio input {
	margin-right: 4px;
}

.b-form-item_type_checkbox .b-form-item__label,
.b-form-item_type_radio .b-form-item__label {
	padding-bottom: 0 !important;
}

.b-form-item_type_checkbox .b-form-item__label,
.b-form-item_type_radio .b-form-item__label,
.b-form-item_type_checkbox input,
.b-form-item_type_radio input {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}

.b-form-item_type_multiselect select {
	height: auto;
}

.b-form-item_type_password input {
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.b-form-item_style_default .b-form-item__label {
	padding-bottom: 9px;
	color: #333333;
	font-size: 13px;
}

.b-form-item_style_default .b-form-item__input input,
.b-form-item_style_default .b-form-item__input select,
.b-form-item_style_default .b-form-item__input textarea {
	min-height: 40px;
	padding: 0 18px;
	color: #333333;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	background-color: #ffffff;
	font-size: 13px;
	line-height: 40px;
}

.b-form-item_style_default .b-form-item__input input:invalid,
.b-form-item_style_default .b-form-item__input select:invalid,
.b-form-item_style_default .b-form-item__input textarea:invalid {
	border-color: #ee1111;
}

.b-form-item_style_default .b-form-item__input input:invalid:focus,
.b-form-item_style_default .b-form-item__input select:invalid:focus,
.b-form-item_style_default .b-form-item__input textarea:invalid:focus {
	border-color: #ee1111;
	border-color: #ee1111;
	-webkit-box-shadow: 0 0 2px rgba(238,17,17,0.75);
	box-shadow: 0 0 2px rgba(238,17,17,0.75);
}

.b-form-item_style_default .b-form-item__input input::-webkit-input-placeholder,
.b-form-item_style_default .b-form-item__input select::-webkit-input-placeholder,
.b-form-item_style_default .b-form-item__input textarea::-webkit-input-placeholder {
	color: #d3d3d3;
}

.b-form-item_style_default .b-form-item__input input:-moz-placeholder,
.b-form-item_style_default .b-form-item__input select:-moz-placeholder,
.b-form-item_style_default .b-form-item__input textarea:-moz-placeholder {
	color: #d3d3d3;
}

.b-form-item_style_default .b-form-item__input input::-moz-placeholder,
.b-form-item_style_default .b-form-item__input select::-moz-placeholder,
.b-form-item_style_default .b-form-item__input textarea::-moz-placeholder {
	color: #d3d3d3;
}

.b-form-item_style_default .b-form-item__input input:-ms-input-placeholder,
.b-form-item_style_default .b-form-item__input select:-ms-input-placeholder,
.b-form-item_style_default .b-form-item__input textarea:-ms-input-placeholder {
	color: #d3d3d3;
}

.b-form-item_style_default .b-form-item__input input:focus,
.b-form-item_style_default .b-form-item__input select:focus,
.b-form-item_style_default .b-form-item__input textarea:focus {
	border-color: rgba(52,136,171,0.75);
	outline: none;
	-webkit-box-shadow: 0 0 2px rgba(52,136,171,0.75);
	box-shadow: 0 0 2px rgba(52,136,171,0.75);
}

.b-form-item_style_default .b-form-item__input textarea {
	height: 132px;
	min-height: 132px;
	padding: 8px 18px;
	line-height: 20px;
}

.b-form-item_style_default.b-form-item_type_multiselect select {
	height: auto;
	min-height: 40px;
	padding: 0 !important;
}

.b-form-item_style_default.b-form-item_type_multiselect option {
	padding: 0.5em 1em;
}

.b-form-item_style_default.b-form-item_status_error .b-form-item__input input,
.b-form-item_style_default.b-form-item_status_error .b-form-item__input textarea,
.b-form-item_style_default.b-form-item_status_error .b-form-item__input select {
	border-color: #ee1111;
}

.b-form-item_style_default.b-form-item_status_error .b-form-item__input input:focus,
.b-form-item_style_default.b-form-item_status_error .b-form-item__input textarea:focus,
.b-form-item_style_default.b-form-item_status_error .b-form-item__input select:focus {
	border-color: #ee1111;
	-webkit-box-shadow: 0 0 2px rgba(238,17,17,0.75);
	box-shadow: 0 0 2px rgba(238,17,17,0.75);
}

.b-form-item_marked_value .jq-selectbox__select-text,
.b-form-item_marked_value input,
.b-form-item_marked_value select {
	font-size: 14px;
	font-weight: bold;
}

.b-form-item_marked_label .b-form-item__label {
	font-size: 14px;
	font-weight: bold;
}

.b-alert {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding: 10px 15px;
	border-radius: 2px;
}

.b-alert__title {
	padding-bottom: 8px;
	font-size: 14px;
	font-weight: bold;
}

.b-alert__close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	line-height: 16px;
}

.b-alert__close:hover {
	border-radius: 2px;
}

.b-alert__body {
	font-size: 14px;
}

.b-alert_style_error,
.b-alert_color_red {
	border: 1px solid #f3a69e;
	background: #fdedeb;
}

.b-alert_style_error .b-alert__title,
.b-alert_color_red .b-alert__title,
.b-alert_style_error .b-alert__close,
.b-alert_color_red .b-alert__close,
.b-alert_style_error .b-alert__body,
.b-alert_color_red .b-alert__body {
	color: #cf2b1a;
}

.b-alert_style_error .b-alert__close:hover,
.b-alert_color_red .b-alert__close:hover {
	color: #9b2013;
}

.b-alert_style_success,
.b-alert_color_green {
	border: 1px solid #67e067;
	background: #e1f9e1;
}

.b-alert_style_success .b-alert__title,
.b-alert_color_green .b-alert__title,
.b-alert_style_success .b-alert__close,
.b-alert_color_green .b-alert__close,
.b-alert_style_success .b-alert__body,
.b-alert_color_green .b-alert__body {
	color: #136013;
}

.b-alert_style_success .b-alert__close:hover,
.b-alert_color_green .b-alert__close:hover {
	color: #0e480e;
}

.b-alert_style_info,
.b-alert_style_blue {
	border: 1px solid #4eabff;
	background: #dceeff;
}

.b-alert_style_info .b-alert__title,
.b-alert_style_blue .b-alert__title,
.b-alert_style_info .b-alert__close,
.b-alert_style_blue .b-alert__close,
.b-alert_style_info .b-alert__body,
.b-alert_style_blue .b-alert__body {
	color: #00427d;
}

.b-alert_style_info .b-alert__close:hover,
.b-alert_style_blue .b-alert__close:hover {
	color: #00315e;
}

.b-alert_style_message,
.b-alert_color_grey {
	border: 1px solid #808080;
	background: #e6e6e6;
}

.b-alert_style_message .b-alert__title,
.b-alert_color_grey .b-alert__title,
.b-alert_style_message .b-alert__close,
.b-alert_color_grey .b-alert__close,
.b-alert_style_message .b-alert__body,
.b-alert_color_grey .b-alert__body {
	color: #000000;
}

.b-alert_style_message .b-alert__close:hover,
.b-alert_color_grey .b-alert__close:hover {
	color: #000000;
}

.b-input-group {
	padding-bottom: 13px;
}

.b-input-group__label {
	display: block;
	padding-bottom: 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 14px;
	font-weight: bold;

	-webkit-touch-callout: none;
}

.b-input-group__body {
	max-width: 800px;
}

.b-input-group__body .b-form-item {
	padding-bottom: 4px;
}

.b-input-group__body label {
	width: auto;
}

.b-input-group .jq-checkbox,
.b-input-group .jq-radio {
	margin: 0px 10px 0 0;
}

.b-form__item {
	padding-bottom: 21px;
}

.b-form__item-left,
.b-form__item-right {
	float: left;
	width: persentSize(411px, 182px);
}

.b-form__item-right {
	float: right;
}

.b-grid {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

.b-grid__row {
	display: block;
	width: 101.49999999999999%;
	margin: 0 -0.75%;
}

.b-grid__row:before,
.b-grid__row:after {
	display: table;
	content: "";
}

.b-grid__row:after {
	clear: both;
}

.b-grid__col {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 6.833333333333331%;
	margin: 0 0.75%;
}

.b-grid__col_1 {
	width: 6.833333333333331%;
}

.b-grid__col_2 {
	width: 15.166666666666664%;
}

.b-grid__col_3 {
	width: 23.499999999999996%;
}

.b-grid__col_4 {
	width: 31.83333333333333%;
}

.b-grid__col_5 {
	width: 40.16666666666666%;
}

.b-grid__col_6 {
	width: 48.49999999999999%;
}

.b-grid__col_7 {
	width: 56.83333333333332%;
}

.b-grid__col_8 {
	width: 65.16666666666666%;
}

.b-grid__col_9 {
	width: 73.49999999999999%;
}

.b-grid__col_10 {
	width: 81.83333333333331%;
}

.b-grid__col_11 {
	width: 90.16666666666666%;
}

.b-grid__col_12 {
	width: 98.49999999999999%;
}

.b-grid__col_offset_1 {
	margin-left: 9.083333333333332%;
}

.b-grid__col_offset_2 {
	margin-left: 17.416666666666664%;
}

.b-grid__col_offset_3 {
	margin-left: 25.749999999999996%;
}

.b-grid__col_offset_4 {
	margin-left: 34.08333333333333%;
}

.b-grid__col_offset_5 {
	margin-left: 42.41666666666666%;
}

.b-grid__col_offset_6 {
	margin-left: 50.74999999999999%;
}

.b-grid__col_offset_7 {
	margin-left: 59.08333333333333%;
}

.b-grid__col_offset_8 {
	margin-left: 67.41666666666666%;
}

.b-grid__col_offset_9 {
	margin-left: 75.74999999999999%;
}

.b-grid__col_offset_10 {
	margin-left: 84.08333333333331%;
}

.b-grid__col_offset_11 {
	margin-left: 92.41666666666666%;
}

.b-grid__col_offset_12 {
	margin-left: 100.74999999999999%;
}

.b-grid_demo .b-grid__row {
	margin-bottom: 20px;
}

.b-grid_demo .b-grid__col {
	padding: 10px 0;
	text-align: center;
	color: #333333;
	background-color: #faebd7;
	-webkit-box-shadow: inset 0 0 0 1px #333333;
	box-shadow: inset 0 0 0 1px #333333;
	font-size: 12px;
}

.b-tabs__head-item {
	padding: 0;
	background: none;
	background-image: none;
}

.b-tabs__head-item a,
.b-tabs__head-item a:visited {
	display: block;
	text-decoration: none;
}

.b-tabs__head-item a:hover {
	text-decoration: none;
}

.b-tabs__head-item_active {
	position: relative;
	z-index: 5;
	opacity: 1;
}

.b-tabs__head-item_active a,
.b-tabs__head-item_active a:visited {
	text-decoration: none;
}

.b-tabs__body-content {
	position: relative;
	opacity: 0;
}

.b-tabs_mode_horizontal .b-tabs__head-item {
	float: left;
}

.b-tabs_mode_horizontal .b-tabs__head-item a,
.b-tabs_mode_horizontal .b-tabs__head-item a:visited {
	text-align: center;
}

.b-tabs_mode_vertical .b-tabs__head {
	float: left;
	max-width: 100px;
}

.b-tabs_mode_vertical .b-tabs__body {
	margin-left: 120px;
}

.b-tabs_style_default .b-tabs__head-item {
	font-size: 14px;
}

.b-tabs_style_default .b-tabs__head-item a,
.b-tabs_style_default .b-tabs__head-item a:visited {
	padding: 7px 30px 8px;
	text-decoration: none;
	color: $tabs-unactive-color;
}

.b-tabs_style_default .b-tabs__head-item a:hover {
	text-decoration: none;
}

.b-tabs_style_default .b-tabs__head-item_active {
	background: #ffffff;
}

.b-tabs_style_default .b-tabs__head-item_active a,
.b-tabs_style_default .b-tabs__head-item_active a:visited {
	text-decoration: none;
	color: #000000;
}

.b-tabs_style_default .b-tabs__head-item_active a:hover {
	border-bottom: none;
}

.b-tabs_style_default.b-tabs_mode_vertical .b-tabs__head {
	border-right: 1px solid #dadada;
}

.b-tabs_style_default.b-tabs_mode_vertical .b-tabs__head-item {
	margin-right: -1px;
	border: 1px solid transparent;
	border-right: none;
	border-radius: 3px 0 0 3px;
}

.b-tabs_style_default.b-tabs_mode_vertical .b-tabs__head-item_active {
	border: 1px solid #dadada;
	border-right: none;
}

.b-tabs_style_default.b-tabs_mode_horizontal .b-tabs__head {
	border-bottom: 1px solid #dadada;
}

.b-tabs_style_default.b-tabs_mode_horizontal .b-tabs__head-item {
	margin-bottom: -1px;
	border: 1px solid transparent;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
}

.b-tabs_style_default.b-tabs_mode_horizontal .b-tabs__head-item_active {
	border: 1px solid #dadada;
	border-bottom: none;
}

@-webkit-keyframes heartbeat {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	5% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	10% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	15% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes heartbeat {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	5% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	10% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	15% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes modal-opening {
	from {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0;
	}

	to {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

@keyframes modal-opening {
	from {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0;
	}

	to {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

@-webkit-keyframes modal-closing {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}
}

@keyframes modal-closing {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}
}

@-webkit-keyframes modal-overlay-opening {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes modal-overlay-opening {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes modal-overlay-closing {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes modal-overlay-closing {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.b-main {
	max-width: 1160px;
	margin: 0 auto;
	padding-top: 30px;
}

.b-main__sidebar {
	float: left;
	width: 300px;
	padding-top: 10px;
}

.b-main__content {
	float: right;
	width: 830px;
	padding-bottom: 60px;
}

.b-page-title {
	margin: 0;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #dadada;
	font-size: 34px;
}

.b-header {
	padding: 115px 0 35px;
	background: #2d3e60;
}

.b-header__inner {
	width: 960px;
	margin: 0 auto;
}

.b-header__top {
	position: absolute;
	z-index: 1000;
	top: 0;
	width: 100%;
	padding: 1em 0;
	-webkit-transition: padding 0.5s ease 0s, background 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
	transition: padding 0.5s ease 0s, background 0.5s ease 0s, box-shadow 0.5s ease 0s;
	background-color: #2d3e60;
}

.b-header__logo,
.b-header__menu {
	float: left;
}

.b-header__logo {
	width: 190px;
	margin-right: 40px;
}

.b-header__menu {
	width: 600px;
	padding-top: 5px;
}

.b-header__github {
	float: right;
	width: 110px;
	padding-top: 5px;
}

.b-header__bottom {
	padding: 70px 0;
}

.b-header_fixed .b-header__top {
	position: fixed;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.04);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.04);
}

.b-button_style_ghost {
	padding: 20px 60px;
	-webkit-transition: 0.2s background ease-in-out 0s;
	transition: 0.2s background ease-in-out 0s;
	border-radius: 2px;
	font-family: "Noto Sans", sans-serif;
	font-size: 20px;
	line-height: 20px;
}

.b-button_style_ghost,
.b-button_style_ghost:visited {
	color: #ffffff;
	border-color: #ffffff;
}

.b-button_style_ghost:focus {
	color: #ffffff;
	border-color: #bfbfbf;
}

.b-button_style_ghost:hover,
.b-button_style_ghost:active {
	color: #2d3e60;
	background-color: #ffffff;
}

.b-button_style_ghost:hover:focus,
.b-button_style_ghost:active:focus {
	color: #ffffff;
}

.b-button_style_ghost:active {
	background-image: none;
}

.b-logo,
.b-logo:visited {
	text-decoration: none;
	color: #ffffff;
	font-family: "Noto Serif", serif;
	font-size: 0;
	font-size: 30px;
	line-height: normal;
}

.b-logo:hover {
	color: #e6e6e6;
}

.b-logo:hover .b-logo__icon {
	-webkit-animation: heartbeat 2.5s infinite;
	animation: heartbeat 2.5s infinite;
}

.b-logo__name {
	display: inline-block;
}

.b-logo__icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 7px;

	fill: #e74c3c;
}

.b-main-menu ul {
	margin: 0;
	padding: 0;
}

.b-main-menu__item {
	position: relative;
	float: left;
	padding: 0 20px 0 0;
	list-style: none;
	background: none;
	font-family: "Noto Serif", serif;
	font-size: 14px;
}

.b-main-menu__link,
.b-main-menu__link:visited {
	display: block;
	padding: 8px 11px 11px;
	-webkit-transition: background 300ms ease-in-out 0s;
	transition: background 300ms ease-in-out 0s;
	text-decoration: none;
	color: #ffffff;
}

.b-main-menu__link:hover {
	text-decoration: underline;
	color: #ffffff;
}

.b-main-menu__submenu {
	position: absolute;
	z-index: 1;
	top: 38px;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	width: 250px;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
	opacity: 0;
	border-radius: 0 2px 2px 2px;
	background: #ffffff;
}

.b-main-menu__item:hover .b-main-menu__submenu {
	visibility: visible;
	opacity: 1;
}

.b-main-menu__item_has_dropdown .b-main-menu__link:after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 6px;
	content: "";
	vertical-align: middle;
	border: 3px solid transparent;
	border-top-color: #ffffff;
}

.b-main-menu__item_has_dropdown:hover .b-main-menu__link,
.b-main-menu__item_has_dropdown:hover .b-main-menu__link:visited {
	color: #111111;
	border-radius: 2px 2px 0 0;
	background: #ffffff;
}

.b-main-menu__item_has_dropdown:hover .b-main-menu__link:after {
	width: 0;
	height: 0;
	margin-bottom: 4px;
	border: 3px solid transparent;
	border-bottom-color: #111111;
}

.b-header_fixed .b-main-menu__submenu {
	border: 1px solid #dddddd;
	border-top: none;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.04);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.04);
}

.b-main-menu-submenu ul {
	margin: 0;
	padding: 0;
}

.b-main-menu-submenu__item {
	padding: 0;
	list-style: none;
	background: none;
	font-family: "Noto Sans", sans-serif;
}

.b-main-menu-submenu__item a,
.b-main-menu-submenu__item a:visited {
	display: block;
	padding: 7px 10px;
	text-decoration: none;
	color: #111111;
}

.b-main-menu-submenu__item a:hover {
	color: #ffffff;
	background: #455e92;
}

.b-main-menu-submenu__item_active a,
.b-main-menu-submenu__item_active a:visited {
	color: #ffffff;
	background: #455e92;
}

.b-github-button,
.b-github-button:visited {
	display: block;
	padding: 3px 10px;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
	text-decoration: none;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid transparent;
	font-size: 0;
}

.b-github-button:hover {
	text-decoration: underline;
	color: #ffffff;
}

.b-github-button__text {
	vertical-align: middle;
	font-family: "Noto Serif", serif;
	font-size: 16px;
}

.b-github-button__icon {
	width: 16px;
	height: 16px;
	margin-right: 7px;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
	vertical-align: middle;

	fill: #ffffff;
}

.b-header-presentation {
	text-align: center;
	font-family: "Noto Serif", serif;
}

.b-header-presentation__name {
	margin: 0;
	padding-bottom: 20px;
	color: #ffffff;
	font-size: 60px;
	font-weight: normal;
	line-height: normal;
}

.b-header-presentation__description {
	margin: 0;
	color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	line-height: 26px;
}

.b-header-presentation__version {
	color: #ffffff;
	font-size: 18px;
}

.b-header-presentation__sub-description {
	padding-bottom: 60px;
	color: #ffffff;
	font-size: 14px;
}

.b-sidebar-menu {
	border: 1px solid #dadada;
	background: #ffffff;
}

.b-sidebar-menu ul {
	margin: 0;
	padding: 0;
}

.b-sidebar-menu__title {
	margin: 0;
	padding: 10px 20px;
	border-bottom: 1px solid #dadada;
	font-size: 18px;
}

.b-sidebar-menu__item {
	padding: 0 0 10px 0;
	list-style: none;
	font-size: 14px;
}

.b-sidebar-menu__link,
.b-sidebar-menu__link:visited {
	display: block;
	padding: 6px 20px 5px;
	text-decoration: none;
	font-weight: bold;
}

.b-sidebar-menu__link:hover {
	text-decoration: underline;
}

.b-sidebar-menu-submenu ul {
	margin: 0;
	padding: 0;
}

.b-sidebar-menu-submenu__item {
	padding: 0;
	list-style: none;
	background: #fafafa;
	background: none;
}

.b-sidebar-menu-submenu__item a,
.b-sidebar-menu-submenu__item a:visited {
	display: block;
	padding: 4px 20px 4px 30px;
}

.b-footer {
	border-top: 1px solid #dadada;
	background: #ebebeb;
}

.b-footer__inner {
	max-width: 1160px;
	margin: 0 auto;
	padding: 30px 0;
}

.b-copyright {
	color: #000000;
	font-size: 14px;
}

.b-page {
	height: 100%;
}

.b-page__wrapper {
	min-height: 100%;
	margin: 0 auto 79px;
}

.b-page__footer,
.b-page__buffer {
	height: 79px;
}
