.textarea
	&__control
		box-sizing border-box

	&_block
		display block

	&_block
		& ^[0]__control
			width 100% !important

	&_inline
		& ^[0]__control
			width $form-input-width-inline

	&_style_default
		& ^[0]__control
			padding $form-padding_vertical $form-padding_horizontal
			min-height ($form-size-input-height * 3)
			height ($form-size-input-height * 3)
			border $form-border_default
			border-radius $form-border-radius
			background-color $form-color-background
			color $form-color-font
			font-size $form-font-size

			+placeholder()
				color $form-color-placeholder

			&:focus
				outline none
				focus($form-color-border_focus)

			&:invalid
				border-color $form-color-border_invalid

				&:focus
					focus($form-color-border_invalid)

			&:disabled
				background-color $form-color-background_disabled
