$add = 16px 16px
$chevron-down = 10px 5px
$chevron-left = 7px 14px
$chevron-right = 7px 14px
$chevron-up = 10px 5px
$close = 16px 16px
$fb = 18px 18px
$github-octocat = 100px 100px
$gp = 18px 18px
$grid = 128px 128px
$hamburger = 20px 14px
$heart = 510px 510px
$input = 128px 128px
$maginifer = 17px 17px
$mr = 18px 18px
$ok = 18px 18px
$rss = 16px 16px
$text = 128px 128px
$tw = 18px 18px
$vk = 18px 18px


svgSize($icon)
	width $icon[0]
	height $icon[1]


// Default icons sizes
.icon
	
	&_add
		width 16px
		height 16px
	
	&_chevron-down
		width 10px
		height 5px
	
	&_chevron-left
		width 7px
		height 14px
	
	&_chevron-right
		width 7px
		height 14px
	
	&_chevron-up
		width 10px
		height 5px
	
	&_close
		width 16px
		height 16px
	
	&_fb
		width 18px
		height 18px
	
	&_github-octocat
		width 100px
		height 100px
	
	&_gp
		width 18px
		height 18px
	
	&_grid
		width 128px
		height 128px
	
	&_hamburger
		width 20px
		height 14px
	
	&_heart
		width 510px
		height 510px
	
	&_input
		width 128px
		height 128px
	
	&_maginifer
		width 17px
		height 17px
	
	&_mr
		width 18px
		height 18px
	
	&_ok
		width 18px
		height 18px
	
	&_rss
		width 16px
		height 16px
	
	&_text
		width 128px
		height 128px
	
	&_tw
		width 18px
		height 18px
	
	&_vk
		width 18px
		height 18px
	