.accordion
	ul-reset()

	&__item
		padding 0
		list-style none
		margin-bottom -1px

	&__header
		position relative
		color #3d3d3d
		font-size 18px
		line-height 20px
		padding 15px 50px 15px 20px
		background-color #fff
		cursor pointer
		transition 150ms all ease-in-out 0s
		border 1px solid #e6e6e6
		&:hover
			background-color #F9F9F9

		&:after
			transition 150ms all ease-in-out 0s
			position absolute
			right 20px
			top 50%
			margin-top -3px
			content ''
			display block
			size 6px
			border-width 0 1px 1px 0
			border-color #535353
			border-style solid
			transform rotate(45deg)
			transform-origin 50% 50%

	&__content
		display none
		padding 20px 10px

	&__item_active &__header
		background-color #F9F9F9

	&__item_active &__header:after
		transform rotate(225deg)

// Mixins
alert-style( color )
	border 1px solid color + 50%
	background color + 90%
	.alert
		&__title
		&__close
		&__body
			color color - 20%

		&__close
			svg
				fill color
			&:hover
				svg
					fill color - 40%

.alert
	display block
	padding 10px 15px
	border-radius 2px
	position relative
	margin-bottom $base-line-height

	&__title
		font-weight bold
		font-size 16px
		padding-bottom 8px

	&__body
		font-size 14px

	&__close
		font-weight bold
		text-align center
		position absolute
		right 5px
		top 5px
		cursor pointer
		size 16px
		padding 3px
		line-height 1
		&:hover
			border-radius 2px
		svg
			size 10px





.alert_type_error
.alert_color_red
	alert-style(color = #e74c3c)

.alert_type_success
.alert_color_green
	alert-style(color = #187818)

.alert_type_info
.alert_style_blue
	alert-style(color = #00529c)

.alert_type_message
.alert_color_grey
	alert-style(color = #000)

.bread-crumbs
	line-height normal
	ul-reset()

	&__item
	&__separator
		display inline-block
		vertical-align middle

	&__item
		list-style none
		padding 0
		font-size 14px
		color #f05050

	&__link
		&
		&:visited
			color #505050
			text-decoration none

		&:hover
			color #f05050
			text-decoration underline

	&__separator
		color #535353
		font-size 8px
		padding 0 5px 0 8px
		svg
			size 5px 10px
			fill #505050

.browsehappy
	margin 0
	background #ffe983
	color #333
	padding 0.5em 0 0.7em
	text-align center
	a
		&
		&:visited
			text-decoration underline
		&:hover
			text-decoration none

//- Mixins
button-color(color, color-hover, background, background-hover, border, border-hover)
	&
	&:visited
		color color
		background-color background
		if border
			border-color border

	&:focus
	&:hover
	&:active
		if color-hover
			color color-hover
		else
			color color

		if background-hover
			background-color background-hover
		else
			background-color background - 10%

		if border-hover
			border-color border-hover
		else
			border-color border - 25%

	&:active
		background-image none

	&.button
		&_disabled
		&[disabled]
			&
			&:hover
			&:focus
			&:active
				color color
				background-color background
				border-color border

button-size(padding, font-size, line-height)
	padding padding
	font-size font-size
	if line-height
		line-height line-height

//- Base style
.button
	display inline-block
	margin-bottom 0
	font-weight normal
	text-align center
	vertical-align middle
	touch-action manipulation
	cursor pointer
	background-image none
	vertical-align middle
	border 1px solid transparent
	white-space nowrap
	line-height normal
	-webkit-user-drag none
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	box-sizing border-box
	text-decoration none
	background-color transparent
	padding 0
	transition 125ms all ease-in-out

	&__icon
	&__text
		display inline-block
		vertical-align middle
		margin-right 8px
		line-height 1

	&:focus
	&:active:focus
		// outline thin dotted
		// outline 5px auto -webkit-focus-ring-color
		// outline-offset -2px

	&:hover
	&:focus
		color #333333
		text-decoration none

	&:active
		outline 0
		background-image none
		box-shadow inset 0 3px 5px rgba(0 0 0 0.125)

	&_disabled
	&[disabled]
		&
		&:hover
		&:focus
		&:active
			opacity 0.65
			box-shadow none
			outline none

	a&_disabled
		pointer-events none

//- Block button
.button_block
	display: block;
	width: 100%;

	& + &
		margin-top: 5px;

	input[type="submit"]&
	input[type="reset"]&
	input[type="button"]&
		width: 100%;

//- Button sizes
.button
.button_size_default
	button-size(
		padding: 6px 12px,
		font-size: 16px,
		line-height: 1.4
	)

.button_size_lg
	button-size(
		padding: 16px 20px,
		font-size: 18px,
		line-height: 1.3333333
	)

.button_size_sm
	button-size(
		padding: 5px 12px,
		font-size: 12px,
		line-height: 1.5
	)

.button_size_xs
	button-size(
		padding: 3px 8px,
		font-size: 10px,
		line-height: 1.5
	)

// Styles and colors
.button_style_pill
	border-radius 100px

.button_style_ghost.button_color_white
	button-color(
		color: #fff,
		color-hover: #333,
		background: transparent,
		background-hover: #fff,
		border: #fff,
		border-hover: #fff
	)
	border-radius 2px

.button_style_ghost.button_color_red
	button-color(
		color: #f05050,
		color-hover: #fff,
		background: transparent,
		background-hover: #f05050,
		border: #f05050,
		border-hover: #f05050
	)

.button_style_rounded
	border-radius 3px

.button_style_rounded.button_color_grey
	button-color(
		color: #333,
		color-hover: false,
		background: #fff,
		background-hover: false,
		border: #ccc,
		border-hover: false
	)

.button_style_rounded.button_color_blue
	button-color(
		color: #fff,
		color-hover: false,
		background: #47a2de,
		background-hover: false,
		border: #47a2de,
		border-hover: false
	)


.copyright
	color #000
	font-size 14px

.footer
	background #ebebeb
	border-top 1px solid #dadada

	&__inner
		padding 30px 0
		max-width 1160px
		margin 0 auto
		+below($content-width)
			m-padding()

	&__copyright
		//

.form
	&__section
		//

	&__item
		padding-bottom 21px

	&__item-left
	&__item-right
		width persentSize(411px, 182px)
		float left

	&__item-right
		float right

//- Helpers
form-focus-style($color)
	border-color $color
	box-shadow 0 0 2px rgba($color,.75)
	// box-shadow inset 0 0 0 1px $color
	{block}

//- Base styles
.form-item
	display block
	line-height normal
	m-cf()
	// padding-bottom 10px
	&__label
		display block
		padding-bottom 4px
		font-family $form-base-font-family
		span
			color $form-input-error-color

	&__input
		input
		textarea
		select
			box-sizing border-box
			width 100%
			font-family $form-base-font-family
			padding 0 9px


		textarea
			height 100px
			min-height 100px
			padding 9px
			resize vertical
			line-height normal !important


	&__helpers
		padding-top 4px
		padding-bottom 4px
		font-family $form-base-font-family

	&__errors
		margin 0
		padding 0
		li
			padding 0
			margin 0
			list-style none
			background none
			font-family $form-base-font-family
			font-size $form-input-error-font-size
			color $form-input-error-color

	&__hint
		font-size $form-input-hint-font-size
		color $form-input-hint-font-color

	&_type_captcha &__input-image
		width 137px
		float left
		margin-right 10px

	&_type_captcha &__input
		width 142px
		float left

	&_type_radio
	&_type_checkbox
		padding-left 30px
		position relative

	&_type_checkbox &__label
	&_type_radio &__label
	&_type_checkbox &__input
	&_type_radio &__input
		cursor pointer
		display inline-block

	&_type_radio &__label
	&_type_checkbox &__label
		display inline
		padding 0
		padding-bottom 0 !important
		user-select-none()

	&_type_radio &__input
	&_type_checkbox &__input
		position absolute
		left 0
		top 0

	&_type_multiselect select
		height auto

	&_type_password input
		font-family arial

//- Default style
.form-item_style_default
	// padding-bottom 17px
	.form-item
		&__label
			color #7b7b7b
			font-size 16px
			font-weight 300
			padding-bottom 9px

		&__input
			input
			select
			textarea
				background-color #fff
				border-radius 3px
				min-height 40px
				line-height 40px
				border 1px solid $form-input-border-color
				color #333
				// font-size 18px
				font-size 13px
				padding 0 18px
				&:invalid
					border-color $form-input-error-color

				&:invalid:focus
					border-color $form-input-error-color
					form-focus-style($form-input-error-color)

				+placeholder()
					color #d3d3d3
					// font-size 12px
				&:focus
					outline none
					form-focus-style($form-input-focus-color)

			textarea
				padding 8px 18px
				height 132px
				min-height 132px
				line-height $base-line-height

	&.form-item_type_multiselect
		select
			padding 0 !important
			min-height 40px
			height auto

		option
			padding 0.5em 1em

	&.form-item_status_error .form-item__input
		input
		textarea
		select
			border-color $form-input-error-color
			&:focus
				form-focus-style($form-input-error-color)

//-//////////////////////////////////////////////////////////
//- JQuery Form Styler
//-//////////////////////////////////////////////////////////
// Чекбоксы
.jq-checkbox
	vertical-align middle
	width 18px
	height 18px
	margin 0 4px 0 0
	border 1px solid #C3C3C3
	cursor pointer

	&.checked
		.jq-checkbox__div
			width 18px
			height 18px
			&:before
				position absolute
				top 4px
				left 4px
				content ''
				display block
				border-left 3px solid #08C
				border-bottom 3px solid #08C
				width 7px
				height 4px
				transform rotate(-45deg)

	&.focused
		border: 1px solid #08C

	&.disabled
		opacity .55


// Радио кнопки
.jq-radio
	vertical-align middle
	width 20px
	height 20px
	border 1px solid #C3C3C3
	border-radius 50%
	cursor pointer

	&.checked
		.jq-radio__div
			width 8px
			height 8px
			margin 6px 0 0 6px
			border-radius 50%
			background #08C

	&.focused
		border 1px solid #08C

	&.disabled
		opacity .55


// Файл
.jq-file
	width 100%
	border-radius 4px
	input
		height auto
		line-height 1em
		cursor pointer

	&__name
		overflow hidden
		box-sizing border-box
		width 100%
		height 40px
		line-height 40px
		padding 0 80px 0 10px
		border 1px solid #CCC
		border-radius 4px
		background #FFF
		box-shadow inset 1px 1px #F1F1F1
		font-size 14px
		color #333
		white-space nowrap
		text-overflow ellipsis

	&__browse
		position absolute
		top 1px
		right 1px
		padding 0 10px
		border-left 1px solid #CCC
		border-radius 0 4px 4px 0
		font-size 14px
		background #fff - 2%
		line-height 38px
		color #333
		text-shadow 1px 1px #FFF

	&:hover
		.jq-file__browse
			background #fff - 5%

	&:active
		.jq-file__browse
			background #F5F5F5

	&.focused
		.jq-file__name
			border 1px solid #5794BF

	&.disabled
		.jq-file__name
		.jq-file__browse
			border-color #CCC
			background #F5F5F5
			box-shadow none
			color #888


// Spinner
.jq-number
	position relative
	display inline-block
	vertical-align middle
	padding 0 36px 0 0
	&.focused
		.jq-number__field
			// border 1px solid #5794BF
	&.disabled
		.jq-number__spin
			&:after
				// border-bottom-color #AAA
			&.minus
				&:after
					// border-top-color #AAA

	&__field
		width 100px
		&:hover
			border-color #B3B3B3
		input
			padding 8px 9px
			outline none
			background none
			font-size 14px
			text-align left
			-moz-appearance textfield

	&__field
		input::-webkit-inner-spin-button
		input::-webkit-outer-spin-button
			margin 0
			-webkit-appearance none

	&__spin
		position absolute
		right 0
		width 32px
		height 19px
		border 1px solid #cdcdcd
		border-radius 3px
		// background #F5F5F5
		// background -webkit-linear-gradient(#FFF, #E6E6E6)
		// background linear-gradient(#FFF, #E6E6E6)
		// box-shadow 0 1px 2px rgba(0,0,0,.1)
		// box-shadow inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1)
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		text-shadow 1px 1px #FFF
		cursor pointer
		&:hover
			background #E6E6E6
			// background -webkit-linear-gradient(#F6F6F6, #E6E6E6)
			// background linear-gradient(#F6F6F6, #E6E6E6)
		&:active
			background #F5F5F5
			// box-shadow inset 1px 1px 3px #DDD
		&:after
			content ''
			position absolute
			left 12px

		&.plus
			top 0
			right 0
			&:after
				top 3px
				triangle(up, 4px, #999)
			&:hover
				&:after
					border-bottom-color #000
		&.minus
			bottom 0
			right 0
			&:after
				top 8px
				triangle(down, 4px, #999)
			&:hover
				&:after
					border-top-color #000

	&.disabled &__field,
	&.disabled &__spin
		border-color #CCC
		background #F5F5F5
		box-shadow none
		color #888


// Селект
.jq-selectbox
	width 100%
	vertical-align middle
	cursor pointer
	.placeholder
		color #888

	ul
		margin 0
		padding 0

	li
		min-height 18px
		padding 5px 10px 6px
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		white-space nowrap
		color #231F20

		.selected
			background-color #A3ABB1
			color #FFF

		&:hover
			background-color: #08C
			color #FFF

		.disabled
			color #AAA
			&:hover
				background none

		.optgroup
			font-weight bold
			&:hover
				background none
				color #231F20
				cursor default

		.option
			padding-left 25px

	&__select
		height 40px
		padding 0 45px 0 10px
		border 1px solid #CCC
		border-radius 4px
		background #fff
		font-size 14px
		line-height 40px
		color #333
		text-shadow 1px 1px #FFF

		&:hover
			background #fff - 2%

		&:active
			background #F5F5F5
			box-shadow inset 1px 1px 3px #DDD

	.focused
		.jq-selectbox__select
			border 1px solid #5794BF

	.disabled
		.jq-selectbox__select
			border-color #CCC
			background #F5F5F5
			box-shadow none
			color #888

		.jq-selectbox__trigger-arrow
			border-top-color #AAA

	&__select-text
		display block
		overflow hidden
		width 100%
		white-space nowrap
		text-overflow ellipsis

	&__trigger
		position absolute
		top 0
		right 0
		width 34px
		height 100%

	&__trigger-arrow
		position absolute
		top 42%
		right 12px
		width 0
		height 0
		triangle(down, 4px, #999)

	&:hover
		.jq-selectbox__trigger-arrow
			border-top-color #000

	&__dropdown
		box-sizing border-box
		width 100%
		margin 2px 0 0
		padding 0
		border 1px solid #CCC
		border-radius 4px
		background #FFF
		box-shadow 0 2px 10px rgba(0,0,0,.2)
		font-size 14px
		line-height 18px

	&__search
		margin 5px
		input
			box-sizing border-box
			width 100%
			margin 0
			padding 5px 27px 6px 8px
			border 1px solid #CCC
			border-radius 3px
			outline none
			background url("data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==") no-repeat 100% 50%
			box-shadow inset 1px 1px #F1F1F1
			color #333
			-webkit-appearance textfield

	&__search
		input
			&::-webkit-search-cancel-button
			&::-webkit-search-decoration
				-webkit-appearance none

	&__not-found
		margin 5px
		padding 5px 8px 6px
		background #F0F0F0
		font-size 13px


// Мультиселект
.jq-select-multiple
	width 100%
	box-sizing border-box
	padding 1px
	border 1px solid #CCC
	border-bottom-color #B3B3B3
	border-radius 4px
	background #FFF
	box-shadow inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1)
	font-size 14px
	line-height 18px
	color #333
	cursor default
	ul
		margin 0
		padding 0

	li
		padding 3px 9px 4px
		list-style none
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		white-space nowrap

		&:first-child
			border-radius 3px 3px 0 0

		&:last-child
			border-radius 0 0 3px 3px

		&.selected
			background #08C
			color #FFF

		&.disabled
			color #AAA

		&.optgroup
			font-weight bold

		&.option
			padding-left 25px

	&.focused
		border 1px solid #5794BF

	&.disabled
		border-color #CCC
		background #F5F5F5
		box-shadow none
		color #888

		li.selected
		li.selected.disabled
			background #CCC
			color #FFF


// Другие
input[type='email']
input[type='password']
input[type='search']
input[type='tel']
input[type='text']
input[type='url']
textarea
	&.styler
		padding 8px 9px
		border 1px solid #CCC
		border-bottom-color #B3B3B3
		border-radius 4px
		box-shadow inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1)
		font-size 14px
		color #333
		&:hover
			border-color #B3B3B3

		&:focus
			border-color #CCC
			border-top-color #B3B3B3
			outline none
			box-shadow inset 0 1px 2px rgba(0,0,0,.1)

input[type='search'].styler
	-webkit-appearance none

textarea.styler
	overflow auto



button
input[type='button']
input[type='submit']
input[type='reset']
	.styler
		overflow visible
		padding 8px 11px
		border 1px solid #CCC
		border-bottom-color #B3B3B3
		border-radius 4px
		outline none
		background #F5F5F5
		background linear-gradient(#FFF, #E6E6E6)
		box-shadow inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1)
		font-size 14px
		color #333
		text-shadow 1px 1px #FFF
		cursor pointer
		&::-moz-focus-inner
			padding 0
			border 0
		&:not([disabled]):hover
			background #E6E6E6
			background linear-gradient(#F6F6F6, #E6E6E6)
		&:not([disabled]):active
			background #F5F5F5
			box-shadow inset 1px 1px 3px #DDD
		&[disabled]
			border-color #CCC
			background #F5F5F5
			box-shadow none
			color #888

.github-button
	&
	&:visited
		padding 3px 10px
		display inline-block
		font-size 0
		color #fff
		text-decoration none
		border 1px solid transparent
		transition .3s background ease-in-out
		text-decoration none
		border-radius 2px

	&:hover
		text-decoration none
		color #333
		background #fff
		svg
			fill #333

	&__text
	&__icon
		display inline-block
		vertical-align middle

	&__text
		font-size 16px
		font-family notoserif

	&__icon
		transition all 300ms ease-in-out 0s
		margin-right 7px
		svg
			size 16px
			fill #fff

.header
	background #2d3e60
	padding 115px 0 35px
	+below($content-width)
		padding-top 70px

	&__inner
		max-width $content-width
		margin 0 auto

	&__top
		transition padding 0.5s ease 0s, background 0.5s ease 0s, box-shadow 0.5s ease 0s
		padding 1em 0
		position fixed
		top 0
		width 100%
		z-index 1000
		background-color #2d3e60
		box-sizing border-box


		+below($content-width)
			m-padding()

		+below(750px)
			padding-right 0
			padding-top 0
			padding-bottom 0

	&__logo
	&__menu
		float left

	&__logo
		width 190px
		margin-right 40px
		+below(980px)
			float none
			width auto
			margin 0
			text-align center
			padding-bottom 30px
		+below(750px)
			float left
			width 190px
			padding-bottom 0
			padding-top 5px

	&__menu
		width 600px
		padding-top 5px

	&__mobile-menu-trigger
		display none
		+below(750px)
			display block
			float right

	&__github
		float right
		width 110px
		padding-top 5px

	&__bottom
		padding 70px 0
		+below($content-width)
			m-padding()

	&__menu
	&__github
		+below(750px)
			display none

	&_fixed &__top
		box-shadow 0px 2px 3px rgba(#000, 0.04)

.header-presentation
	font-family notoserif
	text-align center

	&__name
		color #fff
		font-size 60px
		margin 0
		font-weight normal
		padding-bottom 20px
		line-height normal
		+below(375px)
			font-size 40px

	&__description
		color #fff
		font-size 18px
		margin 0
		font-weight normal
		padding-bottom 8px
		+below(375px)
			// padding-bottom 12px
			//

	&__try-now
		//

	&__version
		color #fff
		font-size 18px
		padding-bottom 8px

	&__sub-description
		color #fff
		font-size 14px
		padding-bottom 60px

	&__download
		width 230px
		margin auto

.input-group
	padding-bottom $form-item-padding
	&__label
		padding-bottom 8px
		display block
		font-size 14px
		font-weight bold
		user-select-none()

	&__body
		max-width 800px

	&__item
		padding-bottom $form-item-padding

	& .jq-checkbox
	& .jq-radio
		margin 0px 10px 0 0

.logo
	&
	&:visited
		line-height 1
		line-height normal
		font-family notoserif
		font-size 0
		color #fff
		font-size 30px
		text-decoration none


	&:hover
		color #fff - 10%

	&:hover &__icon
		animation heartbeat 2.5s infinite
		+below(750px)
			animation none

	&__name
		display inline-block
		vertical-align middle

	&__icon
		margin-right 4px
		display inline-block
		line-height 24px
		vertical-align middle

		+below(750px)
			animation heartbeat 2.5s infinite 5s

		svg
			size 27px
			fill #e74c3c



.main-menu
	ul-reset()

	&__item
		padding 0 20px 0 0
		list-style none
		font-family notoserif
		font-size 14px
		float left
		position relative

	&__link
		&
		&:visited
			display block
			text-decoration none
			color #fff
			padding 8px 11px 7px
			transition 125ms all ease-in-out

		&:hover
			color #fff
			text-decoration underline

	&__submenu
		visibility hidden
		opacity 0
		transition 125ms all ease-in-out
		position absolute
		top 38px
		left 0
		background #fff
		width 250px
		z-index 1
		border-radius 0 2px 2px 2px
		overflow hidden

	&__item:hover &__submenu
		visibility visible
		opacity 1

	&__item_dropdown &__link:after
		content ''
		display inline-block
		margin-left 6px
		triangle( down, 3px, #fff)
		vertical-align middle

	&__item_dropdown:hover &__link
		&
		&:visited
			border-radius 2px 2px 0 0
			background #fff
			color #111
		&:after
			triangle( up, 3px, #111)
			margin-bottom 4px

	.header_fixed &__submenu
		border 1px solid #ddd
		border-top none
		box-shadow 0px 2px 3px rgba(#000, 0.04)



.main-menu-submenu
	ul
		margin 0
		padding 0

	&__item
		list-style none
		background none
		padding 0
		font-family notosans
		a
			&
			&:visited
				display block
				padding 7px 10px
				color #414141
				text-decoration none
				transition 125ms all ease-in-out

			&:hover
				background #f2f2f5
				color #414141

			&:active
				color #2d3e60
				box-shadow inset 0 3px 5px rgba(0,0,0,0.125)

	&__item_active
		a
			&
			&:visited
				color #fff
				background #2d3e60 + 20%

.mobile-menu
	padding 20px 0
	ul-reset()

	&__item
		padding 0 0 20px 0
		list-style none

	&__icon
	&__text
		display inline-block
		vertical-align middle

	&__icon
		padding-right 6px
		svg
			display block
			size 16px
			fill #222

	&__link
		&
		&:visited
			vertical-align middle
			text-decoration none
			color #222
			display block
			padding 12px 20px
			line-height normal
			font-size 18px

		&:hover
			color #222

	&__submenu &__item
		padding-bottom 0

	&__submenu &__item:last-child &__submenu-link
		border-bottom none

	&__submenu-link
		&
		&:visited
			font-size 14px
			display block
			padding 10px 20px
			margin 0 20px 0 30px
			text-decoration none
			color #505050
			border-bottom 1px solid #e2e3e4

		&:hover
			color #2d3e60

.mobile-menu-trigger
	padding 23px 20px
	background transparent
	border none
	cursor pointer
	svg
		svgSize($hamburger)
		fill #fff
		display block

/*
 *  Remodal - v1.0.6
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
 Remodal's necessary styles
 ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked
	overflow hidden
	touch-action none


/* Anti FOUC */

.remodal,
[data-remodal-id]
	display none


/* Necessary styles of the overlay */

.remodal-overlay
	position fixed
	z-index 9999
	top -5000px
	right -5000px
	bottom -5000px
	left -5000px
	display none


/* Necessary styles of the wrapper */

.remodal-wrapper
	position fixed
	z-index 10000
	top 0
	right 0
	bottom 0
	left 0
	display none
	overflow auto
	text-align center
	-webkit-overflow-scrolling touch


.remodal-wrapper:after
	display inline-block
	height 100%
	margin-left -0.05em
	content ""


/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper
	backface-visibility hidden


/* Necessary styles of the modal dialog */

.remodal
	position relative
	outline none
	text-size-adjust 100%
	text-align left


.remodal-is-initialized
	/* Disable Anti-FOUC */
	display inline-block



// Modal styles
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened
	filter blur(3px)

.remodal-overlay
	background rgba(43, 46, 56, 0.9)

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing
	animation-duration 0.3s
	animation-fill-mode forwards

.remodal-overlay.remodal-is-opening
	animation-name remodal-overlay-opening-keyframes

.remodal-overlay.remodal-is-closing
	animation-name remodal-overlay-closing-keyframes

.remodal-wrapper
	padding 10px 10px 0

.remodal
	box-sizing border-box
	// width 100%
	// padding 20px
	transform translate3d(0, 0, 0)
	color #2b2e38
	background #fff

.remodal.remodal-is-opening,
.remodal.remodal-is-closing
	animation-duration 0.3s
	animation-fill-mode forwards

.remodal.remodal-is-opening
	animation-name remodal-opening-keyframes

.remodal.remodal-is-closing
	animation-name remodal-closing-keyframes

.remodal,
.remodal-wrapper:after
	vertical-align middle

.modal
	&__close
		position absolute
		display block
		overflow visible
		margin 0
		padding 0
		cursor pointer
		transition color 0.2s
		text-decoration none
		border 0
		outline 0
		background transparent
		z-index 1000
		right 7px
		top 7px
		size 28px
		font-size 15px
		padding 6px
		svg
			fill #505050
			size 16px
			display block

		&:hover
			svg
				fill #000

	&_type_alert &__content
		width 556px

@keyframes remodal-opening-keyframes
	from
		transform scale(1.05)
		opacity 0
	to
		transform none
		opacity 1

@keyframes remodal-closing-keyframes
	from
		transform none
		opacity 1
	to
		transform scale(0.95)
		opacity 0

@keyframes remodal-overlay-opening-keyframes
	from
		opacity 0
	to
		opacity 1

@keyframes remodal-overlay-closing-keyframes
	from
		opacity 1
	to
		opacity 0

@media only screen and (min-width 641px)
	.remodal
		max-width 1396px

.lt-ie9 .remodal-overlay
	background #2b2e38

.lt-ie9 .remodal
	width 700px

.page-title
	padding 0 0 8px 0
	margin 0
	border-bottom 1px solid #dadada

.pager
	font-size 0
	display inline-block
	&__arrow
		display inline-block
		padding 8px
		size 14px
		fill #d2d2d2
		line-height 1
		vertical-align middle
		text-align center
		transition 125ms all ease-in-out
		&:hover
			background-color #d2d2d2
			fill #fff
		svg
			svgSize($chevron-right)

	&__arrow_left
		margin-right 5px

	&__arrow_right
		margin-left 5px

	&__counter
		color #717171
		font-size 18px
		font-weight 400
		display inline-block
		vertical-align middle
		//
	&__total
		//

.pagination
	m-cf()
	text-align center
	+ul-reset()
		display inline-block
		font-size 0

	&__item
		list-style none
		padding 0
		display inline-block
		vertical-align middle
		font-size 16px
		font-weight 300

	&__link
		&
		&:visited
			color #505050
			padding 8px
			size 16px
			display block
			text-decoration none
			line-height 1

		&:hover
			color #9d9d9d
			text-decoration none

	&__arrow
		display inline-block
		line-height 1
		vertical-align middle
		text-align center
		transition 125ms all ease-in-out
		&:hover
			background-color #d2d2d2
			svg
				fill #fff
		svg
			fill #d2d2d2
			svgSize($chevron-right)

	&__item_active &__link
		&
		&:visited
			color #f05050

.pseudo-dropdown
	font-size 13px
	position relative
	display inline-block
	&__trigger
		cursor pointer
		padding 3px 8px
		display inline-block
		background #F9F9F9
		box-shadow 0 1px 5px rgba(22,20,17,.16)

		&:after
			content ''
			display inline-block
			vertical-align middle
			width 0
			height 0
			border 3px solid transparent
			border-top-color #333
			margin-left 4px
			border-bottom none
	&__list
		min-width 150px
		max-width 300px
		position absolute
		left 0
		top 100%
		z-index 100
		overflow hidden
		border-radius 3px
		background #fff
		opacity 0
		visibility hidden
		transition all 0.2s ease-in-out 0s
		box-shadow 0 0 7px rgba(0, 0, 0, 0.13)

	&_dropdown_open &__list
		opacity 1
		visibility visible

.pseudo-dropdown-list
	ul-reset()
	&__item
		padding 5px 12px
		list-style none
		cursor pointer
	&__item:hover
	&__item_active
		background #0074D9
		color #fff

.scroll-top
	background #2d3e60
	border none
	padding 25px 20px
	border-radius 50%
	box-shadow 0 2px 5px 0 rgba(#000, .26)
	position fixed
	right 40px
	bottom 50px
	outline none
	svg
		width 20px
		height 10px
		fill #fff
		display block


.search-widget
	position relative
	&__input
		border none
		background #717171
		font-size 16px
		font-weight 300
		height 30px
		line-height 30px
		padding 0 40px 0 10px
		box-sizing border-box
		width 100%
		color #a3a3a3
		transition 125ms all ease-in-out
		+placeholder()
			color #a3a3a3
		&:focus
			background #fff
			color #505050
			outline none

	&__submit
		position absolute
		right 0
		top 0
		size 30px
		border transparent
		background none
		padding 6px
		line-height 1
		fill #d4d4d4
		transition 125ms all ease-in-out

		&:focus
		&:hover
			outline none
			fill #d4d4d4 - 10%

		svg
			display inline-block
			vertical-align middle
			svgSize($maginifer)
			visibility visible

.sidebar
	padding-top 14px

.sidebar-menu
	background #fff
	background-color #fff

	ul-reset()

	&__item
		font-size 14px
		padding 0 0 18px 0
		list-style none

	&__link
		&
		&:visited
			font-weight bold
			display block
			padding 6px 20px 8px
			text-decoration none
			color #2d3e60
			transition 125ms all ease-in-out
			position relative
		&:hover
			// text-decoration underline
			color blue

		&:before
			content ''
			display block
			position absolute
			left 0
			bottom 0
			height 1px
			width 0
			transition width 0s ease, background .5s ease

		&:after
			content ''
			display block
			position absolute
			right 0
			bottom 0
			height 1px
			width 0
			background blue
			transition width .5s ease

		&:hover:before
			width 100%
			background blue
			transition width .5s ease

		&:hover:after
			width 100%
			background transparent
			transition all 0s ease

	&__submenu &__item
		padding 6px 30px 8px

	&__submenu a
		&
		&:visited
			text-decoration none
			color #323232
			transition 125ms all ease-in-out
			display block
			position relative

		&:hover
			text-decoration underline
			color blue



.social-icons
	display inline-block

	&__title
		color #505050
		font-size 20px
		font-weight 500
		margin 0
		padding-bottom 14px

	&__list
		+ul-reset()
			font-size 0

	&__item
		list-style none
		padding 0
		display inline-block
		margin-right 20px
		&:last-child
			margin-right 0
		a
			&
			&:visited
			&:hover
				display block
				text-decoration none

		svg
			transition 125ms all ease
			fill #b0b0b0
			size 34px

	&__item_vk:hover
		svg
			fill #45668e

	&__item_ok:hover
		svg
			fill #ed812b

	&__item_tw:hover
		svg
			fill #55acee

	&__item_fb:hover
		svg
			fill #3b5998

	&__item_gp:hover
		svg
			fill #dc4e41

	&__item_mr:hover
		svg
			fill #168de2

.stat-counter
	//
