.social-icons
	display inline-block

	&__list
		margin 0
		padding 0
		font-size 0

	&__item
		list-style none
		padding 0
		display inline-block
		margin-right 20px
		color #b0b0b0
		&:last-child
			margin-right 0

	&__link
		&
		&:visited
		&:hover
			transition 125ms all ease-in-out
			display block
			text-decoration none
			color currentColor

	&__icon
		size 34px

	&__item_vk
		&:hover
			color #45668e

	&__item_ok
		&:hover
			color #ed812b

	&__item_tw
		&:hover
			color #55acee

	&__item_fb
		&:hover
			color #3b5998

	&__item_gp
		&:hover
			color #dc4e41

	&__item_mr
		&:hover
			color #168de2
