include ../icon/icon

mixin social-icons(data)
	.social-icons&attributes(attributes)
		ul.social-icons__list
			li.social-icons__item.social-icons__item_fb
				a(href="#").social-icons__link
					+icon(name="fb" title="Facebook").social-icons__icon
					span.visuallyhidden Facebook

			li.social-icons__item.social-icons__item_gp
				a(href="#").social-icons__link
					+icon(name="gp" title="Google plus").social-icons__icon
					span.visuallyhidden Google plus

			li.social-icons__item.social-icons__item_tw
				a(href="#").social-icons__link
					+icon(name="tw" title="Twitter").social-icons__icon
					span.visuallyhidden Twitter

			li.social-icons__item.social-icons__item_mr
				+icon(name="mr" title="Mail.ru").social-icons__icon
					span.visuallyhidden Mail.ru

			li.social-icons__item.social-icons__item_ok
				a(href="#").social-icons__link
					+icon(name="ok" title="Odnoklassniki").social-icons__icon
					span.visuallyhidden Odnoklassniki

			li.social-icons__item.social-icons__item_vk
				a(href="#").social-icons__link
					+icon(name="vk" title="Vkontakte").social-icons__icon
					span.visuallyhidden Vkontakte



