include ../icon/icon

mixin social-icons(data)
	.social-icons
		h3.social-icons__title= data.title
		.social-icons__list
			ul
				li.social-icons__item.social-icons__item_fb
					a(href="#")
						+icon("fb")

				li.social-icons__item.social-icons__item_gp
					a(href="#")
						+icon("gp")

				li.social-icons__item.social-icons__item_tw
					a(href="#")
						+icon("tw")

				li.social-icons__item.social-icons__item_mr
					a(href="#")
						+icon("mr")

				li.social-icons__item.social-icons__item_ok
					a(href="#")
						+icon("ok")
						
				li.social-icons__item.social-icons__item_vk
					a(href="#")
						+icon("vk")



