// TYPOGRAPHY
section
	header
		h2#typography Typography
	
	h3#titles-and-paragraphs &#167; Titles &amp; Paragraphs
	p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. Надо сказать, что рекламная акция инновационна.
	p Организация слубы маркетинга усиливает рекламный макет. Стимулирование коммьюнити транслирует формат события. Медиапланирование одновременно тормозит рекламный бриф, опираясь на опыт западных коллег.
	p Правда, специалисты отмечают, что баинг и селлинг консолидирует межличностный креатив. Рыночная информация синхронизирует межличностный процесс стратегического планирования. Общество потребления нейтрализует метод изучения рынка. Построение бренда специфицирует фактор коммуникации.
	

	h1 H1 Proin gravida nibh vel velit auctor aliquetoin
	p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

	h2 H2 Aenean sollicitudin, lorem quis bibendum auctor elit
	p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

	h3 H3 Duis sed odio sit amet nibh vulputate cursus a sit amet.
	p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

	h4 H4 Morbi accumsan ipsum velit. 
	p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

	h5 H5 Nam nec tellus a odio tincidunt auctor a ornare odio.
	p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

	h6 H6 Sed non neque elit. Sed ut imperdiet nisi.
	p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям.

	h1 H1 Proin gravida nibh vel velit auctor aliquetoin
	h2 H2 Aenean sollicitudin, lorem quis bibendum auctor
	h3 H3 Duis sed odio sit amet nibh vulputate cursus a sit amet. 
	h4 H4 Morbi accumsan ipsum velit. 
	h5 H5 Nam nec tellus a odio tincidunt auctor a ornare odio. 
	h6 H6 Sed non neque elit. Sed ut imperdiet nisi.

	p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям.

	
	h3#unordered-lists &#167; Unordered lists
	ul
		li Proin gravida nibh vel velit auctor aliquet
		li Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
			ul
				li Morbi accumsan ipsum velit. Nam nec tellus aitae ass aptent taciti sociosqu ad litora torquent 
				li per conubia nostra, per inceptos himenaeos. 
					ul
						li Mauris in erat justo. 
						li Proin gravida nibh vel velit auctor aliquet
			li Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
			li Morbi accumsan ipsum velit. Nam nec tellus aitae ass aptent taciti sociosqu ad litora 
		li Yorquent  per conubia nostra, per inceptos himenaeos. 
		li Mauris in erat justo. 
	
	h3#ordered-lists &#167; Ordered lists
	ol
		li Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. 
		li Sed ut imperdiet nisi. 
			ol
				li Proin condimentum fermentum nunc. 
				li Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis 
					ol
						li Suspendisse in orci enim.
						li Morbi accumsan ipsum velit. Nam nec tellus aitae ass aptent taciti sociosqu
		li Per conubia nostra, per inceptos himenaeos
		li Etiam pharetra, erat sed fermentum feugiat
	
	h3#tables &#167; Tables
	table
		caption Table with caption, colgroup, thead, tfoot, and tbody
		colgroup
			col
			col
			col
			col
		thead
			tr
				th Etiam
				th Pharetra
				th Erat sed
				th Feugiat
		tfoot
			tr
				th Etiam
				th Pharetra
				th Erat sed
				th Feugiat
		tbody
			tr
				td Nam nec tellus
				td 8873-1978-8717
				td 145.58
				td m³

			tr
				td Etiam
				td 532-8725-9727
				td 17800.50
				td m²

			tr
				td Suspendisse
				td 3364-2214-8781
				td 312.22
				td $

			tr
				td Morbi accumsan
				td 5547-2212-8884
				td 7822.33
				td €

			tr
				td Condimentum 
				td 6687-2111-5557
				td 25.00
				td 444

			tr
				td Nam nec tellus
				td 7898-4460-4557
				td 13.25
				td 13.25

			tr
				td Etiam
				td 1400-0077-7741
				td 140000
				td 140000

			tr
				td Suspendisse
				td 1829-9774-6660
				td 18.26
				td 18.26

			tr
				td Condimentum 
				td 6687-2111-5557
				td 3.141592653589793238462
				td +V
	
	h3#quotes &#167; Quotes
	blockquote
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		footer
			cite Someone famous
	
	h3#description-lists &#167; Description lists
	dl
		dt Description lists
		dd A description list defines terms and their corresponding descriptions.

		dt This is a term
		dd This is a description.

		dt This is a term
		dd This is a description.
	
	h3#code &#167; Code
	pre
		code
			| &lt;!DOCTYPE html&gt;
			| &lt;html lang="en"&gt;
			| &lt;head&gt;
			|	&lt;meta charset="UTF-8" /&gt;
			|	&lt;title&gt;Sample document&lt;/title&gt;
			| &lt;/head&gt;
			| &lt;body&gt;
			| 	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque architecto eius nemo voluptatem assumenda, impedit adipisci beatae modi hic nostrum natus fugiat illo rem quia, consequuntur blanditiis tempora nihil. Voluptatibus.&lt;/p&gt;
			| &lt;/body&gt;
			| &lt;/html&gt;

	h3#text-elements &#167; Text level elements
	p Text level 
		abbr(title="HyperText Markup Language") HTML
		|  elements may be used within other elements. They include: 
		em em 
		| and 
		strong strong 
		| for semantic emphasis, 
		i i 
		| and 
		b b 
		| for presentational formatting, 
		abbr abbr 
		| abbreviations, cite citations, 
		code code example
		| , 
		del del
		| , 
		ins ins
		|  for visibly deleted and inserted content, 
		dfn dfn 
		| definitions, 
		mark mark
		|  for highlighted passages and 
		sup sup 
		| superscript and 
		sub sub 
		| subscript.

	hr
// END TYPOGRAPHY

// ARTICLES
section
	header
		h2#articles Articles

	article
		header
			h3 This is an Article
			time(datetime="2013-05-27") Wednesday, May 27, 2015
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem magni numquam vitae. Animi rem nisi, eaque nobis sed omnis laboriosam, mollitia! Accusantium culpa delectus quia, ratione tenetur magni voluptas voluptatum!

		footer
			a(href="#") read more &raquo;

	article
		header
			h3 This is Another Article
			time(datetime="2013-05-27") Wednesday, May 27, 2015
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem magni numquam vitae. Animi rem nisi, eaque nobis sed omnis laboriosam, mollitia! Accusantium culpa delectus quia, ratione tenetur magni voluptas voluptatum!
		aside This is an example of an aside. Its related to the content at hand, however isn&apos;t part of the main content.

		p There"s also an article element, meant for articles. This article has its own header and footer as well. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui. Nulla lectus velit, ornare sit amet blandit in, mattis eget nulla.

		footer
			a(href="#") read more &raquo;
	hr
// END ARTICLES

// TABS
section
	header
		h2#tabs Tabs
	.b-tabs.b-tabs_style_default.b-tabs_mode_horizontal
		.b-tabs__head
			.b-tabs__head-item
				a(href='#tab1') Tab 1
			.b-tabs__head-item
				a(href='#tab2') Tab 2
			.b-tabs__head-item
				a(href='#tab3') Tab 3
			.clear
		.b-tabs__body
			#tab1.b-tabs__body-content
				h2 Tab 1 Proin gravida nibh vel velit auctor aliquetoin
				p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

			#tab2.b-tabs__body-content
				h2 Tab 2. H1 Proin gravida nibh vel velit auctor aliquetoin
				p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

			#tab3.b-tabs__body-content
				h2 Tab 3. H1 Proin gravida nibh vel velit auctor aliquetoin
				p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 
		.clear

	.b-tabs.b-tabs_style_default.b-tabs_mode_vertical
		.b-tabs__head
			.b-tabs__head-item
				a(href='#tab21') Tab 1
			.b-tabs__head-item
				a(href='#tab22') Tab 2
			.b-tabs__head-item
				a(href='#tab23') Tab 3
			.clear
		.b-tabs__body
			#tab21.b-tabs__body-content
				h2 Tab 1 Proin gravida nibh vel velit auctor aliquetoin
				p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

			#tab22.b-tabs__body-content
				h2 Tab 2. H1 Proin gravida nibh vel velit auctor aliquetoin
				p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 

			#tab23.b-tabs__body-content
				h2 Tab 3. H1 Proin gravida nibh vel velit auctor aliquetoin
				p Мы сообщество волонтеров, которые помогают животным на собственные средства и средства людей, разделяющих наши взгляды. Все члены Фонда помогают животным в свободное от основной работы время на добровольных и бескорыстных началах. Бюджетирования со стороны государства, как и постоянных состоятельных спонсоров, у Фонда нет. Возможности наши ограничены.  Обычно, когда люди слышат о нас, то первым делом хотят позвонить и попросить забрать бездомную собаку или кошку, живущую возле их подъезда. Не удивляйтесь, если Вам откажут.  Бишкеке около 130 тыс. животных, нуждающихся в помощи, которые приносят около 300 тыс. щенков. И это только собаки. Забрать   всех   у Фонда нет возможности. Опросная анкета трансформирует популярный инструмент маркетинга. Таргетирование конструктивно. Охват аудитории концентрирует формат события. Согласно последним исследованиям, взаимодействие корпорации и клиента редко соответствует рыночным ожиданиям. 
		.clear

	
// END TABS

// FORMS
section
	header
		h2#forms Forms
	h3#messaging &#167; Messaging
	script.
		$(function() {
			$('.b-alert__close').on('click', function() {
				$(this).closest('.b-alert').fadeOut();
			});
		});
	.b-alert.b-alert_style_error
		.b-alert__title Error message title
		.b-alert__body Error message text. A, esse, iste enim, maxime libero cumque tenetur suscipit quam dolorum voluptatibus et temporibus recusandae. Tempora ex eligendi dicta, adipisci omnis cum.
		.b-alert__close &times;
	
	.b-alert.b-alert_style_success
		.b-alert__title Success message title
		.b-alert__body Success message text. A, esse, iste enim, maxime libero cumque tenetur suscipit quam dolorum voluptatibus et temporibus recusandae. Tempora ex eligendi dicta, adipisci omnis cum.
		.b-alert__close &times;

	.b-alert.b-alert_style_info
		.b-alert__title Info message title
		.b-alert__body Info message text. A, esse, iste enim, maxime libero cumque tenetur suscipit quam dolorum voluptatibus et temporibus recusandae. Tempora ex eligendi dicta, adipisci omnis cum.
		.b-alert__close &times;

	.b-alert.b-alert_style_message
		.b-alert__title Message title
		.b-alert__body Message text. A, esse, iste enim, maxime libero cumque tenetur suscipit quam dolorum voluptatibus et temporibus recusandae. Tempora ex eligendi dicta, adipisci omnis cum.
		.b-alert__close &times;

	p This is a filler paragraph – Ignore this. These are scattered through out the markup to simulate content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui. Nulla lectus velit, ornare sit amet blandit in, mattis eget nulla.
	
	.b-form
		form(method="post", action="#")
			.b-form__section
				h3#text-inputs &#167; Text Inputs
				.b-form__item
					+input(type="text", name="name", label="Name", value="Nikolas")

				.b-form__item
					+input(type="email", name="email", label="Email", placeholder="info@example.com", pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}", title="Введите верный адрес email")

				.b-form__item
					+input(type="url", name="url", label="Your site URL", placeholder="http://www.example.com", pattern="https?://.+", title = "Введите url начинающийся с http:// или https://")

				.b-form__item
					+input(type="tel", name="tel", label="Your phone", placeholder="+123 123-345-6789", pattern="(\+?\d[- .]*){7,13}", title="Международный, государственный или местный телефонный номер")

				.b-form__item
					+input(type="password", name="password", value="password", placholder="Enter password", label="Password", errors=["some error message", "another error message"])

				.b-form__item
					+input(type="number", name="number", placholder="18", label="Your age")
			
			.b-form__section
				h3#radios-and-checkboxes &#167; Radios and Checkboxes
				.b-form__item
					+inputGroup("Radios")
						+input(type="radio", name="radio-group-3", id="radio-1", label="Normal")
						+input(type="radio", name="radio-group-3", id="radio-2", label="Checked", checked="true")
						+input(type="radio", name="radio-group-4", id="radio-3", label="Disabled", disabled="true")
						+input(type="radio", name="radio-group-4", id="radio-4", label="Checked and Disabled", checked="true", disabled="true")
				.b-form__item
					+inputGroup("Checkboxes")
						+input(type="checkbox", name="checkbox-group-1", id="checkbox-1", label="Normal")
						+input(type="checkbox", name="checkbox-group-1", id="checkbox-2", label="Checked", checked="true")
						+input(type="checkbox", name="checkbox-group-2", id="checkbox-3", label="Disabled", disabled="true")
						+input(type="checkbox", name="checkbox-group-2", id="checkbox-4", label="Checked and Disabled", checked="true", disabled="true")

			.b-form__section
				h3#selects &#167; Selects
				-var data = ["Lorem ipsum", "Dolor sit amet", "Consectetur adipisicing", "Elit", "Expedita at soluta"]
				.b-form__item
					+input(type="select", name="select", placeholder="Select value...", label="Select", value=data)

				.b-form__item
					+input(type="multiselect", name="multiple-select", label="Multiselect", value=["Value 1", "Value 2", "Value 3", "Value 4", "Value 5", "Value 6", "Value 7"], size="10")
			
			.b-form__section
				h3#textareas-and-files &#167; Textareas and Files
				.b-form__item
					+input(type="textarea", name="textarea", label="Textarea", placeholder="Textarea placeholder")

				.b-form__item
					+input(type="file", name="file", label="File")

			.b-form__section
				h3#captcha &#167; Captcha
				.b-form__item
					+input(type="captcha", name="captcha", label="Captcha", image="img/content/captcha.png")

	h3#buttons &#167; Buttons
	button(type="button").b-button.b-button_color_grey.b-button_size_lg Large
	button(type="button").b-button.b-button_color_grey Default
	button(type="button").b-button.b-button_color_grey.b-button_size_sm Small
	button(type="button").b-button.b-button_color_grey.b-button_size_xs Extra small

	button(type="button").b-button.b-button_color_blue.b-button_size_lg Large
	button(type="button").b-button.b-button_color_blue Default
	button(type="button").b-button.b-button_color_blue.b-button_size_sm Small
	button(type="button").b-button.b-button_color_blue.b-button_size_xs Extra small

	h4 &#167; Link buttons
	a(href="#").b-button.b-button_color_grey.b-button_size_lg Large
	|  
	a(href="#").b-button.b-button_color_grey Default
	|  
	a(href="#").b-button.b-button_color_grey.b-button_size_sm Small
	|  
	a(href="#").b-button.b-button_color_grey.b-button_size_xs Extra small
	|  

	a(href="#").b-button.b-button_color_blue.b-button_size_lg Large
	|  
	a(href="#").b-button.b-button_color_blue Default
	|  
	a(href="#").b-button.b-button_color_blue.b-button_size_sm Small
	|  
	a(href="#").b-button.b-button_color_blue.b-button_size_xs Extra small
	|  

	h4 &#167; Disabled buttons
	button(type="button", disabled).b-button.b-button_color_grey.b-button_size_lg Large
	button(type="button", disabled).b-button.b-button_color_grey Default
	button(type="button", disabled).b-button.b-button_color_grey.b-button_size_sm Small
	button(type="button", disabled).b-button.b-button_color_grey.b-button_size_xs Extra small

	button(type="button").b-button.b-button_color_blue.b-button_size_lg.b-button_disabled Large
	button(type="button").b-button.b-button_color_blue.b-button_disabled Default
	button(type="button").b-button.b-button_color_blue.b-button_size_sm.b-button_disabled Small
	button(type="button").b-button.b-button_color_blue.b-button_size_xs.b-button_disabled Extra small

	h4 &#167; Block buttons
	button(type="button").b-button.b-button_color_grey.b-button_size_lg.b-button_block Large
	button(type="button").b-button.b-button_color_grey.b-button_block Default
	button(type="button").b-button.b-button_color_grey.b-button_size_sm.b-button_block Small
	button(type="button").b-button.b-button_color_grey.b-button_size_xs.b-button_block Extra small

	button(type="button").b-button.b-button_color_blue.b-button_size_lg.b-button_block Large
	button(type="button").b-button.b-button_color_blue.b-button_block Default
	button(type="button").b-button.b-button_color_blue.b-button_size_sm.b-button_block Small
	button(type="button").b-button.b-button_color_blue.b-button_size_xs.b-button_block Extra small
				
// END FORMS
