h3 Наиболее удаленными точками Польши являются
p 54,2% территории расположено на высоте до 150 м над уровнем моря 36,9% - от 150 до 300 м н.у.м., 5,7% - от 300 до 500 м н.у.м., 2,9 – от 500 до №1000 м н.у.м.
p Общая площадь Польши – 312 658 км2 (по площади занимает 69 место в мире, и 9 в Европе);
p Общая протяжённость границ – 3 528 км, из них – 3 054 км сухопутных, и 528 морских.
p Территория Польши составляет 312 677 кв.км), территориальные воды - 8 682 кв.км (12-мильная зона). Форма Польши на карте напоминает круг, геометрическая граница которого располагается к юго-западу от Лодзи - 19о07' в.д., 51о55' с.ш.

h2 Я приближался к месту моего назначения.
p В Бишкеке в честь Дня независимости состоится фотовыставка на тему «Улыбки Кыргызстана»
p
	span.red Территория Польши
	| простирается от 49o00’ до 54о50’ северной широты и от 14o07’ до 24o08’ восточной долготы.
	br
	| 54,2% территории расположено на высоте до 150 м над уровнем моря 36,9% - от 150 до 300 м н.у.м., 5,7% - от 300 до 500 м н.у.м., 2,9 – от 500 до 1000 м н.у.м.
p Общая площадь Польши – 312 658 км2 (по площади занимает 69 место в мире, и 9 в Европе);
p Общая протяжённость границ – 3 528 км, из них – 3 054 км сухопутных, и 528 морских.
p Территория Польши составляет 312 677 кв.км), территориальные воды - 8 682 кв.км (12-мильная зона). Форма Польши на карте напоминает круг, геометрическая граница которого располагается к юго-западу от Лодзи - 19о07' в.д., 51о55' с.ш.
p Наиболее удалёнными точками Польши являются:

ul.bullet
	li мыс Розеве (Rozewie) - 54о50';
	li вершина Ополонек (Opolonek) в Бесчадах (Bieszczady) - 49о00';
	li изгиб р. Одры (Odra) на запад от г. Цедыни (Cedynia) - 14о07';
	li изгиб р. Буг (Bug) на восток около г. Хородла (Horodl) - 24о08'.

h3 Границы:
p Современные границы Польши определились по окончанию 2 мировой войны. Их длина сократилась почти на 2000 км по сравнению с довоенными (1939 г).
p На 31 декабря 1945 года территория Польши составляла 311,7 тыс. кв.км., а до войны - 208,9 тыс.кв.км. В состав Польши вошли "присоединённые земли" - 100,9 тыс.кв.км. и 1,9 тыс.кв.км. - территория бывшего 
	a(href='#') Вольного города Гданьска.
p Сегодняшняя территория Польши составляет 312 685 кв.км.,
p
	| Общая протяжённость границ составляла в 1947 году 3566 км., из них граница с Германией - 456 км, с Чехословакией - 1292 км, с СССР - 1321 км, остальное - 497 км - морская граница. Сегодня длина границ составляет 3582 км, из них морских - 528 км.
	br
	q
		| Границы устанавливались в разное время разными способами. Граница с СССР была определена соглашением от 16 августа
	| 1945 года и соглашением 25 марта 1957 года. Второе соглашение определило балтийскую часть границ с СССР. Граница с ГДР была определена на переговорах 6 июля 1950 года, а граница с Чехословакией - на переговорах 13 июня 1958 года.
p После политического передела в последних десятилетиях (образования новых государств) польские границы составляют: с Россией (Калининградская область) - 210 км, с Литвой - 103 км, с Белоруссией - 416 км, с Украиной - 529 км, со Словакией - 539 км, с Чехией - 790 км, с Германией - 467 км, длина морских границ - 528 км.

h3 Климат:
p Океанские воздушные массы придают климату мягкость. Преобладают западные ветры, приносящие прохладу и дожди летом и снегопады зимой.
p
	| Восточные ветры приносят жару летом, и морозы зимой.
	br
	| Средняя температура июля - плюс 17,9o, января – минус 4,5o.

h1 Восьмого декабря 1915 года Мэгги Клири исполнилось четыре года.
p Прибрав после завтрака посуду, мать молча сунула ей в руки сверток в коричневой бумаге и велела идти во двор. И вот Мэгги сидит на корточках под кустом утесника у ворот и нетерпеливо теребит сверток.
h2 Не так-то легко развернуть неловкими пальцами плотную бумагу
p от нее немножко пахнет большим магазином в Уэхайне, и Мэгги догадывается: то, что внутри, не сами делали и никто не дал, а — вот чудеса! — купили в магазине. С одного уголка начинает просвечивать что-то тонкое, золотистое; Мэгги еще торопливей набрасывается на обертку, отдирает от нее длинные неровные полосы.

h3 Конечно, это чудо
p За всю свою жизнь Мэгги только раз была в Уэхайне — давно-давно, еще в мае, ее туда взяли, потому что она была пай-девочкой. Она забралась тогда в двуколку рядом с матерью и вела себя лучше некуда, но от волнения почти ничего не видела и не запомнила, только одну Агнес.

h4 Красавица кукла сидела на прилавке нарядная
p в розовом шелковом кринолине, пышно отделанном кремовыми кружевными оборками. Мэгги в ту же минуту окрестила ее Агнес — она не знала более изысканного имени, достойного такой необыкновенной красавицы. Но потом долгие месяцы она лишь безнадежно тосковала по Агнес;

h5 ведь у Мэгги никогда еще не было никаких кукол
p она даже не подозревала, что маленьким девочкам полагаются куклы. Она превесело играла свистульками, рогатками и помятыми оловянными солдатиками, которых уже повыбрасывали старшие братья, руки у нее всегда были перепачканы, башмаки в грязи.

h6 Мэгги и в голову не пришло, что Агнес — игрушка.
p  Она провела ладонью по складкам ярко-розового платья — такого великолепного платья она никогда не видала на живой женщине — и любовно взяла куклу на руки. У Агнес руки и ноги на шарнирах, их можно повернуть и согнуть как угодно; даже шея и тоненькая стройная талия сгибаются.

ul.bullet
	li Золотистые волосы высоко зачесаны и разубраны жемчужинками,
	li открытая нежно-розовая шея и плечи выступают из пены кружев, сколотых жемчужной булавкой. Тонко разрисованное фарфоровое личико не покрыли глазурью
	li и оно матовое, нежное, совсем как человеческое. Удивительно живые синие глаза блестят, ресницы из настоящих волос, радужная оболочка

ol.bullet
	li вся в лучиках и окружена темно-синим ободком; к восторгу Мэгги,
	li оказалось, что если Агнес положить на спину, глаза у нее закрываются.
	li На одной румяной щеке чернеет родинка, темно-красный рот чуть приоткрыт, виднеются крохотные белые зубы.

table(cellpadding='0', cellspacing='0')
	thead
		tr
			th Заголовок первого столбца
			th Очень, очень, очень, приочень длинный заголовок второго столбца таблицы
	tbody
		tr
			td Мэгги уютно скрестила ноги, осторожно усадила куклу
			td на колени к себе — сидела и не сводила с нее глаз.
		tr
			td Она все еще сидела там, под кустом, когда из зарослей высокой травы
			td так близко к забору ее неудобно косить
		tr
			td вынырнули Джек и Хьюги. Волосы Мэгги, как у истинной Клири
			td пылали точно маяк: всем детям в семье, кроме Фрэнка, досталось это наказанье
p
	| пылали точно
	i маяк
	| : всем детям в
	strong семье, кроме Фрэнка
	| , досталось это наказанье — у всех рыжие вихры, только разных оттенков. Джек весело подтолкнул брата локтем — гляди, мол. Переглядываясь,
	b ухмыляясь
	| , они подобрались к ней с двух сторон, будто они солдаты и
	u устроили облаву на изменника маори
	| . Да Мэгги все равно бы их не услышала, она была поглощена одной только Агнес и что-то ей тихонько напевала.

h1 Heading 1
h2 Heading 2
h3 Heading 3
h4 Heading 4
h5 Heading 5
h6 Heading 6
h1 Text-level semantics
p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m.
p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m.
hr
p The 
	a(href='#') a element 
	| example 
	br
	| The 
	abbr abbr element 
	| and 
	abbr(title='Title text') abbr element with title 
	| examples 
	br
	| The 
	b b element 
	| example 
	br
	| The 
	cite cite element 
	| example 
	br
	| The 
	code code element 
	| example 
	br
	| The 
	del del element 
	| example 
	br
	| The 
	dfn dfn element 
	| and 
	dfn(title='Title text') dfn element with title 
	| examples 
	br
	| The 
	em em element 
	| example 
	br
	| The 
	i i element 
	| example 
	br
	| The img element 
	img(src='http://lorempixel.com/16/16', alt='') 
	| example 
	br
	| The 
	ins ins element 
	| example 
	br
	| The 
	kbd kbd element 
	| example 
	br
	| The 
	q
		| q element 
		q inside 
		| a q element 
	| example 
	br
	| The 
	s s element 
	| example 
	br
	| The 
	samp samp element 
	| example 
	br
	| The 
	small small element 
	| example 
	br
	| The 
	span span element 
	| example 
	br
	| The 
	span.red red span element 
	| example 
	br
	| The 
	strong strong element 
	| example 
	br
	| The 
	sub sub element 
	| example 
	br
	| The 
	sup sup element 
	| example 
	br
	| The 
	u u element 
	| example 
	br
	| The 
	var var element 
	| example 
h1 Embedded content
h3 IMG
img(src='http://lorempixel.com/100/100', alt='')
a(href='#')
	img(src='http://lorempixel.com/100/100', alt='')
p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m.
h3 PRE
pre.
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et me.			
pre
	code.
		&lt;html&gt;
		&lt;head&gt;
			&lt;title&gt;Page Title&lt;/title&gt;
		&lt;/head&gt;
			&lt;body&gt;
				&lt;div class="main"&gt; &lt;div&gt;
			&lt;/body&gt;
		&lt;/html&gt;
	
h3 BLOCKQUOTE
blockquote
	p Some sort of famous witty quote marked up with a &lt;blockquote&gt; and a child &lt;p&gt; element.

blockquote Even better philosophical quote marked up with just a &lt;blockquote&gt; element.

h3 ORDERED LIST
ol.bullet
	li list item 1
	li list item 1
		ol
			li list item 2
			li list item 2
				ol
					li list item 3
					li list item 3
			li list item 2
			li list item 2
	li list item 1
	li list item 1

h3 UNORDERED LIST
ul.bullet
	li list item 1
	li list item 1
		ul
			li list item 2
			li list item 2
				ul
					li list item 3
					li list item 3
			li list item 2
			li list item 2
	li list item 1
	li list item 1

h3 DESCRIPTION LIST
dl
	dt Description name
	dd Description value
	dt Description name
	dd Description value
	dd Description value
	dt Description name
	dt Description name
	dd Description value
h1 TABULAR DATA
table
	caption Jimi Hendrix - albums
	thead
		tr
			th Album
			th Year
			th Price
	tfoot
		tr
			th Album
			th Year
			th Price
	tbody
		tr
			td Are You Experienced
			td 1967
			td $10.00
		tr
			td Axis: Bold as Love
			td 1967
			td $12.00
		tr
			td Electric Ladyland
			td 1968
			td $10.00
		tr
			td Band of Gypsys
			td 1970
			td $12.00

table
	caption Pre-installed fonts
	thead
		tr
			th(colspan="4") Mac
			th(colspan="4") Windows

		tr
			th Serif
			th %
			th Sans-serif
			th %
			th Serif
			th %
			th Sans-serif
			th %
	tfoot

		tr
			th Serif
			th %
			th Sans-serif
			th %
			th Serif
			th %
			th Sans-serif
			th %
		tr
			th(colspan="4") Mac
			th(colspan="4") Windows
	tbody
		tr
			td Times
			td 96.23
			td Helvetica
			td 99.71
			td Georgia
			td 98.55
			td Verdana
			td 99.40
		tr
			td Georgia
			td 94.20
			td Geneva
			td 98.84
			td Times New Roman
			td 98.60
			td Tahoma
			td 99.30
		tr
			td Times New Roman
			td 93.62
			td Lucida Grande
			td 99.13
			td Palatino Linotype
			td 98.04
			td Arial
			td 99.15
		tr
			td Hoefler Text
			td 88.70
			td Arial
			td 97.10
			td Book Antiqua
			td 86.09
			td Trebuchet MS
			td 99.00
		tr
			td Baskerville
			td 88.60
			td Verdana
			td 96.81
			td Garamond
			td 86.24
			td Lucida Sans Unicode
			td 98.25
		tr
			td Didot
			td 87.72
			td Helvetica Neue
			td 94.74
			td Cambria
			td 54.51
			td Franklin Gothic Medium
			td 97.89
		tr
			td Big Caslon
			td 85.10
			td Trebuchet MS
			td 94.20
			td Constantia
			td 53.81
			td Calibri
			td 54.76
		tr
			td Palatino
			td 79.71
			td Gill Sans
			td 91.52
			td Goudy Old Style
			td 51.30
			td Candara
			td 54.31
		tr
			td Lucida Bright
			td 64.90
			td Futura
			td 91.01
			td Baskerville Old Face
			td 49.10
			td Gill Sans MT
			td 51.74
		tr
			td Garamond
			td 23.84
			td Optima
			td 90.14
			td Bodoni MT
			td 47.89
			td Segoe UI
			td 45.04