.b-grid.b-grid_demo
	.b-grid__row
		.b-grid__col 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4
		.b-grid__col 5
		.b-grid__col 6
		.b-grid__col 7
		.b-grid__col 8
		.b-grid__col 9
		.b-grid__col 10
		.b-grid__col 11
		.b-grid__col 12

	.b-grid__row
		.b-grid__col.b-grid__col_2 1
		.b-grid__col.b-grid__col_2 2
		.b-grid__col.b-grid__col_2 3
		.b-grid__col.b-grid__col_2 4
		.b-grid__col.b-grid__col_2 5
		.b-grid__col.b-grid__col_2 6

	.b-grid__row
		.b-grid__col.b-grid__col_3 1
		.b-grid__col.b-grid__col_3 2
		.b-grid__col.b-grid__col_3 3
		.b-grid__col.b-grid__col_3 4

	.b-grid__row
		.b-grid__col.b-grid__col_4 1
		.b-grid__col.b-grid__col_4 2
		.b-grid__col.b-grid__col_4 3

	.b-grid__row
		.b-grid__col.b-grid__col_6 1
		.b-grid__col.b-grid__col_6 2
	
	.b-grid__row
		.b-grid__col.b-grid__col_12 1

	.b-grid__row
		.b-grid__col.b-grid__col_1 1
		.b-grid__col.b-grid__col_11 2

	.b-grid__row
		.b-grid__col.b-grid__col_2 1
		.b-grid__col.b-grid__col_10 2

	.b-grid__row
		.b-grid__col.b-grid__col_3 1
		.b-grid__col.b-grid__col_9 2

	.b-grid__row
		.b-grid__col.b-grid__col_4 1
		.b-grid__col.b-grid__col_8 2

	.b-grid__row
		.b-grid__col.b-grid__col_5 1
		.b-grid__col.b-grid__col_7 2

	.b-grid__row
		.b-grid__col.b-grid__col_6 1
		.b-grid__col.b-grid__col_6 2

	.b-grid__row
		.b-grid__col.b-grid__col_7 1
		.b-grid__col.b-grid__col_5 2

	.b-grid__row
		.b-grid__col.b-grid__col_8 1
		.b-grid__col.b-grid__col_4 2

	.b-grid__row
		.b-grid__col.b-grid__col_9 1
		.b-grid__col.b-grid__col_3 2

	.b-grid__row
		.b-grid__col.b-grid__col_10 1
		.b-grid__col.b-grid__col_2 2

	.b-grid__row
		.b-grid__col.b-grid__col_11 1
		.b-grid__col.b-grid__col_1 2

	.b-grid__row
		.b-grid__col.b-grid__col_offset_1 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4
		.b-grid__col 5
		.b-grid__col 6
		.b-grid__col 7
		.b-grid__col 8
		.b-grid__col 9
		.b-grid__col 10
		.b-grid__col 11

	.b-grid__row
		.b-grid__col.b-grid__col_offset_2 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4
		.b-grid__col 5
		.b-grid__col 6
		.b-grid__col 7
		.b-grid__col 8
		.b-grid__col 9
		.b-grid__col 10

	.b-grid__row
		.b-grid__col.b-grid__col_offset_3 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4
		.b-grid__col 5
		.b-grid__col 6
		.b-grid__col 7
		.b-grid__col 8
		.b-grid__col 9

	.b-grid__row
		.b-grid__col.b-grid__col_offset_4 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4
		.b-grid__col 5
		.b-grid__col 6
		.b-grid__col 7
		.b-grid__col 8

	.b-grid__row
		.b-grid__col.b-grid__col_offset_5 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4
		.b-grid__col 5
		.b-grid__col 6
		.b-grid__col 7

	.b-grid__row
		.b-grid__col.b-grid__col_offset_6 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4
		.b-grid__col 5
		.b-grid__col 6

	.b-grid__row
		.b-grid__col.b-grid__col_offset_7 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4
		.b-grid__col 5

	.b-grid__row
		.b-grid__col.b-grid__col_offset_8 1
		.b-grid__col 2
		.b-grid__col 3
		.b-grid__col 4

	.b-grid__row
		.b-grid__col.b-grid__col_offset_9 1
		.b-grid__col 2
		.b-grid__col 3

	.b-grid__row
		.b-grid__col.b-grid__col_offset_10 1
		.b-grid__col 2

	.b-grid__row
		.b-grid__col.b-grid__col_offset_11 1

	
