// BREAD CRUMBS
.b-bread-crumbs
	ul
		each val, index in ['Главная', 'Категория товара']
			li.b-bread-crumbs__item 
				a(href="#").b-bread-crumbs__link= val
				span.b-bread-crumbs__separator /

		li.b-bread-crumbs__item Название страницы
	.clear

// END BREAD CRUMBS
