.b-gallery
	.b-gallery__main-image
		img(src="img/content/18.png", alt="Картинка")

	.b-gallery__list
		ul
			each ent, num in ["18", "19", "20", "21"]
				-if ((num+1)%4 == 0)
					-var galleryLastClass = 'b-gallery__item_last'
				-else
					-var galleryLastClass = ''

				-if (num == 0)
					-var galleryFirstClass = 'js-gallery-item-selected'
				-else 
					-var galleryFirstClass = ''
					
				li.b-gallery__item(class=galleryLastClass, class=galleryFirstClass)
					a(href="img/content/#{ent}.png").js-gallery-list-link
						img(src="img/content/#{ent}t.png", alt="Картинка")
				-if ((num+1)%4 == 0)
					li.b-gallery__item_clear