aside.b-sidebar
	section.b-sidebar__section
		.b-sidebar-menu
			h3.b-sidebar-menu__title Navigation
			nav.b-sidebar-menu__items
				ul
					each ent, num in menuData
						li.b-sidebar-menu__item
							a(href="#{ent.url}").b-sidebar-menu__link!= ent.title
							if (ent.submenu !== false)
								.b-sidebar-menu__submenu
									.b-sidebar-menu-submenu
										ul
											each ent2, num2 in ent.submenu
												li.b-sidebar-menu-submenu__item: a(href="#{ent2.url}")!= ent2.title
					


	section.b-sidebar__section
		.b-text-widget
			h3.b-text-widget__title Widget example
			.b-text-widget__body
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam necessitatibus vero iste beatae, doloremque. Beatae tempore animi consequatur, iste quam fugiat quos, quasi aliquam sint, sequi debitis facilis magnam! Dolor!
				ul
					li lorem ipsum dolor sit amet
					li consectetur adipisicing elit
					li minus vero placeat quae nisi
					li repellat illum laudantium officiis
					li reiciendis perferendis blanditiis

