aside(role="complementary").b-sidebar
	section.b-sidebar__section
		nav.b-sidebar-menu
			ul
				each ent, num in ["Typography", "Articles", "Lists", "Tables", "Forms", "Breaks and Headings"]
					.b-sidebar-menu__item: a(href="#")= ent

	section.b-sidebar__section
		.b-text-widget
			h3.b-text-widget__title Widget example
			.b-text-widget__body
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam necessitatibus vero iste beatae, doloremque. Beatae tempore animi consequatur, iste quam fugiat quos, quasi aliquam sint, sequi debitis facilis magnam! Dolor!
				ul
					li lorem ipsum dolor sit amet
					li consectetur adipisicing elit
					li minus vero placeat quae nisi
					li repellat illum laudantium officiis
					li reiciendis perferendis blanditiis
