.b-image-slider.js-image-slider
	ul.b-slides
		- for (var slidesCounter = 0; slidesCounter < 5; slidesCounter++)
			li
				.b-slide-item
					.b-slide-item__image
						a(href="#")
							img(src="img/content/#{slidesCounter+1}.png", alt="Картинка")
					.b-slide-item__text
						h3.b-slide-item__title: a(href="#") Беспроводной графический планшет
						p.b-slide-item__description: a(href="#") Добавьте беспроводной планшет MimioPad™ к системе MimioTeach™, и вы с вашими учениками сможете совместно работать на уроках у интерактивной доски на расстоянии до 9 метров от классного компьютера. 


script(type="text/javascript").
	$(document).ready(function() {
		$('.js-image-slider').bjqs({
			// width and height need to be provided to enforce consistency
			// if responsive is set to true, these values act as maximum dimensions
			width : 468,
			height : 500,

			// animation values
			animtype : 'slide', // accepts 'fade' or 'slide'
			animduration : 450, // how fast the animation are
			animspeed : 3000, // the delay between each slide
			automatic : true, // automatic

			// control and marker configuration
			showcontrols : true, // show next and prev controls
			centercontrols : false, // center controls verically
			nexttext : 'Next', // Text for 'next' button (can use HTML)
			prevtext : 'Prev', // Text for 'previous' button (can use HTML)
			showmarkers : true, // Show individual slide markers
			centermarkers : true, // Center markers horizontally

			// interaction values
			keyboardnav : true, // enable keyboard navigation
			hoverpause : true, // pause the slider on hover

			// presentational options
			usecaptions : true, // show captions for images using the image title tag
			randomstart : true, // start slider at random slide
			responsive : false
		});
	});