ol
ul
	padding-left 2em

	+below($media-screen-phone)
		padding-left 0
		list-style-position inside

dt
	font-weight bold

dd
	margin-bottom $base-vertical-spacing
	margin-left 0
	padding-left $base-vertical-spacing
