.scroll
	overflow auto

.scroll
.scroll-x
.scroll-y
	-webkit-overflow-scrolling touch
	will-change scroll-position

.scroll-x
	overflow-x auto

.scroll-y
	overflow-y auto

.no-scroll
	overflow hidden !important
