.margin-none
	margin 0 !important

.margin-bottom_none
	margin-bottom 0 !important

.margin-top_none
	margin-top 0 !important

.margin-left_none
	margin-left 0 !important

.margin-right_none
	margin-right 0 !important

.padding-none
	padding 0 !important

.padding-bottom_none
	padding-bottom 0 !important

.padding-top_none
	padding-top 0 !important

.padding-left_none
	padding-left 0 !important

.padding-right_none
	padding-right 0 !important
