.bold
	font-weight bold

.italic
	font-style italic

.uppercase
	text-transform uppercase

.lowercase
	text-transform lowercase

.capitalize
	text-transform capitalize

.caps
	font-variant small-caps
