$table-border-color = #e6e6e6
$table-head-border-color = #fff
$table-back-color = #264b8f + 90%
$table-stripe-color = #f7f7f7
$table-font-color = $base-text-color

.table
	margin $base-line-height 0
	border 1px solid $table-border-color
	border-spacing 0
	border-collapse collapse
	empty-cells show

	caption
		padding 1em 0
		color $table-font-color
		text-align center
		font-style italic
		font-size 85%
		line-height 1

	td
	th
		overflow visible
		margin 0
		padding 0.5em 1em
		border-width 0 0 0 1px
		border-left 1px solid $table-border-color
		font-weight normal
		font-size inherit

		&:first-child
			border-left-width 0

	thead
	tfoot
		background-color $table-back-color
		color $table-font-color
		vertical-align bottom
		text-align left

		if $table-head-border-color
			td
			th
				border-color $table-head-border-color

	td
		background-color transparent

	// Horizontal stripes
	&_striped
		tr:nth-child(2n-1)
			td
				background-color $table-stripe-color

	// All cels bordered
	&_bordered
		td
			border-bottom 1px solid $table-border-color

		tbody
		thead
			> tr:last-child
				> td
					border-bottom-width 0

	// Horizontal borders
	&_horizontal
		td
		th
			border-width 0 0 1px 0
			border-bottom 1px solid $table-border-color

		tbody
		thead
			> tr:last-child
				> td
					border-bottom-width 0

	// Responsive tables
	&_responsive
		+below($media-screen-tablet)
			thead
			tfoot
				display none

			caption
				display block

			tbody
				tr
					border-bottom 1px solid $table-border-color

				td
					display block
					border none
					vertical-align top

					&:before
						display block
						content attr(data-th) ': '
						font-weight bold

					& ^[0]__content
						display block
						vertical-align top

					&:first-child
						padding-top 1.5em

					&:last-child
						padding-bottom 1.5em
