$table-border-color = $gray-4
$table-head-border-color = $table-border-color
$table-head-border = true
$table-back-color = $blue-0
$table-stripe-color = $gray-0
$table-font-color = $base-text-color

.table
	margin $base-line-height 0
	width 100%
	border-spacing 0
	border-collapse collapse
	empty-cells show

	caption
		padding 1em 0
		color inherit
		text-align center
		font-style italic
		font-size 90%

	td
	th
		overflow visible
		margin 0
		padding 0.5em 1em
		border-width 0
		border-style solid
		border-color $table-border-color
		font-weight normal
		font-size inherit

	thead
	tfoot
		background-color $table-back-color
		color $table-font-color
		vertical-align bottom
		text-align left

		td
		th
			font-weight 500

			if $table-head-border-color
				border-color $table-head-border-color

	td
		background-color transparent

	&_vertical
		border 1px solid $table-border-color

		td
		th
			border-width 0 0 0 1px

			&:first-child
				border-left-width 0

	// Horizontal stripes
	&_striped
		tr:nth-child(2n-1)
			td
				background-color $table-stripe-color

	// All cels bordered
	&_bordered
		border 1px solid $table-border-color

		th
		td
			border-bottom 1px solid $table-border-color

		tbody
		thead
			> tr:last-child
				> td
					if !$table-head-border
						border-bottom-width 0

	// Horizontal borders
	&_horizontal
		border 1px solid $table-border-color

		td
		th
			border-width 0 0 1px 0
			border-bottom 1px solid $table-border-color

		tbody
		thead
			> tr:last-child
				> td
					if !$table-head-border
						border-bottom-width 0

	// Responsive tables
	&_responsive
		+below($media-screen-tablet)
			thead
			tfoot
				display none

			caption
				display block

			tbody
				tr
					border-bottom 1px solid $table-border-color

				td
					display block
					border none
					vertical-align top

					&:before
						display block
						content attr(data-th) ': '
						font-weight bold

					& ^[0]__content
						display block
						vertical-align top

					&:first-child
						padding-top 1.5em

					&:last-child
						padding-bottom 1.5em
