<% _.each(icons, function (icon) { %>$<%= icon.className %> = <%= icon.width %> <%= icon.height %>
<% });%>

svgSize($icon)
	width $icon[0]
	height $icon[1]


// Default icons sizes
.icon
	// Add coment for normal stylus compilation
	// https://github.com/zoxon/gulp-front/issues/22
	<% _.each(icons, function (icon) { %>
	&_<%= icon.className %>
		width <%= icon.width %>
		height <%= icon.height %>
	<% }); %>
