.features-list-item
	text-align center

	&__icon
		display inline-block
		margin-bottom 1.5em
		size 48px false
		color $blue-6

	&__title
		margin 0
		margin-bottom 0.5em
		font-weight 500
		font-size 1em

	&__description
		margin 0
		font-size em(14px)
