.features-list-item
	padding 1.5em
	text-align center

	&__icon
		display inline-block
		margin-bottom 1.5em
		size 48px false
		color $blue-6

	&__title
		margin 0
		margin-bottom em(8px)
		font-weight 500
		font-size em(16px)

	&__description
		margin 0
		font-size em(14px)
