// Default Form style

// Color
$form-color-active = $blue-6
$form-color-border = $gray-4
$form-color-background = #fff
$form-color-placeholder = $gray-6
$form-color-font = $base-text-color
$form-color-background_disabled = $gray-0
$form-color-border_focus = $blue-6
$form-color-border_invalid = $red-6

// Font
$form-font-size = 13px

// Padding
$form-padding_horizontal = 18px
$form-padding_vertical = ceil(($form-padding_horizontal / 2))

// Size
$form-size-input-height = 40px
$form-input-width-inline = em(280px)

// Border
$form-border_default = 1px solid $form-color-border
$form-border-radius = 3px
