// Base
$base-bg-color = #fff
$base-text-color = $gray-9
$base-loud-color = #000
$base-font-family = roboto
$base-font-size = 1.6em
$base-line-height = 1.8125
$fixed-font-family = mono
$base-vertical-spacing = em(24px)

// Headings
$heading-font-family = roboto
$heading-color = $base-text-color
$heading-font-weight = 300

// Links
$link-color = $blue-7
$link-hover-color = $red-7
$link-visited-color = $violet-8
