.mobile-menu
	padding-top 62px

	&__header
		position relative
		position fixed
		top 0
		right 0
		left 0
		z-index 1
		display flex
		align-items center
		padding-left em(24px)
		height 62px
		background #fff
		box-shadow 0 2px 6px 0 rgba(#b0bac5, 0.6)

	&__menu
		// 

	&__title
		margin 0
		font-weight 500
		font-size em(24px)

	&__close
		margin-left auto
		padding 22px
		color $blue-6

	&__list
		margin 0
		padding 0

	&__item
		padding 0 0 em(24px)
		list-style none

	&__link
		&
		&:visited
			display block
			padding em(16px, 24px) em(32px, 24px)
			color $base-text-color
			vertical-align middle
			text-decoration none
			font-size em(24px)
			line-height normal

		&:hover
			color $base-text-color

	&__submenu
		margin 0
		padding 0 em(32px)

	&__submenu &__item
		padding-bottom 0

	&__submenu &__item:last-child &__submenu-link
		border-bottom none

	&__submenu-link
		&
		&:visited
			display block
			padding 1em 1.5em
			border-bottom 1px solid $gray-3
			color $base-text-color
			text-decoration none
			font-size em(16px)

		&:hover
			color $base-text-color
