.mobile-menu
	padding 1.5em 0

	&__list
		margin 0
		padding 0

	&__item
		padding 0 0 1.5em
		list-style none

	&__icon
	&__text
		display inline-block
		vertical-align middle

	&__icon
		padding-right 6px
		color $blue-6

		svg
			display block
			size 1em

	&__link
		&
		&:visited
			display block
			padding 1em 1.5em
			color $base-text-color
			vertical-align middle
			text-decoration none
			font-size 1em
			line-height normal

		&:hover
			color $base-text-color

	&__submenu
		margin 0
		padding 0 2em

	&__submenu &__item
		padding-bottom 0

	&__submenu &__item:last-child &__submenu-link
		border-bottom none

	&__submenu-link
		&
		&:visited
			display block
			padding 1em 1.5em
			border-bottom 1px solid $gray-3
			color $base-text-color
			text-decoration none
			font-size 0.8em

		&:hover
			color $base-text-color
