include ../icon/icon

mixin mobile-menu(data)
	.mobile-menu.js-link-sroll&attributes(attributes)
		nav.mobile-menu__menu
			ul.mobile-menu__list
				each item in data
					li.mobile-menu__item
						a(href=item.url).mobile-menu__link
							span.mobile-menu__icon
								+icon(item.icon)
							span.mobile-menu__text= item.title

						if item.submenu
							ul.mobile-menu__submenu
								each subItem in item.submenu
									li.mobile-menu__item
										a(href=subItem.url).mobile-menu__submenu-link= subItem.title
