mixin card-text(data)
	.card-text&attributes(attributes)
		header.card-text__header
			h1.card-text__title= data.title
			p.card-text__subtitle= data.subtitle
		main.card-text__description= data.description
