.card-text
	&__title
	&__subtitle
	&__description
		margin 0

	&__title
		padding-bottom 0.25em
		font-size 1.4em
		font-family notosans

	&__subtitle
		color $gray-6

	&__header
		padding-bottom 0.5em
