.tooltip
	display inline-block
	background rgba(#616161, 0.9)
	border-radius 2px
	padding 8px
	font-size 12px
	color #fff
	max-width 300px
	position fixed
	top -500px
	left -500px
	z-index 999
	transform-origin top center
	opacity 0
	visibility hidden
	transition 200ms opacity cubic-bezier(0,0,.2,1)
	line-height 1.4em
	&_visible
		opacity 1
		visibility visible

	&:after
		content ''
		position absolute

	&_bottom
	&_top
		&:after
			left 50%

	&_left
	&_right
		&:after
			top 50%

	&_bottom
		&:after
			triangle(up, 5px, rgba(#616161, 0.9))
			bottom 100%
			margin-left -3px

	&_top
		&:after
			triangle(down, 5px, rgba(#616161, 0.9))
			top 100%
			margin-left -3px

	&_left
		&:after
			triangle(right, 5px, rgba(#616161, 0.9))
			left 100%
			margin-top -3px

	&_right
		&:after
			triangle(left, 5px, rgba(#616161, 0.9))
			right 100%
			margin-top -3px
