.logo
	&
	&:visited
		line-height 1
		line-height normal
		font-family notoserif
		font-size 0
		color #fff
		font-size 30px
		text-decoration none


	&:hover
		color #fff - 10%

	&:hover &__icon
		animation heartbeat 2.5s infinite
		+below(750px)
			animation none

	&__name
		display inline-block
		vertical-align middle

	&__icon
		margin-right 4px
		display inline-block
		line-height 24px
		vertical-align middle
		color #e74c3c
		size 27px

		+below(750px)
			animation heartbeat 2.5s infinite 5s


