.logo
	&
	&:visited
		display inline-block
		text-decoration none
		font-size 30px
		line-height 1

	&:hover &__icon
		animation heartbeat 2.5s infinite

		+below(750px)
			animation none

	&__name
	&__icon
		display inline-block
		vertical-align middle

	&__name
		color #fff
		font-family notoserif

	&__icon
		margin-right 4px
		size 27px
		color #e74c3c

		+below(750px)
			animation heartbeat 2.5s infinite 5s

// animation heartbeat 2.5s infinite
@keyframes heartbeat
	0%
		transform scale(1)

	5%
		transform scale(1.3)

	10%
		transform scale(1.1)

	15%
		transform scale(1.4)

	50%
		transform scale(1)

	100%
		transform scale(1)
