.radio
	position relative
	cursor pointer
	display inline-block

	&__box
		display block
		position absolute
		left 0
		top 0
		&:before
			content ''
			display block
			transition 125ms all ease
			position absolute
			opacity 0
			will-change opacity, transform

	&__control
		//

		&:focus ~ ^[0]__box
			border-color $form-color-border_focus
			outline none
			focus($form-color-border_focus)

		&:checked + ^[0]__box:before
			opacity 1

		&:disabled ~ ^[0]__box
		&:disabled ~ ^[0]__label
			opacity 0.5


	&__label
		user-select none

	&_style_default
		& ^[0]__box
			size ($form-size-input-height / 2)
			border $form-border_default
			transition 125ms border-color ease
			border-radius 50%
			&:before
				left 6px
				top 6px
				size 8px
				background-color $form-color-active
				border-radius 50%
				opacity 0

			&:disabled + ^[0]__box
				background $form-color-background - 8%

		& ^[0]__label
			padding-left 32px
			+below(1024px)
				padding-top 10px
				padding-bottom 10px

