mixin radio(data)
	- var radioClasses = ['radio']

	- attributes.type = "radio"

	if attributes.class
		- radioClasses.push(attributes.class)
		- delete attributes.class


	label(class=radioClasses for=attributes.id)
		input&attributes(attributes).form-control.form-control_type_radio.radio__control
		span.radio__box
		if block
			span.radio__label
				block
