.badge
	display inline-block
	position relative
	vertical-align baseline
	text-decoration none
	text-transform none
	white-space nowrap
	text-align center
	min-width 1.6em
	padding 0.3em

	// colors
	&_style_solid&_color_gray
		color #fff
		background-color $gray-6

	&_style_solid&_color_black
		color #fff
		background-color $gray-9

	&_style_solid&_color_red
		color #fff
		background-color $red-6

	&_style_solid&_color_pink
		color #fff
		background-color $pink-6

	&_style_solid&_color_grape
		color #fff
		background-color $grape-6

	&_style_solid&_color_violet
		color #fff
		background-color $violet-6

	&_style_solid&_color_indigo
		color #fff
		background-color $indigo-6

	&_style_solid&_color_blue
		color #fff
		background-color $blue-6

	&_style_solid&_color_cyan
		color #fff
		background-color $cyan-6

	&_style_solid&_color_teal
		color #fff
		background-color $teal-6

	&_style_solid&_color_green
		color #fff
		background-color $green-6

	&_style_solid&_color_lime
		color #fff
		background-color $lime-6

	&_style_solid&_color_yellow
		color #fff
		background-color $yellow-6

	&_style_solid&_color_orange
		color #fff
		background-color $orange-6



	// styles
	&_style_rounded
		border-radius 0.25em

	&_style_circle
		border-radius 1.45em

	// sizes
	&_size_extra-extra-small
	&_size_xxs
		font-size 25%

	&_size_extra-small
	&_size_xs
		font-size 50%

	&_size_small
	&_size_s
		font-size 75%

	&_size_medium
	&_size_m
		font-size 100%

	&_size_large
	&_size_l
		font-size 125%

	&_size_extra-large
	&_size_xl
		font-size 150%

	&_size_extra-extra-large
	&_size_xxl
		font-size 175%
