.badge
	position relative
	display inline-block
	padding 0.3em
	min-width 1.6em
	vertical-align baseline
	text-align center
	text-decoration none
	text-transform none
	white-space nowrap

	// colors
	&_style_solid&_color_gray
		background-color $gray-6
		color #fff

	&_style_solid&_color_black
		background-color $gray-9
		color #fff

	&_style_solid&_color_red
		background-color $red-6
		color #fff

	&_style_solid&_color_pink
		background-color $pink-6
		color #fff

	&_style_solid&_color_grape
		background-color $grape-6
		color #fff

	&_style_solid&_color_violet
		background-color $violet-6
		color #fff

	&_style_solid&_color_indigo
		background-color $indigo-6
		color #fff

	&_style_solid&_color_blue
		background-color $blue-6
		color #fff

	&_style_solid&_color_cyan
		background-color $cyan-6
		color #fff

	&_style_solid&_color_teal
		background-color $teal-6
		color #fff

	&_style_solid&_color_green
		background-color $green-6
		color #fff

	&_style_solid&_color_lime
		background-color $lime-6
		color #fff

	&_style_solid&_color_yellow
		background-color $yellow-6
		color #fff

	&_style_solid&_color_orange
		background-color $orange-6
		color #fff

	// styles
	&_style_rounded
		border-radius 0.25em

	&_style_circle
		border-radius 1.45em

	&_style_dot
		padding 0
		min-width auto
		size 0.5em
		border-radius 50em

		& ^[0]__text
			display none

	// sizes
	&_size_extra-extra-small
	&_size_xxs
		font-size 25%

	&_size_extra-small
	&_size_xs
		font-size 50%

	&_size_small
	&_size_s
		font-size 75%

	&_size_medium
	&_size_m
		font-size 100%

	&_size_large
	&_size_l
		font-size 125%

	&_size_extra-large
	&_size_xl
		font-size 150%

	&_size_extra-extra-large
	&_size_xxl
		font-size 175%
