.badge
	display inline-block
	position relative
	vertical-align baseline
	line-height 1
	text-decoration none
	text-transform none
	white-space nowrap
	padding 5px 8px

	// colors
	&_color_grey
		color #666
		background-color #f5f5f5

	&_color_black
		color #fff
		background-color #383838

	&_color_blue
		color #fff
		background-color #3498da

	&_color_dark-blue
		color #fff
		background-color #34495e

	&_color_green
		color #fff
		background-color #27ae60

	&_color_yellow
		color #fff
		background-color #f1c40f

	&_color_orange
		color #fff
		background-color #e57e22

	&_color_red
		color #fff
		background-color #e74c3c

	&_color_aqua
		color #fff
		background-color #1abcaf

	&_color_purple
		color #fff
		background-color #9b59b6

	// styles
	&_style_rounded
		border-radius 3px

	&_style_circle
		border-radius 1.45em

	// sizes
	&_size_extra-large
		font-size 20px
		padding 8px 13px

	&_size_large
		font-size 18px
		padding 6px 10px

	&_size_small
		font-size 12px
		padding 4px 7px

	&_size_extra-small
		font-size 10px
		padding 3px 5px
