include ../../alert/alert

+alert(alert.default).alert_color_gray
+alert(alert.default).alert_color_black
+alert(alert.default).alert_color_red
+alert(alert.default).alert_color_pink
+alert(alert.default).alert_color_grape
+alert(alert.default).alert_color_violet
+alert(alert.default).alert_color_indigo
+alert(alert.default).alert_color_blue
+alert(alert.default).alert_color_cyan
+alert(alert.default).alert_color_teal
+alert(alert.default).alert_color_green
+alert(alert.default).alert_color_lime
+alert(alert.default).alert_color_yellow
+alert(alert.default).alert_color_orange
