include ../../form-item/form-item
include ../../label/label
include ../../textarea/textarea
include ../../file/file

+form-item().form__item
	+inject('label')
		+label({"for": "form-demo__message", "text": "Message"})
	+inject('control')
		+textarea(id="form-demo__message" name="form-demo__message" placeholder="Enter message").textarea_style_default

+form-item().form__item
	+inject('label')
		+label({"for": "form-demo__photo2", "text": "Photo"})
	+inject('control')
		+file(type="text" name="form-demo__photo2" id="form-demo__photo2" data-multiple-caption="Files selected: {count}" data-button-text="Select the file(s)" data-file-text="Nothing is selected" multiple).file_style_default

+form-item().form__item
	+inject('label')
		+label({"for": "form-demo__photo", "text": "Another language"})
	+inject('control')
		+file(type="text" name="form-demo__photo" id="form-demo__photo" multiple).file_style_default

