@import "_variables/colors"
@import "_variables/typography"
@import "_variables/forms.default"

/* Fonts */
roboto = "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif

/* Project variables */
$content-width = 960px
$mobile-padding = 24px
$container-width = $container-width = $content-width + (24px * 2)
