@import "_globals"

// Svg icons
@import "../../tmp/icons-template.styl" if file-exists("../../tmp/icons-template.styl")

// Png sprites
@import "../../tmp/sprite.styl" if file-exists("../../tmp/sprite.styl")

// Plugins
// @import 'plugin-name/plugin-style.css'
// @import 'plugin-name/plugin-style.styl'

// Modules
@import "../modules/**/!(_)*.styl"
@import "_common"
