.main-menu-submenu
	overflow-y auto
	max-height 70vh

	&__list
		margin 0
		padding 0

	&__item
		padding 0
		background none
		list-style none
		font-family notosans

		a
			&
			&:visited
				display block
				padding 7px 10px
				color #414141
				text-decoration none
				transition 125ms all ease-in-out

			&:hover
				background #f2f2f5
				color #414141

			&:active
				box-shadow inset 0 3px 5px rgba(0, 0, 0, 0.125)
				color #2d3e60

	&__item_active
		a
			&
			&:visited
				background #2d3e60 + 20%
				color #fff
