mixin main-menu-submenu(data)
	.main-menu-submenu&attributes(attributes)
		ul.main-menu-submenu__list
			each item in data
				li.main-menu-submenu__item
					a(href=`${data.parent}.html#${item.url}`).main-menu-submenu__link= item.title
