.main-menu-submenu
	ul
		margin 0
		padding 0

	&__item
		list-style none
		background none
		padding 0
		font-family notosans
		a
			&
			&:visited
				display block
				padding 7px 10px
				color #111
				text-decoration none

			&:hover
				background #2d3e60 + 20%
				color #fff

	&__item_active
		a
			&
			&:visited
				color #fff
				background #2d3e60 + 20%
