extends page

include ../modules/scroll-top/scroll-top


block page
	.page__mobile-menu(data-offcanvas-menu aria-hidden="true")
		block mobile-menu
	.page__content
		.page__header
			block header

		.page__main
			block main

		.page__footer
			block footer
	
	.page__overlay(data-offcanvas-overlay)

	+scroll-top()
