include ../avatar/avatar

mixin card-header(data)
	mixin _card-header__head(data)
		if data.title
			h1.card-header__title= data.title
		if data.subtitle
			p.card-header__subtitle= data.subtitle

	header.card-header.media-object.media-object_image_center&attributes(attributes)
		if data.image
			.card-header__image.media-object__image
				+avatar({image: data.image, title: data.title}).avatar_size_small.avatar_color_blue.avatar_style_circle

			.card-header__text.media-object__body
				+_card-header__head(data)
		else
			+_card-header__head(data)
