.card-header
	&__image
		margin-right 0.8em
		overflow hidden

	&__text
		//
	&__title
	&__subtitle
		font-size 0.8em
		margin 0

	&__title
		font-family notosans
		padding-bottom 0.25em

	&__subtitle
		color $gray-6
