.card-header
	&__image
		overflow hidden
		margin-right 0.8em

	&__text
		// 

	&__title
	&__subtitle
		margin 0
		font-size 0.8em

	&__title
		padding-bottom 0.25em
		font-weight bold

	&__subtitle
		color $gray-6
