body
	background #fff
	margin 0 !important
	padding 0 !important

.page-list
	padding 40px 55px
	max-width 700px

	&__list
		margin 0
		padding 0

	&__title
		font-family arial
		font-size 30px
		font-weight normal
		margin 0
		padding-bottom 20px

	&__item
		font-family arial
		list-style none
		padding 0 0 10px 0
		font-size 14px

	&__link
		&
		&:visited
			display inline-block
			color #290656
			text-decoration underline

		&:hover
			text-decoration none
			color #374EC5

	&__spacer
	&__file-name
		display inline-block
		color grey
		font-size 12px
		font-family georgia
		font-style italic
		padding-left 10px
		margin 0


@media screen and (max-width: 640px)
	.page-list
		padding 20px

		&__item
			display block
			padding 0

		&__spacer
		&__file-name
			display none

		&__link
			&
			&:visited
				display block
				padding 10px

