body
	margin 0 !important
	padding 0 !important
	background #fff

.page-list
	padding 40px 55px
	max-width 700px

	&__list
		margin 0
		padding 0

	&__title
		margin 0
		padding-bottom 20px
		font-weight normal
		font-size 30px
		font-family arial

	&__item
		padding 0 0 10px
		list-style none
		font-size 14px
		font-family arial

	&__link
		&
		&:visited
			display inline-block
			color #290656
			text-decoration underline

		&:hover
			color #374EC5
			text-decoration none

	&__spacer
	&__file-name
		display inline-block
		margin 0
		padding-left 10px
		color grey
		font-style italic
		font-size 12px
		font-family georgia

@media screen and (max-width: 640px)
	.page-list
		padding 20px

		&__item
			display block
			padding 0

		&__spacer
		&__file-name
			display none

		&__link
			&
			&:visited
				display block
				padding 10px
