.page-list
	padding 20px 55px
	max-width 700px

	ul
		margin 0
		padding 0

	&__title
		font-family arial
		font-size 30px
		font-weight normal

	&__item
		font-family arial
		list-style none
		padding 0 0 10px 0
		font-size 14px

	&__link
		&
		&:visited
			display inline-block
			height 15px
			color #290656
			text-decoration underline

		&:hover
			text-decoration none
			color #374EC5

	&__spacer
	&__file-name
		color grey
		font-size 12px
		font-family georgia
		font-style italic
		padding 5px 0 10px 10px
		margin 0

