extends ../layouts/default

include ../modules/container/container
include ../modules/footer/footer
include ../modules/header/header
include ../modules/mobile-menu/mobile-menu
include ../modules/container/container

block head
	- page.title = "Documentation"
	- page.class = ["page_style_default"]

block mobile-menu
	+mobile-menu(mainMenu.default)
	
block header
	+header()

block mobile-menu
	+mobile-menu(mainMenu.default)

block main
	+container()
		.demo.demo_documentation.content-wrapper
			include:markdown-it(langPrefix="highlight-" quotes="“”‘’" linkify="true" typographer="true" html="true") ../../docs/FAQ.md

block footer
	+footer(footer.default)
