include ../modules/injected/injected
include ../modules/page/page

include ../modules/head/head
include ../modules/footer/footer
include ../modules/header/header

include ../modules/sidebar/sidebar
include ../modules/page-title/page-title

include ../modules/demo/demo


doctype html
html(class="no-js" lang=config.lang)

	head
		+head(head.home)
		style
			:stylus
				.buttons-demo
					.button
						margin-bottom 20px

					.button-group
						margin-bottom 20px
						&__item
							margin 0
							&:last-child
								margin-left -1px

				.demo-icons
					.icon
						display inline-block
						padding 20px
						box-shadow 0 1px 5px rgba(22, 20, 17, 0.16)
						width 34px
						height 34px
						margin 5px

					.flag
						width 34px
						height 26px

						&_squared
							width 34px
							height 34px

	+page()
		+inject('header')
			+header()

		+inject('main')
			.layout.layout_sidebar_left
				.layout__sidebar
					+sidebar()
				.layout__content
					+page-title({"title": "Gulp-front features"})
					+demo()

		+inject('footer')
			+footer()


