extends ../layouts/default

include ../modules/footer/footer
include ../modules/header/header

include ../modules/sidebar/sidebar
include ../modules/page-title/page-title

include ../modules/demo/demo


block head
	- title = "Gulp-front Demo"
	
block header
	+header()

block main
	.layout.layout_sidebar_left
		.layout__sidebar
			+sidebar()
		.layout__content
			+page-title({"title": "Gulp-front features"})
			+demo()

block footer
	+footer()
