extends ../layouts/default

include ../modules/footer/footer
include ../modules/header/header

include ../modules/sidebar/sidebar
include ../modules/page-title/page-title

include ../modules/demo/demo


block head
	- title = "Gulp-front Demo"
	style
		:stylus
			.demo
				.button
					margin-bottom 20px

				.button-group
					margin-bottom 20px
					&__item
						margin 0
						&:last-child
							margin-left -1px

			.demo-icons
				.icon
					display inline-block
					padding 20px
					box-shadow 0 1px 5px rgba(22, 20, 17, 0.16)
					width 34px
					height 34px
					margin 5px

				.flag
					width 34px
					height 26px

					&_squared
						width 34px
						height 34px
			
			.demo-grid

				&__item
					display inline-block
					box-sizing border-box
					margin 10px
			
			.demo-grid-item
				display flex
				flex-direction column
				justify-content space-between
				text-align center

				&__container
					height 100%
					display flex
					justify-content center
					align-items center
					margin-bottom 1em
					//
				&__title
					color #666
	
block header
	+header()

block main
	.layout.layout_sidebar_left
		.layout__sidebar
			+sidebar()
		.layout__content
			+page-title({"title": "Gulp-front features"})
			+demo()

block footer
	+footer()
