extends ../layouts/home

include ../modules/footer/footer
include ../modules/header/header
include ../modules/main-page/main-page

block head
	- title = "Gulp-front"
	
block header
	+header()

block main
	+main-page()

block footer
	+footer(footer.default)
