include ../modules/head/head
include ../modules/_page-list/_page-list

doctype html
html(class="no-js" lang=config.lang)

	head
		+head(head.index)

	style
		:stylus
			@import "../static/styles/_variables.styl"
			@import "../static/styles/components/mixins.styl"
			@import "../modules/_page-list/_page-list.styl"

	body.page
		+page-list(pageList.data)
