doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="ru-RU", lang="ru-RU")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		title Аптечная сеть «Лекарь»
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		script(type="text/javascript", src="js/jquery-1.9.1.min.js")
		script(type="text/javascript", src="js/jquery.formstyler.js")
		script(type="text/javascript", src="js/bjqs-1.3.js")
		script(type="text/javascript", src="js/script.js")
		link(rel="stylesheet", type="text/css", href="css/reset.css", media="all")
		link(rel="stylesheet", type="text/css", href="css/jquery.formstyler.css", media="all")
		link(rel="stylesheet", type="text/css", href="css/style.css", media="all")
		//- Need for debug remove in production
		//- script(type="text/javascript", src="http://localhost:35729/livereload.js")
	body
		// PAGE
		block content
		// END PAGE