html
	font-family $base-font-family
	line-height 1.6
	background $base-bg-color
	color $base-text-color
	-webkit-overflow-scrolling touch
	font-size ((10px * 100%) / 16px)%
	+below($media-screen-tablet)
		font-size ((11px * 100%) / 16px)%

body
	font-size $base-font-size
