p
	margin-bottom $base-line-height
	margin-top $base-line-height
	&:first-child
		margin-top 0

	&:last-child
		margin-bottom 0

i
em
	font-style italic

b
strong
	font-weight bold

q
	quotes "«" "»"
	font-style italic

	q
		quotes "„" "“"
		font-style italic

mark
kbd
code
	display inline-block
	vertical-align middle
	border-radius 3px
	padding 0 4px

kbd
	background-color #222
	color #fff

hr
	display block
	height 1px
	border 0
	border-top 1px solid #ccc
	margin 1em 0
	padding 0
