mixin file(data)
	- var baseClassName = 'file';
	- var fileClasses = [baseClassName, `${baseClassName}_type_file` ]

	- attributes.type = "file"

	if attributes.class
		- fileClasses.push(attributes.class)
		- delete attributes.class

	label(class=fileClasses for=attributes.id)
		input&attributes(attributes).form-control.form-control_type_file.file__control
