.file
	position relative
	width 100%
	display block
	box-sizing border-box

	&__control
		//

		&:focus ~ ^[0]__button
			border-color $form-color-border_focus
			outline none
			focus($form-color-border_focus)

	&__button
		display inline-block
		vertical-align middle
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		cursor pointer
		width 100%
		border-width 1px
		border-style solid
		border-color transparent
		transition 125ms background-color ease-in-out
		user-select none
		&:before
			content attr(data-button-text)
			display inline-block
			vertical-align middle

	&_style_default &__button
		background-color $form-color-background
		color $form-color-font
		font-size $form-font-size
		border-radius $form-border-radius

		&:before
			position relative
			margin-right ($form-size-input-height / 2)
			padding 7px $form-padding_horizontal
			transition 125ms all ease-in-out
			color $form-color-background
			border-radius $form-border-radius
			background $form-color-active

	&_style_default:hover &__button:before
		background-color $form-color-active - 20%
