extends ../layouts/default

include ../modules/_page-list/_page-list

block head
	- title = "Pages list"

	style
		:stylus
			@import "../styles/core/variables.styl"
			@import "../styles/_variables.styl"
			@import "../styles/core/mixins.styl"
			@import "../styles/_mixins.styl"
			@import "../modules/_page-list/_page-list.styl"

block page
	+page-list(pageList.data)
