extends ../layouts/default

include ../modules/_page-list/_page-list

block head
	- title = "Pages list"

	style
		:stylus
			@import "../modules/_page-list/_page-list.styl"

block page
	+page-list(pageList.data)
