range-slider-thumb()
	&::-webkit-slider-thumb
		{block}

	&::-moz-range-thumb
		{block}

	&::-ms-thumb
		{block}

range-runnable-track()
	&::-webkit-slider-runnable-track
		{block}

	&::-moz-range-track
		{block}

	&::-ms-track
		{block}

.range
	&__control
		align-self center
		padding 0
		width 100%
		height 2em
		border none
		border-radius 0.25rem
		background none
		font-size inherit
		cursor pointer

		&:disabled
			opacity 0.5
			cursor default
			pointer-events none

		// track
		+range-runnable-track()
			box-sizing border-box
			width 100%

		&::-ms-track
			color transparent

		// thumb
		+range-slider-thumb()
			box-sizing border-box
			padding 0
			box-shadow none
			cursor ew-resize

		&::-ms-fill-lower
		&::-ms-tooltip
			display none

	&_style_default &__control
		appearance none

		&::-webkit-slider-runnable-track
		&::-webkit-slider-thumb
			-webkit-appearance none /* stylelint-disable-line property-no-vendor-prefix */

		// track
		+range-runnable-track()
			height 0.25em
			border-radius 50%
			border-radius 10px
			background-color $form-color-border
			cursor pointer
			transition 125ms all ease-in-out

		// thumb
		+range-slider-thumb()
			size 1.25em
			border-radius 50%
			background-color $form-color-background - 5%
			box-shadow 0 2px 5px rgba(#000, 0.3)
			transition 125ms background ease-in-out

		&::-webkit-slider-thumb
			margin-top -0.5em
