// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
.hyphenate
	word-wrap break-word
	word-break break-word
	hyphens auto
	overflow-wrap break-word
	-ms-word-break break-all
	-ms-hyphens auto
	-moz-hyphens auto
	-webkit-hyphens auto
