@media print
	// Hidden when printed
	.print-hidden
		display none !important

	// Invisible when printed
	.print-invisible
		visibility hidden!important


@media not print
	// Visible only when printed
	.print-visible
		display none !important
