/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden
	border 0
	clip-path inset(50%)
	display inline-block
	height 1px
	margin -1px
	overflow hidden
	padding 0
	width 1px
	white-space nowrap // 1

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active
.visuallyhidden.focusable:focus
	clip auto
	clip-path none
	height auto
	margin 0
	overflow visible
	position static
	width auto
	white-space inherit
