.sidebar-menu
	background #fff
	background-color #fff

	ul
		margin 0
		padding 0

	&__item
		padding 0 0 18px
		list-style none
		font-size 14px

	&__link
		&
		&:visited
			position relative
			display block
			padding 6px 20px 8px
			color #2d3e60
			text-decoration none
			font-weight bold
			transition 125ms all ease-in-out

		&:hover
			color blue

		&:before
			position absolute
			bottom 0
			left 0
			display block
			width 0
			height 1px
			content ""
			transition width 0s ease, background 0.5s ease

		&:after
			position absolute
			right 0
			bottom 0
			display block
			width 0
			height 1px
			background blue
			content ""
			transition width 0.5s ease

		&:hover:before
			width 100%
			background blue
			transition width 0.5s ease

		&:hover:after
			width 100%
			background transparent
			transition all 0s ease

	&__submenu &__item
		padding 6px 30px 8px

	&__submenu a
		&
		&:visited
			position relative
			display block
			color #323232
			text-decoration none
			transition 125ms all ease-in-out

		&:hover
			color blue
			text-decoration underline
