.sidebar-menu
	background #fff
	border 1px solid #dadada

	ul-reset()

	&__title
		margin 0
		padding 10px 20px
		font-size 18px
		border-bottom 1px solid #dadada

	&__item
		font-size 14px
		padding 0 0 4px 0
		list-style none

	&__link
		&
		&:visited
			font-weight bold
			display block
			padding 6px 20px 8px
			text-decoration none
		&:hover
			text-decoration underline

	&__submenu
		padding 0 20px 0 40px
