html
	box-sizing border-box
	font-size ((10px * 100%) / 16px)%
	+below($media-screen-tablet)
		font-size ((11px * 100%) / 16px)%

body
	background $base-bg-color
	color $base-text-color
	font-family $base-font-family
	font-size $base-font-size
	line-height $base-line-height
	letter-spacing 0.01em
