pre
code
	font-family $fixed-font-family
	font-size $fixed-font-size
	line-height $fixed-line-height

	overflow hidden
	white-space -moz-pre-wrap
	white-space -o-pre-wrap
	white-space -pre-wrap
	white-space pre-wrap
	word-wrap break-word
	tab-size 4

	background-color #eee

pre
	padding 1em
	border-radius 3px

