h1
h2
h3
h4
h5
h6
	font-family $heading-font-family
	font-weight $heading-font-weight
	margin $base-line-height 0 0
	line-height normal
	a
		&
		&:visited
			color inherit

h1
	font-size 2.25em

h2
	font-size 2em

h3
	font-size 1.75em

h4
	font-size 1.5em

h5
	font-size 1.25em

h6
	font-size 1em
