$horizontal-padding = 30px

.dialog
	max-width 800px
	max-height 100vh
	overflow-y auto
	box-sizing border-box
	background-color #fff
	border-radius 4px
	background-clip padding-box
	box-shadow 0 2px 8px rgba(0, 0, 0, 0.15)

	&__header
		display block
		justify-content space-between
		align-items center
		position relative

	&__title
		margin 0
		font-size 1.5em
		font-family notosans
		font-weight bold
		padding 16px ($horizontal-padding * 2) 15px $horizontal-padding
		color #000 + 20%
		border-bottom 1px solid #e8e8e8
		font-weight bold
		overflow ellipsis

	&__close
		background transparent
		border 0
		position absolute
		right 10px
		top 50%
		margin-top -22px
		padding 10px
		color #000 + 35%

	&__content
		padding $horizontal-padding
		color #000 + 35%
	
	&__footer
		padding 0 $horizontal-padding $horizontal-padding

