include ../icon/icon

mixin bread-crumbs(data)
	.bread-crumbs&attributes(attributes)
		ul.bread-crumbs__list
			each item, index in data
				li.bread-crumbs__item
					if data[index + 1]
						a(href="#").bread-crumbs__link= item
					else
						= item

