.bread-crumbs
	&__list
		padding 0
		margin 0

	&__item
	&__separator
	&__link
		display inline-block
		vertical-align middle

	&__item
		list-style none
		padding 0
		font-size 14px
		color #111

	&__link
		&
		&:visited
			text-decoration none

		&:hover
			text-decoration underline

	&__separator
		color #333
		padding 0 3px
		svg
			size 5px 10px
			fill #666
