.bread-crumbs
	line-height normal
	ul-reset()

	&__item
	&__separator
		display inline-block
		vertical-align middle

	&__item
		list-style none
		padding 0
		font-size 14px
		color #f05050

	&__link
		&
		&:visited
			color #505050
			text-decoration none

		&:hover
			color #f05050
			text-decoration underline

	&__separator
		color #535353
		font-size 8px
		padding 0 5px 0 8px
		svg
			size 5px 10px
			fill #505050
