// Set style of selection
selection(color)
	::selection
		background color
		{block}

	::-moz-selection
		background color
		{block}

	img::selection
		background transparent
		{block}

	img::-moz-selection
		background transparent
		{block}
