/*
 * Size mixin
 * e.g size: 20px 10px => width: 20px; height: 10px
 */
size(numbers...)
	regex = '^[^%]*%[^%]*$'
	parsed = unit(numbers[0])
	type = match(regex, parsed) ? '%' : 'px'

	if length(numbers) > 1
		parsedH = unit(numbers[1])
		typeH = match(regex, parsedH) ? '%' : 'px'
		width unit(numbers[0], type)
		height unit(numbers[1], typeH)
	else
		width unit(numbers, type)
		height unit(numbers, type)
