pre
	code
		| &lt;!DOCTYPE html&gt;
		| &lt;html lang="en"&gt;
		| &lt;head&gt;
		|	&lt;meta charset="UTF-8" /&gt;
		|	&lt;title&gt;Sample document&lt;/title&gt;
		| &lt;/head&gt;
		| &lt;body&gt;
		| 	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque architecto eius nemo voluptatem assumenda, impedit adipisci beatae modi hic nostrum natus fugiat illo rem quia, consequuntur blanditiis tempora nihil. Voluptatibus.&lt;/p&gt;
		| &lt;/body&gt;
		| &lt;/html&gt;
