-
	var tables = [
		{ 
			title: "Unstyled",
			description: "Unstyled table",
			classes: [] 
		},
		{ 
			title: "Without modifers", 
			description: "Table wihout modifers",
			classes: ["table"] 
		},
		{ 
			title: "Header dividers", 
			description: "Add dividers to thead and tfoot, set the <code>header-dividers</code> modifer",
			classes: ["table", "table_header-dividers"] 
		},
		{ 
			title: "Hoverable", 
			description: "Add hover state on the table rows, set the <code>hoverable</code> modifer",
			classes: ["table", "table_header-dividers", "table_hoverable"] 
		},
		{ 
			title: "Vertical lines", 
			description: "To draw only vertical borders, set the <code>vertical</code> modifer", 
			classes: ["table", "table_vertical"] 
		},
		{ 
			title: "Horizontal lines",
			description: "To draw only horizontal borders, set the <code>horizontal</code> modifer", 
			classes: ["table", "table_horizontal"] 
		},
		{ 
			title: "All borders", 
			description: "To draw all borders, set the <code>bordered</code> modifer",
			classes: ["table", "table_bordered"] 
		},
		{ 
			title: "Striped", 
			description: "If you want add horizontal stripes, set the <code>striped</code> modifer",
			classes: ["table", "table_header-dividers", "table_striped"] 
		},
		{ 
			title: "Justified", 
			description: "To remove the outer padding of the first and last column so that they are flush with the table, set the <code>justified</code> modifer",
			classes: ["table", "table_horizontal", "table_justified"] 
		},
		{ 
			title: "Contained", 
			description: "To add borders around all table, set the <code>contained</code> modifer",
			classes: ["table", "table_horizontal", "table_contained"] 
		},
		{ 
			title: "Compressed", 
			description: "To make the table cells more compact, set the <code>compressed</code> modifer",
			classes: ["table", "table_horizontal", "table_compressed"] 
		},
		{ 
			title: "Expanded", 
			description: "To make the table cells more wide, set the <code>expanded</code> modifer",
			classes: ["table", "table_horizontal", "table_expanded"] 
		},
		{ 
			title: "Responsive", 
			description: "If you want table columns to stack on small screens, set the <code>responsive</code> modifer. All tables in this demo are responsive.",
			classes: ["table", "table_horizontal"] 
		}
	];

each table in tables
	h3= table.title
	p!= table.description

	table(class=table.classes).table_responsive
		thead
			tr
				th(scope="col") Name
				th(scope="col") Phone
				th(scope="col") Address
				th(scope="col") City
				th(scope="col") State

		tfoot
			tr
				th(scope="col") Name
				th(scope="col") Phone
				th(scope="col") Address
				th(scope="col") City
				th(scope="col") State
		tbody
			tr
				td Cecil Robertson
				td 208-457-7742
				td 3243 Oak Ridge Ln
				td Louisville
				td Kentucky
			tr
				td Irene Holland
				td 317-471-0278
				td 12 Blossom Hill Rd
				td Miami
				td Florida
			tr
				td Elizabeth Richardson
				td 171-969-6566
				td 261 James St
				td Colorado Springs
				td Colorado


h3 Caption and colgroup
table.table.table_horizontal.table_responsive
	caption Table with(scope="col") caption, colgroup, thead, tfoot, and tbody
	colgroup
		col
		col
		col
		col
	thead
		tr
			th(scope="col") Name
			th(scope="col") Phone
			th(scope="col") Address
			th(scope="col") City
			th(scope="col") State

	tfoot
		tr
			th(scope="col") Name
			th(scope="col") Phone
			th(scope="col") Address
			th(scope="col") City
			th(scope="col") State
	tbody
		tr
			td Cecil Robertson
			td 208-457-7742
			td 3243 Oak Ridge Ln
			td Louisville
			td Kentucky
		tr
			td Irene Holland
			td 317-471-0278
			td 12 Blossom Hill Rd
			td Miami
			td Florida
		tr
			td Elizabeth Richardson
			td 171-969-6566
			td 261 James St
			td Colorado Springs
			td Colorado
