- var tables = [['table'], ['table', 'table_striped'], ['table', 'table_bordered'], ['table', 'table_horizontal'], ['table', 'table_striped', 'table_horizontal'], ['table', 'table_striped', 'table_bordered'] ];
each table in tables
	table(class=table)
		caption Table with(scope="col") caption, colgroup, thead, tfoot, and tbody
		colgroup
			col
			col
			col
			col
		thead
			tr
				th(scope="col") Etiam
				th(scope="col") Pharetra
				th(scope="col") Erat sed
				th(scope="col") Feugiat
		tfoot
			tr
				th(scope="col") Etiam
				th(scope="col") Pharetra
				th(scope="col") Erat sed
				th(scope="col") Feugiat
		tbody
			tr
				td Nam nec tellus
				td 8873-1978-8717
				td 145.58
				td m³

			tr
				td Etiam
				td 532-8725-9727
				td 17800.50
				td m²

			tr
				td Suspendisse
				td 3364-2214-8781
				td 312.22
				td $

			tr
				td Morbi accumsan
				td 5547-2212-8884
				td 7822.33
				td €

			tr
				td Condimentum 
				td 6687-2111-5557
				td 25.00
				td 444

			tr
				td Nam nec tellus
				td 7898-4460-4557
				td 13.25
				td 13.25

			tr
				td Etiam
				td 1400-0077-7741
				td 140000
				td 140000

			tr
				td Suspendisse
				td 1829-9774-6660
				td 18.26
				td 18.26

			tr
				td Condimentum 
				td 6687-2111-5557
				td 3.141592653589793238462
				td +V
