p Text level 
	abbr(title="HyperText Markup Language") HTML
	|  elements may be used within other elements. They include: 
	em em 
	| and 
	strong strong 
	| for semantic emphasis, 
	i i 
	| and 
	b b 
	| for presentational formatting, 
	abbr(title="Defines an abbreviation or an acronym") abbr 
	| abbreviations, cite citations, 
	code code example
	| , 
	del del
	| , 
	ins ins
	|  for visibly deleted and inserted content, 
	dfn dfn 
	| definitions, 
	mark mark
	|  for highlighted passages and 
	sup sup 
	| superscript and 
	sub sub 
	| subscript.

hr
