p Text level
	abbr(title="HyperText Markup Language") HTML
	|  elements may be used within other elements. They include:
ul
	li
		a(href="#") &lt;a href="#"&gt;link or anchor&lt;/a&gt;
	li
		abbr(title="Title attribute may be used to provide an expansion of the abbreviation") &lt;abbr&gt;
		|  represents an abbreviation or acronym
	li
		em &lt;em&gt;
		|  for emphasized text
	li
		strong &lt;strong&gt;
		|  for strongly emphasized
	li
		dfn &lt;dfn&gt;
		|  for definition of a term
	li
		code &lt;code&gt;
		|  for code fragment
	li
		samp &lt;samp&gt;
		|  for sample text
	li
		kbd &lt;kbd&gt;
		|  for keyboard input
	li
		var &lt;var&gt;
		|  for variable
	li
		cite &lt;cite&gt;
		|  for short citation
	li
		i &lt;i&gt;
		|  for italics
	li
		b &lt;b&gt;
		|  for bold
	li
		u &lt;u&gt;
		|  for underlined text
	li
		s &lt;s&gt;
		| for text that is no longer correct
	li
		big &lt;big&gt;
		|  for larger text
	li
		small &lt;small&gt;
		|  for smaller text
	li
		sup &lt;sup&gt;
		|  for superscript
	li
		sub &lt;sub&gt;
		|  for subscript
	li
		del &lt;del&gt;
		|  for visibly deleted
	li
		ins &lt;ins&gt;
		|  for inserted content
	li
		dfn &lt;dfn&gt;
		|  for definitions
	li
		mark &lt;mark&gt;
		|  for highlighted passages
	li
		hr
		| &lt;hr&gt; for horizontal line

