
// animation heartbeat 2.5s infinite
@keyframes heartbeat
	0%
		transform scale(1)

	5%
		transform scale(1.3)

	10%
		transform scale(1.1)

	15%
		transform scale(1.4)

	50%
		transform scale(1)

	100%
		transform scale(1)

// animation modal-opening 0.3s
@keyframes modal-opening
	from
		transform scale(1.05)
		opacity 0

	to
		transform none
		opacity 1


// animation modal-closing 0.3s
@keyframes modal-closing
	from
		transform scale(1)
		opacity 1

	to
		transform scale(0.95)
		opacity 0

// animation modal-overlay-opening 0.3s
@keyframes modal-overlay-opening
	from
		opacity 0

	to
		opacity 1

// animation modal-overlay-closing 0.3s
@keyframes modal-overlay-closing
	from
		opacity 1

	to
		opacity 0

