@import '_tabs'
@import '_animations'

//-//////////////////////////////////////////////////////////
//- Basse Styles
//-//////////////////////////////////////////////////////////
.b-main
	padding-top 30px
	max-width 1160px
	margin 0 auto
	&__sidebar
		float left
		width 300px
		padding-top 10px

	&__content
		float right
		width 830px
		padding-bottom 60px

.b-page-title
	padding 0 0 8px 0
	font-size 34px
	border-bottom 1px solid #dadada

$header-bg-color    = #2d3e60
$header-font-family = notoserif
$header-font-color  = #fff

.b-header
	background $header-bg-color
	padding 115px 0 35px
	&__inner
		width 960px
		margin 0 auto

	&__top
		transition padding 0.5s ease 0s, background 0.5s ease 0s, box-shadow 0.5s ease 0s
		padding 1em 0
		position absolute
		top 0
		width 100%
		z-index 1000
		background-color $header-bg-color

	&__logo
	&__menu
		float left

	&__logo
		width 190px
		margin-right 40px

	&__menu
		width 600px
		padding-top 5px

	&__github
		float right
		width 110px
		padding-top 5px

	&__bottom
		padding 70px 0

	&_fixed &__top
		position fixed
		box-shadow 0px 2px 3px rgba(#000, 0.04)

.b-button_style_ghost
	font-family notosans
	padding 20px 60px
	font-size 20px
	line-height 20px
	border-radius 2px
	transition 0.2s background ease-in-out 0s
	&
	&:visited
		color #fff
		border-color #fff

	&:focus
		color #fff
		border-color #fff - 25%

	&:hover
	&:active
		color $header-bg-color
		background-color #fff

		&:focus
			color #fff

	&:active
		background-image none


.b-logo
	&
	&:visited
		font-family $header-font-family
		font-size 0
		color $header-font-color
		font-size 30px
		text-decoration none

	&:hover
		color $header-font-color - 10%

	&:hover &__icon
		animation heartbeat 2.5s infinite

	&__name
		display inline-block

	&__icon
		margin-right 7px
		display inline-block
		width 24px
		height 24px
		fill #e74c3c

.b-main-menu
	ul
		margin 0
		padding 0

	&__item
		padding 0 20px 0 0
		list-style none
		background none
		font-family $header-font-family
		font-size 14px
		float left
		position relative

	&__link
		&
		&:visited
			display block
			text-decoration none
			color $header-font-color
			padding 8px 11px 11px
			transition background 300ms ease-in-out 0s

		&:hover
			color $header-font-color
			text-decoration underline

	&__submenu
		visibility hidden
		opacity 0
		transition all 300ms ease-in-out 0s
		position absolute
		top 38px
		left 0
		background #fff
		width 250px
		z-index 1
		border-radius 0 2px 2px 2px
		overflow hidden

	&__item:hover &__submenu
		visibility visible
		opacity 1

	&__item_has_dropdown &__link:after
		content ''
		display inline-block
		margin-left 6px
		triangle( down, 3px, #fff)
		vertical-align middle

	&__item_has_dropdown:hover &__link
		&
		&:visited
			border-radius 2px 2px 0 0
			background #fff
			color #111
		&:after
			triangle( up, 3px, #111)
			margin-bottom 4px

	.b-header_fixed &__submenu
		border 1px solid #ddd
		border-top none
		box-shadow 0px 2px 3px rgba(#000, 0.04)

.b-main-menu-submenu
	ul
		margin 0
		padding 0

	&__item
		list-style none
		background none
		padding 0
		font-family notosans
		a
			&
			&:visited
				display block
				padding 7px 10px
				color #111
				text-decoration none

			&:hover
				background $header-bg-color + 20%
				color #fff

	&__item_active
		a
			&
			&:visited
				color #fff
				background $header-bg-color + 20%

.b-github-button
	&
	&:visited
		padding 3px 10px
		display block
		font-size 0
		color $header-font-color
		text-decoration none
		border 1px solid transparent
		transition all 300ms ease-in-out 0s
		text-decoration none

	&:hover
		text-decoration underline
		color $header-font-color

	&__text
		font-size 16px
		font-family $header-font-family
		vertical-align middle

	&__icon
		transition all 300ms ease-in-out 0s
		margin-right 7px
		size 16px
		fill $header-font-color
		vertical-align middle

.b-header-presentation
	font-family $header-font-family
	text-align center

	&__name
		color $header-font-color
		font-size 60px
		margin 0
		font-weight normal

	&__description
		color $header-font-color
		font-size 18px
		line-height 26px
		margin 0
		font-weight normal

	&__try-now
		//
	&__version
		color $header-font-color
		font-size 18px

	&__sub-description
		color $header-font-color
		font-size 14px
		padding-bottom 60px


.b-sidebar-menu
	background #fff
	border 1px solid #dadada

	ul
		margin 0
		padding 0

	&__title
		padding 10px 20px
		font-size 18px
		border-bottom 1px solid #dadada

	&__item
		font-size 14px
		padding 0 0 10px 0
		list-style none

	&__link
		&
		&:visited
			font-weight bold
			display block
			padding 6px 20px 5px
			text-decoration none
		&:hover
			text-decoration underline

	&__submenu
		//

.b-sidebar-menu-submenu
	ul
		margin 0
		padding 0

	&__item
		background #fafafa
		list-style none
		padding 0
		background none
		a
			&
			&:visited
				display block
				padding 4px 20px 4px 30px


.b-footer
	background #ebebeb
	border-top 1px solid #dadada
	&__inner
		padding 30px 0
		max-width 1160px
		margin 0 auto
	&__copyright
		//

.b-copyright
	color #000
	font-size 14px

