@import 'lib/font-face'

font-face(HelveticaNeueCyr, helveticaneuecyr-roman, '../fonts')
font-face(HelveticaNeueCyr, helveticaneuecyr-bold, '../fonts', bold)
font-face(HelveticaNeueCyr, helveticaneuecyr-italic, '../fonts', ,italic)
font-face(HelveticaNeueCyr, helveticaneuecyr-bolditalic, '../fonts', bold, italic)