.clear
	clear both

.clearfix
	clearfix()

.h-text-muted
	&
	& > *
		color $base-quiet-color


.b-content-wrapper
	img[align="left"]
	img[style*="float: left"]
	img[style*="float:left"]
		margin 5px 15px 0px 0px

	img[align="right"]
	img[style*="float: right"]
	img[style*="float:right"]
		margin 5px 0px 0px 15px

.h-align-image-center
	text-align center

.h-align-image-left
	float left
	margin 5px 15px 0px 0px

.h-align-image-right
	float right
	margin 5px 0px 0px 15px

.h-image-captioned
	margin-bottom 20px
	figcaption
		font-style oblique
		font-size 13px
		color #454545

// Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
// aspect ratio.

.h-fluid-image
	max-width 100%
	height auto
	display block
