@import './lib/mixins'
@import './lib/print'

body:before
	display block
	position fixed
	left 0
	bottom 0
	background #fff
	z-index 101
	color #000
	padding 10px
	border 1px solid silver
	border-radius 2px


@media only screen
	//- Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.
	@media (min-width: 480px)
		body:before
			content 'min-width: 480px'



	//- Планшеты в режиме portrait.
	@media (min-width: 768px)
		body:before
			content 'min-width: 768px'

		




	//- Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
	@media (min-width: 992px)
		body:before
			content 'min-width: 992px'

		


	//- Десктоп с большими разрешениями, телевизоры.
	@media (min-width: 1382px)
		body:before
			content 'min-width: 1382px'

		

