@import 'nib'
@import '/lib/mixins/font-face'

font-face("PT Sans", ptsans, '../fonts', , ,"PT Sans")
font-face("PT Sans", ptsans_italic, '../fonts', , italic , "PT Sans")
font-face("PT Sans", ptsans_bold, '../fonts', bold , , "PT Sans")
font-face("PT Sans", ptsans_bold_italic, '../fonts', bold , italic, "PT Sans")
