@import './lib/mixins'

////////////////////////////////////////////////////////////
// Reset
////////////////////////////////////////////////////////////
hard-reset()




////////////////////////////////////////////////////////////
// Base
////////////////////////////////////////////////////////////
body
html
	color $base-font-color
	font-family $base-font-family



////////////////////////////////////////////////////////////
// Helpers
////////////////////////////////////////////////////////////
@import './lib/helpers'




////////////////////////////////////////////////////////////
// Headings
////////////////////////////////////////////////////////////
h1, h2, h3, h4, h5, h6
	color $heading-font-color
	font-family $heading-font-family
	font-weight normal
	padding 20px 0 10px
	// text-transform uppercase

h4, h5, h6
	color #646464

h1
	font-size $heading-h1-font-size

h2
	font-size $heading-h2-font-size

h3
	font-size $heading-h3-font-size

h4
	font-size $heading-h4-font-size

h5
	font-size $heading-h5-font-size

h6
	font-size $heading-h6-font-size
	color #646464 + 30%




////////////////////////////////////////////////////////////
// Text elements
////////////////////////////////////////////////////////////
p
	color $base-font-color
	font-size $base-font-size
	line-height $base-line-height
	padding 0 0 $base-line-height 0

a
a:visited
	color $base-link-color
	text-decoration underline
	transition color 0.2s ease 0s

a:visited
	color $base-visited-link-color

a:hover
	color $base-hover-link-color
	text-decoration none

pre
	background #eee
	padding 10px
	border-radius 3px
	margin-bottom $base-line-height
	
pre
code
	color $base-font-color
	font-family $base-monospace-font-family
	font-size $base-font-size - 2px
	overflow hidden
	white-space -moz-pre-wrap
	white-space -o-pre-wrap
	white-space -pre-wrap
	white-space pre-wrap
	word-wrap break-word
	tab-size 4
	line-height $base-line-height
	

q
	quotes "«" "»"
	font-style italic

	q
		quotes "„" "“"
		font-style italic

blockquote
	font-family $base-font-family
	font-style italic
	// padding 5% 10%
	text-align left
	color $heading-font-color 

	q
		color $base-font-color
		font-family $base-font-family
		font-size $base-font-size
		line-height $base-line-height
		padding 10px 0

	p 
		color $heading-font-color

abbr
	border-bottom thin dashed
	cursor help
	font-style italic

i
	font-style oblique



////////////////////////////////////////////////////////////
// Tables
////////////////////////////////////////////////////////////
table
	width 100%
	border-collapse collapse
	margin 10px 0
	
	caption
		color $base-font-color
		font-size $table-heading-font-size + 2px
		font-weight 900
		padding 8px 0
		text-align left

th
td
	padding $table-cell-pading
	font-size $table-base-font-size 
	text-align $table-base-cell-align

th
	padding $table-heading-pading
	font-size $table-heading-font-size
	color $table-heading-font-color
	border-bottom 1px solid $table-heading-border-color
	font-weight bold

td
	color $table-base-font-color
	border-bottom 1px solid $table-cell-border-color

thead
	tr:first-child
		th
			border-bottom 1px solid $table-heading-border-color
			border-top 1px solid $table-heading-border-color

tbody
	tr:last-child
		td
			border-bottom 1px solid $table-heading-border-color
tfoot
	th
		border-color $table-heading-border-color

.b-vertical-table
	tr
		th
		td
			border-color #eee
			
		&:first-child th
			padding-top 0

	&__title
		font-size 16px
		padding-top 35px
		border-bottom 1px solid #ccc !important


img
	border 0

hr
	background $table-heading-border-color
	height 1px




////////////////////////////////////////////////////////////
// Lists
////////////////////////////////////////////////////////////

dt
	color $base-font-color
	font-size $base-font-size
	font-weight 900

dd
	color $base-font-color
	font-size $base-font-size
	font-style italic
	padding 0 10px 15px
	padding-top 10px

ul 
	li
		background-image url($list-marker-path)
		background-position 0 0.55em
		background-repeat no-repeat
		color $base-font-color
		font-size $base-font-size
		list-style none
		padding 0 0 8px 21px

		ul 
			li
				background-position 0 12px
				background-repeat no-repeat
				padding-bottom 0
				padding-top 6px

ol
	list-style-image none
	list-style-position outside
	list-style-type none


	li
		color $base-font-color
		font-size $base-font-size
		list-style-type decimal
		padding 0 0 8px 3px
		margin-left 18px

		ol 
			li
				padding 6px 0 0 3px
