@import './lib/mixins'

////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////
@import '_fonts'


////////////////////////////////////////////////////////////
// Reset
////////////////////////////////////////////////////////////
hard-reset()




////////////////////////////////////////////////////////////
// Base
////////////////////////////////////////////////////////////

html
	font-size 100%

body
	color $base-font-color
	font-family $base-font-family
	background $base-bg-color

article
aside
details
figcaption
figure
footer
header
hgroup
main
menu
nav
section
summary
	display block



////////////////////////////////////////////////////////////
// Helpers
////////////////////////////////////////////////////////////
@import './lib/helpers'




////////////////////////////////////////////////////////////
// Headings
////////////////////////////////////////////////////////////
h1, h2, h3, h4, h5, h6
	color $heading-font-color
	font-family $heading-font-family
	font-weight bold
	padding 20px 0 8px
	// text-transform uppercase
	small
		font-weight normal
		line-height 1
		color #777
		font-size 65%

h3, h4, h5, h6
	font-weight: bold

h1
	font-size $heading-h1-font-size

h2
	font-size $heading-h2-font-size

h3
	font-size $heading-h3-font-size

h4
	font-size $heading-h4-font-size

h5
	font-size $heading-h5-font-size

h6
	font-size $heading-h6-font-size





////////////////////////////////////////////////////////////
// Text elements
////////////////////////////////////////////////////////////
p
	color $base-font-color
	font-size $base-font-size
	line-height $base-line-height
	padding 0 0 $base-line-height 0

a
	&
		color $base-link-color
	&
	&:visited
		text-decoration underline
		transition color 0.2s ease 0s

	&:visited
		color $base-visited-link-color

	&:hover
	&:focus
		color $base-hover-link-color
		text-decoration none

	&:focus
		outline thin dotted
		outline 5px auto -webkit-focus-ring-color
		outline-offset -2px


pre
	background #eee
	padding 10px
	border-radius 3px
	margin-bottom $base-line-height

pre
code
	color $base-font-color
	font-family $base-monospace-font-family
	font-size $base-font-size - 2px
	overflow hidden
	white-space -moz-pre-wrap
	white-space -o-pre-wrap
	white-space -pre-wrap
	white-space pre-wrap
	word-wrap break-word
	tab-size 4
	line-height $base-line-height


q
	quotes "«" "»"
	font-style italic

	q
		quotes "„" "“"
		font-style italic

blockquote
	font-family $base-font-family
	font-style italic
	// padding 5% 10%
	text-align left
	// color $heading-font-color
	border-left 3px solid #e0e2e3
	padding 0 0 0 14px
	margin-bottom $base-line-height
	color #131313
	font-size 16px
	q
		color $base-font-color
		font-family $base-font-family
		font-size $base-font-size
		line-height $base-line-height
		padding 10px 0

	p
		color #131313
		padding-bottom 0

	cite
		color #666D71
		font-size 12px

abbr
	border-bottom thin dashed
	cursor help
	font-style italic

i
	font-style oblique



////////////////////////////////////////////////////////////
// Tables
////////////////////////////////////////////////////////////
table
	width 100%
	border-collapse collapse
	margin 0 0 20px 0
	border 1px solid $table-heading-border-color

	caption
		color $base-font-color
		font-size $table-heading-font-size + 2px
		font-weight bold
		padding 8px 0
		text-align left

th
td
	padding $table-cell-pading
	font-size $table-base-font-size
	text-align $table-base-cell-align
	border 1px solid $table-heading-border-color
	padding 8px

th
	font-size $table-heading-font-size
	color $table-heading-font-color
	font-weight bold

td
	color $table-base-font-color
	border-bottom 1px solid $table-cell-border-color

thead
tfoot
	background #ebf2f8

tr:nth-child(odd)
	td
		background #fff

tr:nth-child(even)
	td
		background #ebf2f8


.b-vertical-table
	tr
		th
		td
			border-color #eee

		&:first-child th
			padding-top 0

	&__title
		font-size 16px
		padding-top 35px
		border-bottom 1px solid #ccc !important


img
	border 0

hr
	background $table-heading-border-color
	height 1px




////////////////////////////////////////////////////////////
// Lists
////////////////////////////////////////////////////////////

dt
	// color $base-font-color
	font-size $base-font-size
	font-weight bold
	// font-size 14px
	color #131313
	padding 0 0 7px 0


dd
	color #666D71
	// color $base-font-color
	font-size $base-font-size
	font-style nromal
	padding 0 0 20px 0

ul
ol
	margin-top 0
	margin-bottom ceil($base-line-height / 2)
	padding-left 21px
	ul
	ol
		margin-bottom 0

	li
		color $base-font-color
		font-size $base-font-size
		line-height 1.7em
