@import './lib/mixins'

.b-logo
	padding 0
	width 178px

.b-search
	// border 1px solid #d9d9d9
	width 225px
	height 30px
	background #fff url(../img/search-icon.png) 202px 7px no-repeat

	&__input
		float left
		padding 0 10px

		& input
			color #a6aaa3
			font-size 13px
			background transparent
			border none
			width 175px
			height 30px
			line-height 30px

			&:focus
				color #5a5a5a

	&__button
		float right

		& input
			cursor pointer
			background transparent
			border none
			width 30px
			height 36px

.b-social-buttons
	&__item
		background none
		padding 0
		float left
		margin-left 8px
	
	&__link
		&
		&:visited
			background-image url(../img/social-buttons-sprite.png)
			background-repeat no-repeat
			background-position 0 0
			width 25px
			height 27px
			display block

		&:hover
			opacity 0.85

	&__rss
		background-position 0 0px

	&__fb
		background-position 0 -102px

	&__tw
		background-position 0 -204px

.b-top-menu
	background url(../img/top-menu-bg.png) 50% 0 no-repeat
	// height 46px
	padding 8px 20px
	
	& table
		width 100%
		margin 0

	&__item
		font-size 16px
		font-weight bold
		padding 0
		background url(../img/top-menu-separator.png) 100% 0 repeat-y
		border none

		&_last
			background none

	& a
	& a:visited
		display block
		padding 1px 10px 1px
		text-align center
		color #122902
		text-decoration none

	& a:hover
		color HoverLinkColor
		text-decoration underline


.b-catalog
	&__sidebar
		width 165px
		float left

	&__content
		width 776px
		float right

.b-catalog-menu
	padding-bottom 40px

	&__title
		padding 0
		color #00090f
		font-size 21px
		font-weight bold

	&__list
		//

	&__item
		padding 0
		background none
		font-size 14px
		line-height 15px
		// background url(../img/grey-dashed.png) 0 0 repeat-x
		border-top 1px dashed #d6d6d6

		& a
			&
			&:visited
				color #006a93
				text-decoration none
				display block
				padding 12px 5px 13px 5px

			&:hover
				// 
	
		&_active
		&:hover
			background #00a8f2
			background linear-gradient(to right, #00a8f2 0%,#0079d9 100%)
			border-color transparent

			& a
				&
				&:visited
					color white

				&:hover
					text-decoration underline

			& + li
				border-color transparent

		&_first
			border none

.b-share
	& li
		float left
		padding 0
		background  none
		margin-right 10px

	&__vk
		//
	&__fb
		//
	&__tw
		//
	&__ok
		//

.b-catalog-grid
	&__top
		padding-bottom 12px
		&__title
			padding 0
			color #00090f
			font-size 21px
			font-weight bold
			width 425px
			float left

		&__sort
			float right
			padding-top 10px
			width 345px
	&__list
		//
	&__item
		width 178px
		float left
		overflow hidden
		padding 0 21px 0 0
		background none

		&__image
			padding 7px
			border 1px solid #ebebeb
			border-radius 6px

			&__wp
				size 164px 140px
				overflow hidden

		&__title
			padding 0 0 1px 0
			font-size 15px
			font-weight normal

			& a
			& a:visited
				color #000

			& a:hover
				color HoverLinkColor

		&__desc
			padding-bottom 0
			line-height 15px
			color #aca7a7
			font-size 11px

		&__price
			color #aca7a7
			font-size 11px
			padding-top 2px

			& span
				font-size 13px
				color #ff1800		
	&__clear
		float none
		clear both
		display block
		padding 0
		height 1px
		background url(../img/grey-dashed.png) 0 100% repeat-x
		padding-top 12px
		margin-bottom 23px


.b-order-button
	max-width 190px
	border-radius 3px
	box-shadow inset 0 1px #fff
	border 1px solid #ebebeb
	background-color #f8f8f8
	background-image linear-gradient(to top, #ddd, #f8f8f8)
	margin-left 16px
	padding 0 8px
	display inline-block
	overflow hidden

	*:first-child+html &
		zoom 1
		display inline

	&:hover
		// background-image linear-gradient(to top, #f8f8f8, #ddd)
		box-shadow inset 1px 1px 3px #DDD;
		background #f8f8f8
	& a
	& a:visited
		font-size 11px
		display block
		padding 3px 10px 4px 0
		color #606365
		text-decoration none
		line-height 12px
	
	& a:hover
		color #606365

	&_asc
		background url(../img/arrdwn.png) 100% 50% no-repeat
		
	&_desc
		background url(../img/arrup.png) 100% 50% no-repeat

	

.b-catalog-widget
	padding-bottom 19px

	&__menu
		//

	&__products
		padding 18px 19px
		border 2px solid #dedede
		border-top none

.b-tab-menu
	background url(../img/tabs-menu-bg.png) 0 0 repeat-x
	padding 2px 2px 0 2px

	& table
		width 100%
		margin 0

	&__item
		padding 0
		border none
		font-size 12px
		border-right 1px solid #f2f2f2

		& a
		& a:visited
			display block
			padding 7px 15px 7px
			color #000
			text-decoration none
			text-shadow 0 1px #fff

		& a:hover
			color HoverLinkColor
			text-decoration underline

		&_active
			background #fff

		&_all
			text-transform uppercase
			border none


.b-catalog-grid-main
	&__item
		width 137px
		float left
		overflow hidden
		padding 0 19px 0 0
	

		&__image
			padding 5px
			border 1px solid #ebebeb
			border-radius 3px
			margin-bottom 2px

			&__wp
				size 125px 107px
				overflow hidden

		&__title
			padding 0 0 1px 0
			font-size 13px

			& a
			& a:visited
				color #000

			& a:hover
				color HoverLinkColor
			
		&__desc
			padding-bottom 0
			line-height 15px
			color #aca7a7
			font-size 11px

		&__more
			line-height 18px
			font-size 13px

		&_more
		&_last
			padding-right 0 !important
			

.b-catalog-grid-main_inner .b-catalog-grid-main__item
	padding 0 22px 0 0

.b-catalog-full
	&__title
		font-size 21px
		color #00090f
		font-weight bold
		padding 0
	&__info
		padding-bottom 20px

	&__left
		width 378px
		float left

	&__right
		width 376px
		float right

	&__image
		border 1px solid #ebebeb
		border-radius 6px
		padding 7px
		size 362px 316px
		margin-top 13px

		&__wp
			size 362px 316px
			overflow hidden
	&__description
		padding-bottom 10px

	&__share
		padding-bottom 28px

	&__related
		&__top
			padding-bottom 8px

		&__list
			//

.b-block-title
	font-size 21px
	font-weight bold
	color #000
	padding 0
	background url(../img/grey-dashed.png) 0 50% repeat-x

	& span
		background #fff
		padding-right 35px

.b-info-table
	& table
		margin 0
		width 262px

	& th
	& td
		padding 9px 0 10px 0
		border-bottom 1px dashed #d6d6d6

	& th
		color #a3a3a3
		font-size 11px

	& td
		color #000
		font-size 13px



.b-news-list
	&__title
		padding-bottom 1px

	&__item
		padding 0 0 18px 0
		background none

		.b-news-list_big &
			padding-bottom 25px
			margin-bottom 31px
			border-bottom 1px dashed #d6d6d6

		&__date
			font 12px #5a5d5f
			padding 0 0 1px 0
			line-height 16px

			.b-news-list_big &
				padding 0 0 2px 0
				

		&__title
			font-size 13px
			line-height 18px
			padding 0
			font-weight normal

			.b-news-list_big &
				font-size 18px
				line-height 24px
				padding-bottom 6px
	&__all
	&__all
		&
		& a:visited
			font-size 12px
			color #e45368
			padding-bottom 35px

		&:hover
			color LinkColor

	&__description
		padding 0

.b-sertificate-grid
	&__title
		//
	&__list
		//
	&__item
		padding 0 20px 0 0
		float left

		&_last
			padding 0

	&__image
		position relative
		size 95px 145px
		background url(../img/sertificate-mask.png) 0 0 no-repeat

		&__inner
			padding 20px 4px 6px
			size 87px 119px
			overflow hidden

.b-bread-crumbs
	padding-top 12px
	padding-bottom 9px

	&__item
		color #868585
		font-size 11px
		float left
		padding 0
		background none

	&__link
		&
		&:visited
			color #0092e5
			text-decoration none

		&:hover
			text-decoration underline
			color HoverLinkColor

	&__separator
		color #0092e5
		padding 0 6px

.g-page-title
	font 24px black
	font-weight bold
	text-transform uppercase
	padding 15px 0 17px 0

	&_thin
		font-weight normal

.b-pagination
	text-align center
	padding-top 4px
	padding-bottom 17px

	& ul
		display inline-block

		*:first-child+html &
			zoom 1
			display inline

	&__item
		padding 0
		background none
		float left
		font-size 15px

	& a
	& span
		width 32px
		height 29px
		overflow hidden
		display block
		text-align center
		padding-top 5px
		
	& span
		color #fff
		// font-size 23px
		// border-radius 12px
		// background url(../img/pagination-active-bg.png) 0 0 no-repeat
		background #009fec
		line-height 26px
		margin 0 6px

	& a
	& a:visited
		padding-top 5px
		height 30px
		width 37px
		color #000
		text-decoration none
		
	& a:hover
		color HoverLinkColor
		text-decoration underline


	&__larr
	&__rarr
		font-size 18px

		&
		&:visited
			color #ff1804 !important
			text-decoration none

		&:hover
			color #000 !important

	// &__larr
	// 	&
	// 	&:visited
	// 		color #ff1804
	// 		text-decoration none

	// 	&:hover
	// 		color #000

	// &__rarr
	// 	&
	// 	&:visited
	// 		background-position -381px 12px

	// 	&:hover
	// 		background-position -381px -200px







.b-vertical-form
	& .item
		padding-bottom 17px

	& label
		color #3b3b3b
		font-size 13px
		display block
		line-height 15px
		padding-bottom 4px

	& .required
		//
		& span
			//
	& .for-input
		//

	& .text
	& .textarea
		border 1px solid #c3c3c3
		background white
		width 305px
		

	& .text
		height 29px
		padding 0 7px

		& input
			background transparent
			border none
			font-family arial
			font-size 12px
			color #3b3b3b
			height 29px
			line-height 29px
			width 305px

	& .textarea
		// height 170px
		padding 7px

		& textarea
			width 305px
			min-height 156px
			background transparent
			border none
			font-family arial
			font-size 12px
			color #3b3b3b
			resize vertical
			height 149px

	& .errors
		& li
			padding 0
			color red
			font-size 11px

	& .hint
		padding 0
		color #888
		font-size 11px

.b-contacts
	&__form
		width 362px
		float left

		&__title
			padding 15px 0 10px 0
			font-size 21px
			color #00090f

	&__right
		width 575px
		float right

		&__title
			padding 15px 0 7px 0
			font-size 21px
			color #00090f
		&__info
			padding-bottom 28px

			& p
				font-size arial
				color #00090f
				font-size 13px
				padding-bottom 13px

		&__map
			border-radius 3px
			size 575px 248px
			overflow hidden

.b-button
	border-radius 5px
	height 35px
	display inline-block

	*:first-child+html &
		zoom 1
		display inline

	& input
	& a
	& a:visited
		background transparent
		border none
		cursor pointer
		font-family arial
		line-height 16px
		font-weight bold

	&:hover
		opacity 0.8

.b-button_blue
	background #0075d7
	background-image: linear-gradient(to top, #0075d7, #00b0f5);

	& input
	& a
	& a:visited
		font-size 16px
		color #fff
		text-shadow 0 1px rgba(2,71,98,.75)
		padding 9px 26px 10px

		*:first-child+html &
			padding-top 7px







.b-footer-copy
	font-size 12px
	color #fff
	padding 0
	text-align center

.b-weltkind
	font-size 12px
	padding 0
	text-align center
	& a
	& a:visited
		color #fff
		text-decoration underline
		
	& a:hover
		text-decoration none

.b-footer-menu
	text-align center

	&__item
		padding 0 29px 0 0
		display inline-block
		background none
		
		*:first-child+html &
			zoom 1
			display inline

		& a
		& a:visited
			font-size 12px
			color #fff
			text-decoration underline

		& a:hover
			text-decoration none




