@import './lib/mixins'

//- Nib settings
support-for-ie = true
vendor-prefixes = webkit moz o ms official

.b-browsehappy
	background #ffe983
	color $base-font-color
	padding 0.5em 0 0.7em
	text-align center




body
	background $base-bg-color

.b-page
	// 
.b-page-title
	// 
.b-content
	// 
.b-wrapper
	width 960px
	margin 0 auto
		
//STICKY FOOTER
//http://ryanfait.com/sticky-footer/
html
body
.b-page
	height 100%

.b-wrapper
	min-height 100%
	height auto !important
	height 100%
	margin 0 auto 50px

.b-footer
.b-push
	height 50px
//END STICKY FOOTER
//http://ryanfait.com/sticky-footer/

.b-header
	// 
.b-footer
	width 960px
	margin 0 auto
