@import 'nib'
@import '/lib/colors'
@import '/lib/font'



.b-page
	background #fff url(../img/bg-texture.png) 0 0 repeat
	width 100%
	height 100%

.b-content
	padding-bottom 20px

//STICKY FOOTER
//http://ryanfait.com/sticky-footer/
html
body
.b-page
	height 100%

.b-wrapper
	min-height 100%
	height auto !important
	height 100%
	margin 0 auto -50px

.b-footer
.b-push
	height 50px
//END STICKY FOOTER
//http://ryanfait.com/sticky-footer/