[data-spoiler-id]
	&[aria-hidden]
		overflow hidden
		opacity 1
		max-height 50rem
		visibility visible
		transition visibility 0s ease 0s, max-height .65s ease-out 0s, opacity .65s ease-in 0s

	&[aria-hidden=true]
		max-height 0
		opacity 0
		visibility hidden
		transition-delay 1s, 0s, 0s


	&[style][aria-hidden=true]
		max-height 0 !important
