[data-spoiler-id]
	&[aria-hidden]
		visibility visible
		overflow hidden
		max-height 50rem
		opacity 1
		transition visibility 0 ease 0, max-height 0.65s ease-out 0, opacity 0.65s ease-in 0

	&[aria-hidden=true]
		visibility hidden
		max-height 0
		opacity 0
		transition-delay 1s, 0, 0

	&[style][aria-hidden=true]
		max-height 0 !important
