// System font
// https://css-tricks.com/snippets/css/system-font-stack/
system                 = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// System monospaced font
mono                   = Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;



// Collection of web safe CSS font stacks
// https://www.cssfontstack.com/oldsites/cssfontstack/

// Sans Serif
arial                  = Arial, "Helvetica Neue", Helvetica, sans-serif;
arial-black            = "Arial Black", "Arial Bold", Gadget, sans-serif;
arial-narrow           = "Arial Narrow", Arial, sans-serif;
arial-rounded          = "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
avant-garde            = "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
calibri                = Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
candara                = Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
century-gothic         = "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
franklin-gothic        = "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
futura                 = Futura, "Trebuchet MS", Arial, sans-serif;
geneva                 = Geneva, Tahoma, Verdana, sans-serif;
gill-sans              = "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
helvetica              = "Helvetica Neue", Helvetica, Arial, sans-serif;
impact                 = Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
lucida-grande          = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
optima                 = Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
segoe-ui               = "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
tahoma                 = Tahoma, Verdana, Segoe, sans-serif;
trebuchet              = "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
verdana                = Verdana, Geneva, sans-serif;


// Serif
vaskerville            = Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
big-caslon             = "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
bodoni                 = "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
book-antiqua           = "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
calisto                = "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
cambria                = Cambria, Georgia, serif;
didot                  = Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
garamond               = Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
georgia                = Georgia, Times, "Times New Roman", serif;
goudy-old-style        = "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
hoefler                = "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
lucida-bright          = "Lucida Bright", Georgia, serif;
palatino               = Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
perpetua               = Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
rockwell               = Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
rockwell-bold          = "Rockwell Extra Bold", "Rockwell Bold", monospace;
times                  = TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;


// Monospaced
andale-mono            = "Andale Mono", AndaleMono, monospace;
consolas               = Consolas, monaco, monospace;
courier-new            = "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
lucida-console         = "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
lucida-sans-typewriter = "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
monaco                 = Monaco, Consolas, "Lucida Console", monospace;


// Fantasy
copperplate            = Copperplate, "Copperplate Gothic Light", fantasy;
papyrus                = Papyrus, fantasy;

// Script
brush-script           = "Brush Script MT", cursive;
