// Extra small screen / phone
$media-screen-xs                            = 480px // 30em
$media-screen-phone                         = $media-screen-xs

// Small screen / tablet
$media-screen-sm                            = 768px // 48em
$media-screen-tablet                        = $media-screen-sm

// Medium screen / desktop
$media-screen-md                            = 992px // 62em
$media-screen-desktop                       = $media-screen-md

// Large screen / wide desktop
$media-screen-lg                            = 1382px // ~85em
$media-screen-lg-desktop                    = $media-screen-lg
