mixin card-actions(data)
	.card-actions&attributes(attributes)
		button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.card-actions__button Action 1
		button(type="button").button.button_style_solid.button_color_gray.button_style_rounded.card-actions__button Action 2
