include ../main-menu-submenu/main-menu-submenu

mixin main-menu(data)
	nav.main-menu&attributes(attributes)
		ul.main-menu__list
			each item in data
				- var itemClasses = ['main-menu__item']

				if item.submenu !== false
					- itemClasses.push(itemClasses[0] + '_dropdown')

				li(class=itemClasses)
					a(href=item.url).main-menu__link= item.title

					if item.submenu !== false
						.main-menu__submenu
							+main-menu-submenu(item.submenu)

