include ../main-menu-submenu/main-menu-submenu

mixin main-menu(data)
	nav.main-menu.js-link-sroll&attributes(attributes)
		ul
			each ent, num in data
				- var itemClasses = ['main-menu__item']
				if (ent.submenu !== false)
					- itemClasses.push(itemClasses[0] + '_dropdown')

				li(class=itemClasses)
					a(href=ent.url).main-menu__link= ent.title
					if (ent.submenu !== false)
						.main-menu__submenu
							+main-menu-submenu(ent.submenu)

