include ../main-menu-submenu/main-menu-submenu

mixin main-menu(data)
	nav.main-menu.js-link-sroll&attributes(attributes)
		ul
			each ent, num in data
				if (ent.submenu !== false)
					- var mainMenuDropdownClass = 'main-menu__item_dropdown'
				else
					- var mainMenuDropdownClass = ''
				li(class="main-menu__item #{mainMenuDropdownClass}")
					a(href="#{ent.url}").main-menu__link= ent.title
					if (ent.submenu !== false)
						.main-menu__submenu
							+main-menu-submenu(ent.submenu)
							
