.main-menu
	&__list
		margin 0
		padding 0

	&__item
		position relative
		float left
		padding 0 20px 0 0
		list-style none
		font-size 14px
		font-family notoserif

	&__link
		&
		&:visited
			display block
			padding 8px 11px 7px
			color #fff
			text-decoration none
			transition 125ms all ease-in-out

		&:hover
			color #fff
			text-decoration underline

	&__submenu
		position absolute
		top 37px
		left 0
		z-index 1
		visibility hidden
		overflow hidden
		width 250px
		border-radius 0 2px 2px 2px
		background #fff
		opacity 0
		transition 125ms all ease-in-out

	&__item:hover &__submenu
		visibility visible
		opacity 1

	&__item_dropdown &__link:after
		display inline-block
		margin-left 6px
		content ''
		triangle(down, 3px, #fff)
		vertical-align middle

	&__item_dropdown:hover &__link
		&
		&:visited
			border-radius 2px 2px 0 0
			background #fff
			color #111

		&:after
			triangle(up, 3px, #111)
			margin-bottom 4px

	.header_fixed &__submenu
		border 1px solid #ddd
		border-top none
		box-shadow 0 2px 3px rgba(#000, 0.04)
