include ../page-title/page-title

include ../form/form


mixin demo()
	.content-wrapper.demo
		// TYPOGRAPHY
		section
			h2#typography Typography

			h3#titles-and-paragraphs Titles &amp; Paragraphs
			include typography/titles-and-paragraphs

			h3#lists Lists
			include typography/lists

			h3#tables Tables
			include typography/tables

			h3#quotes Quotes
			include typography/quotes

			h3#description-lists Description lists
			include typography/dl

			h3#code Code
			include typography/code

			h3#text-elements Text level elements
			include typography/text-elements

		// END TYPOGRAPHY

		// FORMS
		section
			h2#forms Forms

			h3#messaging Messaging
			include forms/messaging

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ab totam, voluptas animi eius ducimus molestiae! Veritatis, atque? Porro praesentium, possimus! Iste architecto cupiditate placeat ab fugiat et adipisci reprehenderit.

			+form()
				section.form__section
					h3#text-inputs Text Inputs
					include forms/text-inputs

				section.form__section
					h3#radios-and-checkboxes Radios and Checkboxes
					include forms/radios-and-checkboxes

				section.form__section
					h3#input-range Input range
					include forms/range

				section.form__section
					h3#selects Selects
					include forms/selects

				section.form__section
					h3#textareas-and-files Textareas and Files
					include forms/textareas-and-files

				section.form__section
					h3#captcha Captcha
					include forms/captcha

		// END FORMS

		// BUTTONS
		section
			h2#buttons Buttons

			h3#buttons-styles Styles
			include buttons/styles

			h3#buttons-sizes Sizes
			include buttons/sizes

			h3#buttons-icon Icon buttons
			include buttons/icon

			h3#buttons-tags Tags types
			include buttons/tags

			h3#buttons-disabled Disabled buttons
			include buttons/disabled

			h4#buttons-block Block buttons
			include buttons/block

			h3#buttons-group Buttons group
			include buttons/group

		// END BUTTONS

		// COMPONENTS
		section
			h2#components Components

			h3#images-helpers Images helpers
			include components/images-helpers

			h3#breadcrumbs Breadcrumbs
			include components/breadcrumbs

			h3#pagination Pagination
			include components/pagination

			h3#badges Badges
			include components/badges

			h3#progress-bar Progress Bar
			include components/progress-bar

			h3#embed Responsive video
			include components/embed

			h3#social-icons Social icons
			include components/social-icons

			h3#tabs Tabs
			include components/tabs

			h3#modals Modal windows
			include components/modals

			h3#accordion Accordion
			include components/accordion

			h3#dropdown Dropdown
			include components/dropdown

			h3#spoiler Spoiler
			include components/spoiler

			h3#tooltips Tooltips
			include components/tooltips

			h3#notifications Notifications
			include components/notifications

			h3#svg-icons Svg Icons
			include components/svg-icons

			h3#flags-icons Flags Icons
			include components/flags-icons

		//END COMPONENTS

		// GRID
		section
			h2#grid Grid
			include components/grid
		// END GRID

