include ../alert/alert
include ../form/form
include ../page-title/page-title

mixin demo()
	.content-wrapper.demo
		+page-title({"title": "Gulp-front features"})
		// TYPOGRAPHY
		section
			h2#typography Typography
			
			h3#titles-and-paragraphs Titles &amp; Paragraphs
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae nesciunt repudiandae rem, quae tenetur id, nobis vel esse adipisci consequuntur eos officia, alias nemo exercitationem repellat velit molestias voluptates.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem odio deleniti dolores, error vel accusamus ipsa adipisci esse libero optio iusto minus, ullam temporibus placeat ea? Quidem nihil, perspiciatis!
			

			h1 H1 Proin gravida nibh vel velit auctor aliquetoin
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!

			h2 H2 Aenean sollicitudin, lorem quis bibendum auctor elit
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!

			h3 H3 Duis sed odio sit amet nibh vulputate cursus a sit amet.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!

			h4 H4 Morbi accumsan ipsum velit. 
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!

			h5 H5 Nam nec tellus a odio tincidunt auctor a ornare odio.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!

			h6 H6 Sed non neque elit. Sed ut imperdiet nisi.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!

			h1 H1 Proin gravida nibh vel velit auctor aliquetoin
			h2 H2 Aenean sollicitudin, lorem quis bibendum auctor
			h3 H3 Duis sed odio sit amet nibh vulputate cursus a sit amet. 
			h4 H4 Morbi accumsan ipsum velit. 
			h5 H5 Nam nec tellus a odio tincidunt auctor a ornare odio. 
			h6 H6 Sed non neque elit. Sed ut imperdiet nisi.

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!

			
			h3#unordered-lists Unordered lists
			ul
				li Proin gravida nibh vel velit auctor aliquet
				li Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
					ul
						li Morbi accumsan ipsum velit. Nam nec tellus aitae ass aptent taciti sociosqu ad litora torquent 
						li per conubia nostra, per inceptos himenaeos. 
							ul
								li Mauris in erat justo. 
								li Proin gravida nibh vel velit auctor aliquet
						li Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
						li Morbi accumsan ipsum velit. Nam nec tellus aitae ass aptent taciti sociosqu ad litora 
				li Yorquent  per conubia nostra, per inceptos himenaeos. 
				li Mauris in erat justo. 
			
			h3#ordered-lists Ordered lists
			ol
				li Proin gravida nibh vel velit auctor aliquet
				li Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
					ol
						li Morbi accumsan ipsum velit. Nam nec tellus aitae ass aptent taciti sociosqu ad litora torquent 
						li per conubia nostra, per inceptos himenaeos. 
							ol
								li Mauris in erat justo. 
								li Proin gravida nibh vel velit auctor aliquet
						li Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
						li Morbi accumsan ipsum velit. Nam nec tellus aitae ass aptent taciti sociosqu ad litora 
				li Yorquent  per conubia nostra, per inceptos himenaeos. 
				li Mauris in erat justo. 
			
			h3#tables Tables
			table
				caption Table with caption, colgroup, thead, tfoot, and tbody
				colgroup
					col
					col
					col
					col
				thead
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tfoot
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tbody
					tr
						td Nam nec tellus
						td 8873-1978-8717
						td 145.58
						td m³

					tr
						td Etiam
						td 532-8725-9727
						td 17800.50
						td m²

					tr
						td Suspendisse
						td 3364-2214-8781
						td 312.22
						td $

					tr
						td Morbi accumsan
						td 5547-2212-8884
						td 7822.33
						td €

					tr
						td Condimentum 
						td 6687-2111-5557
						td 25.00
						td 444

					tr
						td Nam nec tellus
						td 7898-4460-4557
						td 13.25
						td 13.25

					tr
						td Etiam
						td 1400-0077-7741
						td 140000
						td 140000

					tr
						td Suspendisse
						td 1829-9774-6660
						td 18.26
						td 18.26

					tr
						td Condimentum 
						td 6687-2111-5557
						td 3.141592653589793238462
						td +V
				
			table.table
				caption Table with caption, colgroup, thead, tfoot, and tbody
				colgroup
					col
					col
					col
					col
				thead
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tfoot
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tbody
					tr
						td Nam nec tellus
						td 8873-1978-8717
						td 145.58
						td m³

					tr
						td Etiam
						td 532-8725-9727
						td 17800.50
						td m²

					tr
						td Suspendisse
						td 3364-2214-8781
						td 312.22
						td $

					tr
						td Morbi accumsan
						td 5547-2212-8884
						td 7822.33
						td €

					tr
						td Condimentum 
						td 6687-2111-5557
						td 25.00
						td 444

					tr
						td Nam nec tellus
						td 7898-4460-4557
						td 13.25
						td 13.25

					tr
						td Etiam
						td 1400-0077-7741
						td 140000
						td 140000

					tr
						td Suspendisse
						td 1829-9774-6660
						td 18.26
						td 18.26

					tr
						td Condimentum 
						td 6687-2111-5557
						td 3.141592653589793238462
						td +V

			table.table.table_striped
				caption Table with caption, colgroup, thead, tfoot, and tbody
				colgroup
					col
					col
					col
					col
				thead
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tfoot
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tbody
					tr
						td Nam nec tellus
						td 8873-1978-8717
						td 145.58
						td m³

					tr
						td Etiam
						td 532-8725-9727
						td 17800.50
						td m²

					tr
						td Suspendisse
						td 3364-2214-8781
						td 312.22
						td $

					tr
						td Morbi accumsan
						td 5547-2212-8884
						td 7822.33
						td €

					tr
						td Condimentum 
						td 6687-2111-5557
						td 25.00
						td 444

					tr
						td Nam nec tellus
						td 7898-4460-4557
						td 13.25
						td 13.25

					tr
						td Etiam
						td 1400-0077-7741
						td 140000
						td 140000

					tr
						td Suspendisse
						td 1829-9774-6660
						td 18.26
						td 18.26

					tr
						td Condimentum 
						td 6687-2111-5557
						td 3.141592653589793238462
						td +V

			table.table.table_bordered
				caption Table with caption, colgroup, thead, tfoot, and tbody
				colgroup
					col
					col
					col
					col
				thead
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tfoot
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tbody
					tr
						td Nam nec tellus
						td 8873-1978-8717
						td 145.58
						td m³

					tr
						td Etiam
						td 532-8725-9727
						td 17800.50
						td m²

					tr
						td Suspendisse
						td 3364-2214-8781
						td 312.22
						td $

					tr
						td Morbi accumsan
						td 5547-2212-8884
						td 7822.33
						td €

					tr
						td Condimentum 
						td 6687-2111-5557
						td 25.00
						td 444

					tr
						td Nam nec tellus
						td 7898-4460-4557
						td 13.25
						td 13.25

					tr
						td Etiam
						td 1400-0077-7741
						td 140000
						td 140000

					tr
						td Suspendisse
						td 1829-9774-6660
						td 18.26
						td 18.26

					tr
						td Condimentum 
						td 6687-2111-5557
						td 3.141592653589793238462
						td +V

			table.table.table_horizontal
				caption Table with caption, colgroup, thead, tfoot, and tbody
				colgroup
					col
					col
					col
					col
				thead
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tfoot
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tbody
					tr
						td Nam nec tellus
						td 8873-1978-8717
						td 145.58
						td m³

					tr
						td Etiam
						td 532-8725-9727
						td 17800.50
						td m²

					tr
						td Suspendisse
						td 3364-2214-8781
						td 312.22
						td $

					tr
						td Morbi accumsan
						td 5547-2212-8884
						td 7822.33
						td €

					tr
						td Condimentum 
						td 6687-2111-5557
						td 25.00
						td 444

					tr
						td Nam nec tellus
						td 7898-4460-4557
						td 13.25
						td 13.25

					tr
						td Etiam
						td 1400-0077-7741
						td 140000
						td 140000

					tr
						td Suspendisse
						td 1829-9774-6660
						td 18.26
						td 18.26

					tr
						td Condimentum 
						td 6687-2111-5557
						td 3.141592653589793238462
						td +V

			table.table.table_striped.table_horizontal
				caption Table with caption, colgroup, thead, tfoot, and tbody
				colgroup
					col
					col
					col
					col
				thead
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tfoot
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tbody
					tr
						td Nam nec tellus
						td 8873-1978-8717
						td 145.58
						td m³

					tr
						td Etiam
						td 532-8725-9727
						td 17800.50
						td m²

					tr
						td Suspendisse
						td 3364-2214-8781
						td 312.22
						td $

					tr
						td Morbi accumsan
						td 5547-2212-8884
						td 7822.33
						td €

					tr
						td Condimentum 
						td 6687-2111-5557
						td 25.00
						td 444

					tr
						td Nam nec tellus
						td 7898-4460-4557
						td 13.25
						td 13.25

					tr
						td Etiam
						td 1400-0077-7741
						td 140000
						td 140000

					tr
						td Suspendisse
						td 1829-9774-6660
						td 18.26
						td 18.26

					tr
						td Condimentum 
						td 6687-2111-5557
						td 3.141592653589793238462
						td +V
			
			table.table.table_striped.table_bordered
				caption Table with caption, colgroup, thead, tfoot, and tbody
				colgroup
					col
					col
					col
					col
				thead
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tfoot
					tr
						th Etiam
						th Pharetra
						th Erat sed
						th Feugiat
				tbody
					tr
						td Nam nec tellus
						td 8873-1978-8717
						td 145.58
						td m³

					tr
						td Etiam
						td 532-8725-9727
						td 17800.50
						td m²

					tr
						td Suspendisse
						td 3364-2214-8781
						td 312.22
						td $

					tr
						td Morbi accumsan
						td 5547-2212-8884
						td 7822.33
						td €

					tr
						td Condimentum 
						td 6687-2111-5557
						td 25.00
						td 444

					tr
						td Nam nec tellus
						td 7898-4460-4557
						td 13.25
						td 13.25

					tr
						td Etiam
						td 1400-0077-7741
						td 140000
						td 140000

					tr
						td Suspendisse
						td 1829-9774-6660
						td 18.26
						td 18.26

					tr
						td Condimentum 
						td 6687-2111-5557
						td 3.141592653589793238462
						td +V


			h3#quotes Quotes
			blockquote
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				footer
					cite Someone famous
			
			h3#description-lists Description lists
			dl
				dt Description lists
				dd A description list defines terms and their corresponding descriptions.

				dt This is a term
				dd This is a description.

				dt This is a term
				dd This is a description.
			
			h3#code Code
			pre
				code
					| &lt;!DOCTYPE html&gt;
					| &lt;html lang="en"&gt;
					| &lt;head&gt;
					|	&lt;meta charset="UTF-8" /&gt;
					|	&lt;title&gt;Sample document&lt;/title&gt;
					| &lt;/head&gt;
					| &lt;body&gt;
					| 	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque architecto eius nemo voluptatem assumenda, impedit adipisci beatae modi hic nostrum natus fugiat illo rem quia, consequuntur blanditiis tempora nihil. Voluptatibus.&lt;/p&gt;
					| &lt;/body&gt;
					| &lt;/html&gt;

			h3#text-elements Text level elements
			p Text level 
				abbr(title="HyperText Markup Language") HTML
				|  elements may be used within other elements. They include: 
				em em 
				| and 
				strong strong 
				| for semantic emphasis, 
				i i 
				| and 
				b b 
				| for presentational formatting, 
				abbr abbr 
				| abbreviations, cite citations, 
				code code example
				| , 
				del del
				| , 
				ins ins
				|  for visibly deleted and inserted content, 
				dfn dfn 
				| definitions, 
				mark mark
				|  for highlighted passages and 
				sup sup 
				| superscript and 
				sub sub 
				| subscript.

			hr
		// END TYPOGRAPHY
		
		// HELPERS
		section
			h2#helpers Helpers and mixins

			h3#modals Modal windows

			button.button.button_style_solid.button_color_blue.button_style_rounded(data-remodal-target="modal1") Open modal #1
			button.button.button_style_solid.button_color_blue.button_style_rounded(data-remodal-target="modal2") Open modal #2
		
			include ../modal/modal
			+modal({"id": "modal1", "close": true})
				div(style="padding: 35px")
					h1(style="margin-top: 0") Simple modal #1
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit unde sint debitis in magnam vel pariatur libero nisi minima. 

					button.button.button_style_solid.button_color_blue.button_style_rounded(data-remodal-action="confirm" class="remodal-confirm") OK
					button.button.button_style_solid.button_color_red.button_style_rounded(data-remodal-action="cancel" class="remodal-cancel") Cancel

			+modal({"id": "modal2", "close": true})
				div(style="padding: 35px")
					iframe(width="640" height="360" src="https://www.youtube.com/embed/dOWFVKb2JqM" frameborder="0" allowfullscreen)

			h3#video Responsive video
			.video-widget.video-widget_responsive.video-widget_16x9
				iframe(width="1280" height="720" src="https://www.youtube.com/embed/dOWFVKb2JqM" frameborder="0" allowfullscreen)

			h3#social-icons Social icons module
			include ../social-icons/social-icons
			+social-icons({"title": "Social icons"})

			h3#svg-icons Svg Icons
			style
				:stylus
					.demo-icons
						.icon
							display inline-block
							padding 20px
							box-shadow 0 1px 5px rgba(22, 20, 17, 0.16)
							width 34px
							height 34px
							margin 5px
			.demo-icons
				include ../icon/icon
				+icon('chevron-down')
				+icon('chevron-up')
				+icon('chevron-left')
				+icon('chevron-right')
				+icon('github-octocat')
				+icon('hamburger')
				+icon('heart')
				+icon('maginifer')
				+icon('rss')
				+icon('fb')
				+icon('gp')
				+icon('mr')
				+icon('ok')
				+icon('tw')
				+icon('vk')

			h3#accordion Accordion
			include ../accordion/accordion
			+accordion()
				+accordion-item({"title": "Accordion item 1", "open": true})
					p Accordion item 1 content
				
				+accordion-item({"title": "Accordion item 2"})
					p Accordion item 2 content

				+accordion-item({"title": "Accordion item 3"})
					p Accordion item 2 content

			h3#pseudo-dropdown Pseudo dropdown
			include ../pseudo-dropdown/pseudo-dropdown
			+pseudo-dropdown({"list": [{"title": "Item 1"}, {"title": "Item 2"}, {"title": "Item 3"}, {"title": "Item 4 - active", "active": true}, {"title": "Item 5"}]})
			
			h3#images-helpers Images helpers
			p
				img( src="assets/images/content/preview_small.png", alt="").align-image-left
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!

			p.align-image-center
				img( src="assets/images/content/preview_small.png", alt="")
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!
			
			p
				img( src="assets/images/content/preview_small.png", alt="").align-image-right
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores inventore possimus similique repellat, nostrum veritatis, non saepe cumque, eligendi vel libero in laborum laboriosam, consectetur quisquam nihil perferendis soluta at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi recusandae ab, natus corrupti, voluptates officia quisquam quos beatae culpa rem architecto, deserunt officiis dicta iste accusamus ducimus doloremque minima nam!


			.align-image-center
				figure.image-captioned
					img( src="assets/images/content/preview_small.png", alt="")
					figcaption Example image description
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio eligendi officia dolorem maxime, voluptatum facere minus unde at suscipit maiores cumque eos. Officiis, dolore? Cumque dolor reprehenderit, voluptatem repudiandae. Laborum ratione unde, provident facilis veniam amet doloribus suscipit aliquid esse ad natus repudiandae dolorum animi, consequuntur cumque at dicta, officia quas. Unde, suscipit molestias odio tempore id alias, aliquam illum fugiat accusantium provident quae autem soluta velit, maxime delectus! Velit fuga, est vitae.
		//END HELPERS

		// FORMS
		section
			h2#forms Forms
			h3#messaging Messaging
			+alert(alert.error)
			+alert(alert.success)
			+alert(alert.info)
			+alert(alert.message)

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ab totam, voluptas animi eius ducimus molestiae! Veritatis, atque? Porro praesentium, possimus! Iste architecto cupiditate placeat ab fugiat et adipisci reprehenderit.
			
			script.
				$(function() {
					$.getJSON("http://ip-api.com/json",
						function(json) {
							$('#form-demo__ip').val(json.query);
							$('#form-demo__city').val(json.city);
							$('#form-demo__country').val(json.country);
						}
					);
				});

			+form()
				.form__section
					h3#text-inputs Text Inputs
					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__name", "text": "Name"})
							.form-item__control
								+input({type: "text", "name": "form-demo__name", "id": "form-demo__name", "value": "Nikolas"}).input_style_default
					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__ip", "text": "IP address"})
							.form-item__control
								+input({type: "text", "name": "form-demo__ip", "id": "form-demo__ip", "placeholder": "Enter your country", "disabled": true}).input_style_default

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__country", "text": "Country"})
							.form-item__control
								+input({type: "text", "name": "form-demo__country", "id": "form-demo__country", "placeholder": "Enter your country"}).input_style_default

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__city", "text": "City"})
							.form-item__control
								+input({type: "text", "name": "form-demo__city", "id": "form-demo__city", "placeholder": "Enter your city"}).input_style_default

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__email", "text": "Email"})
							.form-item__control
								+input({type: "email", "name": "form-demo__email", "id": "form-demo__email", "placeholder": "info@example.com"}).input_style_default

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__url", "text": "Your site URL"})
							.form-item__control
								+input({type: "url", "name": "form-demo__url", "id": "form-demo__url", "placeholder": "http://www.example.com"}).input_style_default

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__tel", "text": "Your phone"})
							.form-item__control
								+input({type: "tel", "name": "form-demo__tel", "id": "form-demo__tel", "placeholder": "+123 123-345-6789"}).input_style_default

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__password", "text": "Password"})
							.form-item__control
								+input({type: "password", "name": "form-demo__password", "id": "form-demo__password", "placeholder": "Enter password"}).input_style_default

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__age", "text": "Your age"})
							.form-item__control
								+input({type: "number", "name": "form-demo__age", "id": "form-demo__age", "placeholder": "18"}).input_style_default
					
				
				.form__section
					h3#radios-and-checkboxes Radios and Checkboxes
					.form__item
						.form-item
							.form-item__label
								+label({"text": "Radios"})
							.form-item__control
								+radio-group()
									+radio({"id": "form-demo__radio-1", "name": "form-demo__radio-group-1"}).radio-group__item
										| Normal
									+radio({"id": "form-demo__radio-2", "name": "form-demo__radio-group-1", "checked": true}).radio-group__item
										| Checked
									+radio({"id": "form-demo__radio-3", "name": "form-demo__radio-group-2", "disabled": true}).radio-group__item
										| Normal Disabled
									+radio({"id": "form-demo__radio-4", "name": "form-demo__radio-group-2", "checked": true, "disabled": true}).radio-group__item
										| Checked and Disabled

					.form__item
						.form-item
							.form-item__label
								+label({"text": "Checkboxes"})
							.form-item__control
								+checkbox-group()
									+checkbox({"id": "form-demo__checkbox-1", "name": "form-demo__checkbox-group-1"}).checkbox-group__item
										| Normal
									+checkbox({"id": "form-demo__checkbox-2", "name": "form-demo__checkbox-group-1", "checked": true}).checkbox-group__item
										| Checked
									+checkbox({"id": "form-demo__checkbox-3", "name": "form-demo__checkbox-group-1", "disabled": true}).checkbox-group__item
										| Normal Disabled
									+checkbox({"id": "form-demo__checkbox-4", "name": "form-demo__checkbox-group-1", "checked": true, "disabled": true}).checkbox-group__item
										| Checked and Disabled
						
				.form__section
					h3#selects Selects
					-var language = [{"code": "ar_DZ", "label": "جزائري عربي"}, {"code": "ca_ES", "label": "Català"}, {"code": "cs_CZ", "label": "Čeština"}, {"code": "da_DK", "label": "Dansk"}, {"code": "de_DE", "label": "Deutsch"}, {"code": "el_GR", "label": "Ελληνικά"}, {"code": "en_GB", "label": "English (GB)"}, {"code": "en_US", "label": "English (US)"}, {"code": "es_ES", "label": "Español"}, {"code": "et_EE", "label": "Eesti"}, {"code": "fi_FI", "label": "Suomi"}, {"code": "fr_FR", "label": "Français"}, {"code": "gl_GZ", "label": "Galego (Galiza)"}, {"code": "he_IL", "label": "עברית"}, {"code": "hu_HU", "label": "Magyar"}, {"code": "id_ID", "label": "Bahasa Indonesia"}, {"code": "is_IS", "label": "Íslenska"}, {"code": "it_IT", "label": "Italiano"}, {"code": "ja_JP", "label": "日本語"}, {"code": "lv_LV", "label": "Latviešu"}, {"code": "nl_NL", "label": "Nederlands"}, {"code": "no_NO", "label": "Norsk"}, {"code": "pl_PL", "label": "Polski"}, {"code": "pt_PT", "label": "Português"}, {"code": "ro_RO", "label": "Română"}, {"code": "ru_RU", "label": "Русский"}, {"code": "sk_SK", "label": "Slovenčina"}, {"code": "sv_SE", "label": "Svenska"}, {"code": "th_TH", "label": "ไทย"}, {"code": "uk_UA", "label": "Українська"}, {"code": "vi_VN", "label": "Tiếng Việt"}, {"code": "zh_CN", "label": "中文(简体)"}, {"code": "zh_TW", "label": "中文(繁體)"}, {"code": "bg_BG", "label": "Български"}]
					
					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__language", "text": "Language"})
							.form-item__control
								+select({"id": "form-demo__language", "name": "form-demo__language"}).select_style_default
									option.select__placeholder Select language...
									each option in language
										option(value=option.code)= option.label
					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__language", "text": "Language"})
							.form-item__control
								+select({"id": "form-demo__language", "name": "form-demo__language", "disabled": true}).select_style_default
									option.select__placeholder Select language...
									each option in language
										option(value=option.code)= option.label

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__s-language", "text": "Secondary languages"})
							.form-item__control
								+select({"id": "form-demo__s-language", "name": "form-demo__s-language", "multiple": true, "size": 10}).select_style_default
									option.select__placeholder Select language...
									each option in language
										option(value=option.code)= option.label
				
				.form__section
					h3#textareas-and-files Textareas and Files
					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__message", "text": "Message"})
							.form-item__control
								+textarea({"id": "form-demo__message", "name": "form-demo__message", "placeholder": "Enter message"}).textarea_style_default

					.form__item
						.form-item
							.form-item__label
								+label({"for": "form-demo__photo", "text": "Photo"})
							.form-item__control
								+input({type: "file", "name": "form-demo__photo", "id": "form-demo__photo", "placeholder": "Select photo", "multiple": true}).input_style_default

				.form__section
					h3#captcha Captcha
					.form__item
						.form-item.form-item_captcha
							.form-item__label
								+label({"for": "form-demo__captcha", "text": "Captcha"})
							.form-item__control
								a(href="javascript:void(0);").form-item__image: img(src="assets/images/captcha.png", alt="Enter text from image")
								+input({type: "text", "name": "form-demo__captcha", "id": "form-demo__captcha", "placeholder": "Enter text from image"}).input_style_default.form-item__input


			h3#buttons Buttons
			h4 Styles
			h5 Solid
			h6 Rounded
			button(type="button").button.button_style_solid.button_color_grey.button_style_rounded Grey
			button(type="button").button.button_style_solid.button_color_black.button_style_rounded Black
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded Blue
			button(type="button").button.button_style_solid.button_color_dark-blue.button_style_rounded Dark blue
			button(type="button").button.button_style_solid.button_color_green.button_style_rounded Green
			button(type="button").button.button_style_solid.button_color_yellow.button_style_rounded Yellow
			button(type="button").button.button_style_solid.button_color_orange.button_style_rounded Orange
			button(type="button").button.button_style_solid.button_color_red.button_style_rounded Red
			button(type="button").button.button_style_solid.button_color_aqua.button_style_rounded Aqua
			button(type="button").button.button_style_solid.button_color_purple.button_style_rounded Purple

			h6 Flat
			button(type="button").button.button_style_solid.button_color_grey Grey
			button(type="button").button.button_style_solid.button_color_black Black
			button(type="button").button.button_style_solid.button_color_blue Blue
			button(type="button").button.button_style_solid.button_color_dark-blue Dark blue
			button(type="button").button.button_style_solid.button_color_green Green
			button(type="button").button.button_style_solid.button_color_yellow Yellow
			button(type="button").button.button_style_solid.button_color_orange Orange
			button(type="button").button.button_style_solid.button_color_red Red
			button(type="button").button.button_style_solid.button_color_aqua Aqua
			button(type="button").button.button_style_solid.button_color_purple Purple

			h6 Pill
			button(type="button").button.button_style_solid.button_color_grey.button_style_pill Grey
			button(type="button").button.button_style_solid.button_color_black.button_style_pill Black
			button(type="button").button.button_style_solid.button_color_blue.button_style_pill Blue
			button(type="button").button.button_style_solid.button_color_dark-blue.button_style_pill Dark blue
			button(type="button").button.button_style_solid.button_color_green.button_style_pill Green
			button(type="button").button.button_style_solid.button_color_yellow.button_style_pill Yellow
			button(type="button").button.button_style_solid.button_color_orange.button_style_pill Orange
			button(type="button").button.button_style_solid.button_color_red.button_style_pill Red
			button(type="button").button.button_style_solid.button_color_aqua.button_style_pill Aqua
			button(type="button").button.button_style_solid.button_color_purple.button_style_pill Purple

			h5 Ghost
			h6 Rounded
			button(type="button").button.button_style_ghost.button_color_grey.button_style_rounded Grey
			button(type="button").button.button_style_ghost.button_color_black.button_style_rounded Black
			button(type="button").button.button_style_ghost.button_color_blue.button_style_rounded Blue
			button(type="button").button.button_style_ghost.button_color_dark-blue.button_style_rounded Dark blue
			button(type="button").button.button_style_ghost.button_color_green.button_style_rounded Green
			button(type="button").button.button_style_ghost.button_color_yellow.button_style_rounded Yellow
			button(type="button").button.button_style_ghost.button_color_orange.button_style_rounded Orange
			button(type="button").button.button_style_ghost.button_color_red.button_style_rounded Red
			button(type="button").button.button_style_ghost.button_color_aqua.button_style_rounded Aqua
			button(type="button").button.button_style_ghost.button_color_purple.button_style_rounded Purple

			h6 Flat
			button(type="button").button.button_style_ghost.button_color_grey Grey
			button(type="button").button.button_style_ghost.button_color_black Black
			button(type="button").button.button_style_ghost.button_color_blue Blue
			button(type="button").button.button_style_ghost.button_color_dark-blue Dark blue
			button(type="button").button.button_style_ghost.button_color_green Green
			button(type="button").button.button_style_ghost.button_color_yellow Yellow
			button(type="button").button.button_style_ghost.button_color_orange Orange
			button(type="button").button.button_style_ghost.button_color_red Red
			button(type="button").button.button_style_ghost.button_color_aqua Aqua
			button(type="button").button.button_style_ghost.button_color_purple Purple

			h6 Pill
			button(type="button").button.button_style_ghost.button_color_grey.button_style_pill Grey
			button(type="button").button.button_style_ghost.button_color_black.button_style_pill Black
			button(type="button").button.button_style_ghost.button_color_blue.button_style_pill Blue
			button(type="button").button.button_style_ghost.button_color_dark-blue.button_style_pill Dark blue
			button(type="button").button.button_style_ghost.button_color_green.button_style_pill Green
			button(type="button").button.button_style_ghost.button_color_yellow.button_style_pill Yellow
			button(type="button").button.button_style_ghost.button_color_orange.button_style_pill Orange
			button(type="button").button.button_style_ghost.button_color_red.button_style_pill Red
			button(type="button").button.button_style_ghost.button_color_aqua.button_style_pill Aqua
			button(type="button").button.button_style_ghost.button_color_purple.button_style_pill Purple
			
			h4 Sizes
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-large Extra large
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_large Large
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded Normal
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_small Small
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-small Extra small
			
			h4 Icon buttons
			button(type="button").button.button_style_solid.button_color_grey.button_style_rounded
				span.button__text Grey
				+icon('chevron-right').button__icon

			button(type="button").button.button_style_solid.button_color_black.button_style_rounded
				span.button__text Black
				+icon('chevron-right').button__icon

			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded
				span.button__text Blue
				+icon('chevron-right').button__icon

			button(type="button").button.button_style_solid.button_color_dark-blue.button_style_rounded
				span.button__text Dark blue
				+icon('chevron-right').button__icon

			button(type="button").button.button_style_solid.button_color_green.button_style_rounded
				span.button__text Green
				+icon('chevron-right').button__icon

			button(type="button").button.button_style_solid.button_color_yellow.button_style_rounded
				+icon('chevron-left').button__icon
				span.button__text Yellow

			button(type="button").button.button_style_solid.button_color_orange.button_style_rounded
				+icon('chevron-left').button__icon
				span.button__text Orange

			button(type="button").button.button_style_solid.button_color_red.button_style_rounded
				+icon('chevron-left').button__icon
				span.button__text Red

			button(type="button").button.button_style_solid.button_color_aqua.button_style_rounded
				+icon('chevron-left').button__icon
				span.button__text Aqua

			button(type="button").button.button_style_solid.button_color_purple.button_style_rounded
				+icon('chevron-left').button__icon
				span.button__text Purple

			h4 Tags types
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded Button
			a(href="javascript:void(0);").button.button_style_solid.button_color_blue.button_style_rounded Link
			input(type="button" value="Input").button.button_style_solid.button_color_blue.button_style_rounded

			h4 Disabled buttons
			button(type="button" disabled).button.button_style_solid.button_color_blue.button_style_rounded Disabled button
			a(href="javascript:void(0);").button.button_style_solid.button_color_blue.button_style_rounded.button_disabled Disabled link
			input(type="button" value="Disabled input" disabled).button.button_style_solid.button_color_blue.button_style_rounded

			h4 Block buttons
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-large.button_block Extra large
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_large.button_block Large
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_block Normal
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_small.button_block Small
			button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-small.button_block Extra small


		// END FORMS

		// GRID
		section
			h2#grid Grid
			.grid.grid_demo
				.grid__row
					.grid__col 1
					.grid__col 2
					.grid__col 3
					.grid__col 4
					.grid__col 5
					.grid__col 6
					.grid__col 7
					.grid__col 8
					.grid__col 9
					.grid__col 10
					.grid__col 11
					.grid__col 12

				.grid__row
					.grid__col.grid__col_2 1
					.grid__col.grid__col_2 2
					.grid__col.grid__col_2 3
					.grid__col.grid__col_2 4
					.grid__col.grid__col_2 5
					.grid__col.grid__col_2 6

				.grid__row
					.grid__col.grid__col_3 1
					.grid__col.grid__col_3 2
					.grid__col.grid__col_3 3
					.grid__col.grid__col_3 4

				.grid__row
					.grid__col.grid__col_4 1
					.grid__col.grid__col_4 2
					.grid__col.grid__col_4 3

				.grid__row
					.grid__col.grid__col_6 1
					.grid__col.grid__col_6 2
				
				.grid__row
					.grid__col.grid__col_12 1

				.grid__row
					.grid__col.grid__col_1 1
					.grid__col.grid__col_11 2

				.grid__row
					.grid__col.grid__col_2 1
					.grid__col.grid__col_10 2

				.grid__row
					.grid__col.grid__col_3 1
					.grid__col.grid__col_9 2

				.grid__row
					.grid__col.grid__col_4 1
					.grid__col.grid__col_8 2

				.grid__row
					.grid__col.grid__col_5 1
					.grid__col.grid__col_7 2

				.grid__row
					.grid__col.grid__col_6 1
					.grid__col.grid__col_6 2

				.grid__row
					.grid__col.grid__col_7 1
					.grid__col.grid__col_5 2

				.grid__row
					.grid__col.grid__col_8 1
					.grid__col.grid__col_4 2

				.grid__row
					.grid__col.grid__col_9 1
					.grid__col.grid__col_3 2

				.grid__row
					.grid__col.grid__col_10 1
					.grid__col.grid__col_2 2

				.grid__row
					.grid__col.grid__col_11 1
					.grid__col.grid__col_1 2

				.grid__row
					.grid__col.grid__col_offset_1 1
					.grid__col 2
					.grid__col 3
					.grid__col 4
					.grid__col 5
					.grid__col 6
					.grid__col 7
					.grid__col 8
					.grid__col 9
					.grid__col 10
					.grid__col 11

				.grid__row
					.grid__col.grid__col_offset_2 1
					.grid__col 2
					.grid__col 3
					.grid__col 4
					.grid__col 5
					.grid__col 6
					.grid__col 7
					.grid__col 8
					.grid__col 9
					.grid__col 10

				.grid__row
					.grid__col.grid__col_offset_3 1
					.grid__col 2
					.grid__col 3
					.grid__col 4
					.grid__col 5
					.grid__col 6
					.grid__col 7
					.grid__col 8
					.grid__col 9

				.grid__row
					.grid__col.grid__col_offset_4 1
					.grid__col 2
					.grid__col 3
					.grid__col 4
					.grid__col 5
					.grid__col 6
					.grid__col 7
					.grid__col 8

				.grid__row
					.grid__col.grid__col_offset_5 1
					.grid__col 2
					.grid__col 3
					.grid__col 4
					.grid__col 5
					.grid__col 6
					.grid__col 7

				.grid__row
					.grid__col.grid__col_offset_6 1
					.grid__col 2
					.grid__col 3
					.grid__col 4
					.grid__col 5
					.grid__col 6

				.grid__row
					.grid__col.grid__col_offset_7 1
					.grid__col 2
					.grid__col 3
					.grid__col 4
					.grid__col 5

				.grid__row
					.grid__col.grid__col_offset_8 1
					.grid__col 2
					.grid__col 3
					.grid__col 4

				.grid__row
					.grid__col.grid__col_offset_9 1
					.grid__col 2
					.grid__col 3

				.grid__row
					.grid__col.grid__col_offset_10 1
					.grid__col 2

				.grid__row
					.grid__col.grid__col_offset_11 1
		// END GRID
		
