.input
	&__control
		//

	&_inline &__control
		width auto

	&_style_default &__control
		height $form-size-input-height
		padding 0 $form-padding_horizontal
		font-size $form-font-size
		color $form-color-font
		background-color $form-color-background
		border $form-border_default
		border-radius $form-border-radius
		+placeholder()
			color $form-color-placeholder

		&:focus
			outline none
			focus($form-color-border_focus)

		&:invalid
			border-color $form-color-border_invalid
			&:focus
				focus($form-color-border_invalid)

		&:disabled
			background-color $form-color-background_disabled
