.pseudo-dropdown
	font-size 13px
	position relative
	display inline-block
	&__trigger
		color #333
		border 1px solid #cdcdcd
		border-radius 3px
		background-color #fff
		font-size 13px
		line-height 40px
		height 40px
		padding 0 37px 0 18px
		cursor pointer


		&:hover
			background #F9F9F9

		&:after
			content ''
			display block
			position absolute
			size 6px
			border-width 0 1px 1px 0
			border-style solid
			transform rotate(45deg)
			transform-origin 50% 75%
			right 18px
			top 50%
			margin-top -4px
			transition 150ms all ease-in-out 0s

	&__list
		min-width 100%
		width 200px
		max-width 300px
		position absolute
		left 0
		top 100%
		z-index 100
		overflow hidden
		border-radius 3px
		background #fff
		opacity 0
		visibility hidden
		transition all 0.2s ease-in-out 0s
		box-shadow 0 0 7px rgba(0, 0, 0, 0.13)

	&_dropdown_open &__list
		opacity 1
		visibility visible

	&_dropdown_open &__trigger:after
		transform rotate(225deg)

.pseudo-dropdown-list
	ul-reset()
	&__item
		padding 5px 12px
		list-style none
		cursor pointer

	&__item:hover
	&__item_active
		background-color #3498da
		color #fff

	&__item_active
		&:hover
			background-color #258bce
