mixin dropdown(data)
	.dropdown&attributes(attributes)
		button(role="button" data-dropdown-role="dropdown" aria-haspopup="true" aria-expanded="false").dropdown__toggler Dropdown
			span.dropdown__caret
		.dropdown__menu
			block
