mixin dropdown(data)
	.dropdown&attributes(attributes)
		button(type="button" data-dropdown-role="trigger").dropdown__trigger= data.title
			span.dropdown__caret

		.dropdown__menu(data-dropdown-role="drop-menu")
			block
