.main-page
	&__header
		margin-bottom 32px

	&__section
		margin-bottom 32px

	&__section_quick-start
		margin-right auto
		margin-left auto
		max-width 680px

	&__title
		margin 0
		padding-bottom 1em
		text-align center
		font-weight 400
		font-size em(24px)
