.main-page
	&__hero
		margin-bottom em(48px)

	&__section
		margin 0 auto em(48px)
		max-width $content-width

	&__section_quick-start
		max-width 680px

	&__title
		margin 0
		padding-bottom 1em
		text-align center
		font-weight 400
		font-size em(24px)
