include ../icon/icon

mixin modal(data)
	.modal(data-remodal-id=data.id)&attributes(attributes)
		.modal__wrapper
			if data.close
				button.button.modal__close(data-remodal-action="close")
					+icon('close')

			.modal__content
				block
