.scroll-locked
	overflow hidden
	touch-action none

.modal
	display none

	&__overlay
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		z-index 10000
		display flex
		justify-content center
		align-items center
		background-color rgba(0, 0, 0, 0.5)
		-webkit-tap-highlight-color transparent

	&__container
		display flex
		justify-content center
		align-items center
		width 100%
		height 100%

	&.is-open
		display block

	&_animation_slide
		display none

		&.is-open
			display block

		&[aria-hidden="false"]
			& ^[0]__overlay
				animation modal__fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1)

			& ^[0]__container
				animation modal__slideIn 0.3s cubic-bezier(0, 0, 0.2, 1)

		&[aria-hidden="true"]
			& ^[0]__overlay
				animation modal__fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1)

			& ^[0]__container
				animation modal__slideOut 0.3s cubic-bezier(0, 0, 0.2, 1)

		& ^[0]__container
		& ^[0]__overlay
			will-change transform

@keyframes modal__fadeIn
	from
		opacity 0

	to
		opacity 1

@keyframes modal__fadeOut
	from
		opacity 1

	to
		opacity 0

@keyframes modal__slideIn
	from
		transform translateY(20px)

	to
		transform translateY(0)

@keyframes modal__slideOut
	from
		transform translateY(0)

	to
		transform translateY(-20px)
