mixin social-likes(data)
	.social-likes.social-likes_light
		.facebook(title="Поделиться ссылкой на Фейсбуке") Facebook
		.odnoklassniki(title="Поделиться ссылкой в Одноклассниках") Одноклассники
		.mailru(title="Поделиться ссылкой в Моём мире") Мой мир
		.twitter(title="Поделиться ссылкой в Твиттере") Twitter
		.vkontakte(title="Поделиться ссылкой во Вконтакте") VK
		.plusone(title="Поделиться ссылкой в Гугл-плюсе") Google+
		.pinterest(title="Поделиться картинкой на Пинтересте" data-media="") Pinterest
