include ../icon/icon

mixin alert(data)
	.alert&attributes(attributes)
		.alert__title= data.title
		.alert__body= data.text

		button(type="button" data-alert-close).alert__close
			+icon(name="close" title="Close")
			span.visuallyhidden Close this message
