// Mixins
alert-style(background-color, font-color)
	border 1px solid background-color - 20%
	background background-color

	.alert
		&__title
		&__close
		&__body
			color font-color

		&__close
			color font-color

			&:hover
				color font-color - 40%

.alert
	position relative
	margin-bottom $base-vertical-spacing
	padding 10px 15px
	border-radius 2px

	&__title
		padding-bottom 8px
		font-weight bold
		font-size 16px

	&__body
		font-size 14px

	&__close
		position absolute
		top 5px
		right 5px
		padding 3px
		border none
		background-color transparent
		line-height 1px
		cursor pointer

		svg
			size 10px

	&_color_gray
		alert-style(
			background-color: $gray-6,
			font-color: #fff
		)

	&_color_black
		alert-style(
			background-color: $gray-9,
			font-color: #fff
		)

	&_color_red
		alert-style(
			background-color: $red-6,
			font-color: #fff
		)

	&_color_pink
		alert-style(
			background-color: $pink-6,
			font-color: #fff
		)

	&_color_grape
		alert-style(
			background-color: $grape-6,
			font-color: #fff
		)

	&_color_violet
		alert-style(
			background-color: $violet-6,
			font-color: #fff
		)

	&_color_indigo
		alert-style(
			background-color: $indigo-6,
			font-color: #fff
		)

	&_color_blue
		alert-style(
			background-color: $blue-6,
			font-color: #fff
		)

	&_color_cyan
		alert-style(
			background-color: $cyan-6,
			font-color: #fff
		)

	&_color_teal
		alert-style(
			background-color: $teal-6,
			font-color: #fff
		)

	&_color_green
		alert-style(
			background-color: $green-6,
			font-color: #fff
		)

	&_color_lime
		alert-style(
			background-color: $lime-6,
			font-color: #fff
		)

	&_color_yellow
		alert-style(
			background-color: $yellow-6,
			font-color: #fff
		)

	&_color_orange
		alert-style(
			background-color: $orange-6,
			font-color: #fff
		)
