// -//////////////////////////////////////////////////////////
// - Mixins
// -//////////////////////////////////////////////////////////
button-style(color = false, color-hover = false, background-color = false, background-color-hover = false, background-image = false, background-image-hover = false, border-color = false, border-color-hover = false)
	if color
		color color

	if background-image
		background-image background-image

	if background-color
		background-color background-color

	if border-color
		border-color border-color

	&:focus
	&:hover
	&:active
		if color-hover
			color color-hover
		else
			color color

		if background-image-hover
			background-image background-image-hover

		if background-color-hover
			background-color background-color-hover
		else
			background-color background-color - 10%

		if border-color-hover
			border-color border-color-hover
		else
			if border-color
				border-color border-color - 25%

// -//////////////////////////////////////////////////////////
// - Base style
// -//////////////////////////////////////////////////////////
.button
	display inline-block
	box-sizing border-box
	margin-bottom 0
	padding 0
	border-width 1px
	border-style solid
	border-color transparent
	border-radius 0
	background-color transparent
	background-image none
	vertical-align middle
	text-align center
	text-decoration none
	white-space nowrap
	font-weight normal
	line-height normal
	cursor pointer
	transition-timing-function ease-in-out
	transition-duration 125ms
	transition-property color, border-color, background-color, background-image
	user-select none
	touch-action manipulation

	&:hover
	&:focus
		text-decoration none

	&:active
	&_active
		outline none
		background-image none
		box-shadow inset 0 3px 5px rgba(#000, 0.125)

	&_disabled
	&[disabled]
	a&_disabled
		&
		&:hover
		&:focus
		&:active
			outline none
			box-shadow none
			opacity 0.65
			pointer-events none

	// - Block button
	&_block
		display block
		width 100%

	&_icon
		display inline-flex
		justify-content center
		text-align center

		svg
			max-width 100%
			max-width 100%
			fill currentColor

		img
			width auto
			height 1em

		svg
		img
		.spinner
			max-width 1em
			max-height 1em

			+ span
				margin-left 0.5em

		span
			+ svg
			+ img
			+ .spinner
				margin-left 0.5em

// -//////////////////////////////////////////////////////////
// - Button sizes
// -//////////////////////////////////////////////////////////
.button
	padding 0.8em 1em
	line-height 1

	&_size_small
	&_size_s
		font-size 75%

	&_size_medium
	&_size_m
		font-size 100%

	&_size_large
	&_size_l
		font-size 125%

	&_size_extra-large
	&_size_xl
		font-size 150%

	&_size_extra-extra-large
	&_size_xxl
		font-size 175%

// -//////////////////////////////////////////////////////////
// - Styles and colors
// -//////////////////////////////////////////////////////////

// Rounded
.button_style_rounded
	border-radius 3px

// Pill
.button_style_pill
	border-radius 50em

// Solid
.button_style_solid.button_color_gray
	button-style(
		color: $gray-6,
		background-color: $gray-2,
		background-color-hover: $gray-3
	)

.button_style_solid.button_color_black
	button-style(
		color: #fff,
		background-color: $gray-9,
		background-color-hover: $gray-8
	)

.button_style_solid.button_color_red
	button-style(
		color: #fff,
		background-color: $red-6,
		background-color-hover: $red-5
	)

.button_style_solid.button_color_pink
	button-style(
		color: #fff,
		background-color: $pink-6,
		background-color-hover: $pink-5
	)

.button_style_solid.button_color_grape
	button-style(
		color: #fff,
		background-color: $grape-6,
		background-color-hover: $grape-5
	)

.button_style_solid.button_color_violet
	button-style(
		color: #fff,
		background-color: $violet-6,
		background-color-hover: $violet-5
	)

.button_style_solid.button_color_indigo
	button-style(
		color: #fff,
		background-color: $indigo-6,
		background-color-hover: $indigo-5
	)

.button_style_solid.button_color_blue
	button-style(
		color: #fff,
		background-color: $blue-6,
		background-color-hover: $blue-5
	)

.button_style_solid.button_color_cyan
	button-style(
		color: #fff,
		background-color: $cyan-6,
		background-color-hover: $cyan-5
	)

.button_style_solid.button_color_teal
	button-style(
		color: #fff,
		background-color: $teal-6,
		background-color-hover: $teal-5
	)

.button_style_solid.button_color_green
	button-style(
		color: #fff,
		background-color: $green-6,
		background-color-hover: $green-5
	)

.button_style_solid.button_color_lime
	button-style(
		color: #fff,
		background-color: $lime-6,
		background-color-hover: $lime-5
	)

.button_style_solid.button_color_yellow
	button-style(
		color: #fff,
		background-color: $yellow-6,
		background-color-hover: $yellow-5
	)

.button_style_solid.button_color_orange
	button-style(
		color: #fff,
		background-color: $orange-6,
		background-color-hover: $orange-5
	)

// Ghost
.button_style_ghost
	border-width 1px
	border-style solid

.button_style_ghost.button_color_white
	button-style(
		color: #fff,
		color-hover: $gray-7,
		background-color: transparent,
		background-color-hover: #fff,
		border-color: #fff,
		border-color-hover: #fff
	)

.button_style_ghost.button_color_gray
	button-style(
		color: $gray-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $gray-7,
		border-color: $gray-6,
		border-color-hover: $gray-7
	)

.button_style_ghost.button_color_black
	button-style(
		color: $gray-9,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $gray-9,
		border-color: $gray-9,
		border-color-hover: $gray-9
	)

.button_style_ghost.button_color_red
	button-style(
		color: $red-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $red-6,
		border-color: $red-6,
		border-color-hover: $red-6
	)

.button_style_ghost.button_color_pink
	button-style(
		color: $pink-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $pink-6,
		border-color: $pink-6,
		border-color-hover: $pink-6
	)

.button_style_ghost.button_color_grape
	button-style(
		color: $grape-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $grape-6,
		border-color: $grape-6,
		border-color-hover: $grape-6
	)

.button_style_ghost.button_color_violet
	button-style(
		color: $violet-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $violet-6,
		border-color: $violet-6,
		border-color-hover: $violet-6
	)

.button_style_ghost.button_color_indigo
	button-style(
		color: $indigo-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $indigo-6,
		border-color: $indigo-6,
		border-color-hover: $indigo-6
	)

.button_style_ghost.button_color_blue
	button-style(
		color: $blue-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $blue-6,
		border-color: $blue-6,
		border-color-hover: $blue-6
	)

.button_style_ghost.button_color_cyan
	button-style(
		color: $cyan-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $cyan-6,
		border-color: $cyan-6,
		border-color-hover: $cyan-6
	)

.button_style_ghost.button_color_teal
	button-style(
		color: $teal-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $teal-6,
		border-color: $teal-6,
		border-color-hover: $teal-6
	)

.button_style_ghost.button_color_green
	button-style(
		color: $green-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $green-6,
		border-color: $green-6,
		border-color-hover: $green-6
	)

.button_style_ghost.button_color_lime
	button-style(
		color: $lime-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $lime-6,
		border-color: $lime-6,
		border-color-hover: $lime-6
	)

.button_style_ghost.button_color_yellow
	button-style(
		color: $yellow-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $yellow-6,
		border-color: $yellow-6,
		border-color-hover: $yellow-6
	)

.button_style_ghost.button_color_orange
	button-style(
		color: $orange-6,
		color-hover: #fff,
		background-color: transparent,
		background-color-hover: $orange-6,
		border-color: $orange-6,
		border-color-hover: $orange-6
	)

// Gradient
.button_style_gradient
	background-image linear-gradient(transparent, transparent 40%, transparent)

	&:focus
	&:hover
	&:active
		background-image linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1))

.button_style_gradient.button_color_gray
	button-style(
		color: $gray-6,
		background-color: $gray-2,
		background-color-hover: $gray-3
	)

.button_style_gradient.button_color_black
	button-style(
		color: #fff,
		background-color: $gray-9,
		background-color-hover: $gray-8
	)

.button_style_gradient.button_color_red
	button-style(
		color: #fff,
		background-color: $red-6,
		background-color-hover: $red-5
	)

.button_style_gradient.button_color_pink
	button-style(
		color: #fff,
		background-color: $pink-6,
		background-color-hover: $pink-5
	)

.button_style_gradient.button_color_grape
	button-style(
		color: #fff,
		background-color: $grape-6,
		background-color-hover: $grape-5
	)

.button_style_gradient.button_color_violet
	button-style(
		color: #fff,
		background-color: $violet-6,
		background-color-hover: $violet-5
	)

.button_style_gradient.button_color_indigo
	button-style(
		color: #fff,
		background-color: $indigo-6,
		background-color-hover: $indigo-5
	)

.button_style_gradient.button_color_blue
	button-style(
		color: #fff,
		background-color: $blue-6,
		background-color-hover: $blue-5
	)

.button_style_gradient.button_color_cyan
	button-style(
		color: #fff,
		background-color: $cyan-6,
		background-color-hover: $cyan-5
	)

.button_style_gradient.button_color_teal
	button-style(
		color: #fff,
		background-color: $teal-6,
		background-color-hover: $teal-5
	)

.button_style_gradient.button_color_green
	button-style(
		color: #fff,
		background-color: $green-6,
		background-color-hover: $green-5
	)

.button_style_gradient.button_color_lime
	button-style(
		color: #fff,
		background-color: $lime-6,
		background-color-hover: $lime-5
	)

.button_style_gradient.button_color_yellow
	button-style(
		color: #fff,
		background-color: $yellow-6,
		background-color-hover: $yellow-5
	)

.button_style_gradient.button_color_orange
	button-style(
		color: #fff,
		background-color: $orange-6,
		background-color-hover: $orange-5
	)

// Solid
$text-button-hover-alpha = 0.2

.button_style_text.button_color_gray
	button-style(
		color: $gray-2,
		background-color-hover: rgba($gray-2, $text-button-hover-alpha)
	)

.button_style_text.button_color_black
	button-style(
		color: $gray-9,
		background-color-hover: rgba($gray-9, $text-button-hover-alpha)
	)

.button_style_text.button_color_red
	button-style(
		color: $red-6,
		background-color-hover: rgba($red-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_pink
	button-style(
		color: $pink-6,
		background-color-hover: rgba($pink-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_grape
	button-style(
		color: $grape-6,
		background-color-hover: rgba($grape-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_violet
	button-style(
		color: $violet-6,
		background-color-hover: rgba($violet-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_indigo
	button-style(
		color: $indigo-6,
		background-color-hover: rgba($indigo-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_blue
	button-style(
		color: $blue-6,
		background-color-hover: rgba($blue-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_cyan
	button-style(
		color: $cyan-6,
		background-color-hover: rgba($cyan-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_teal
	button-style(
		color: $teal-6,
		background-color-hover: rgba($teal-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_green
	button-style(
		color: $green-6,
		background-color-hover: rgba($green-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_lime
	button-style(
		color: $lime-6,
		background-color-hover: rgba($lime-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_yellow
	button-style(
		color: $yellow-6,
		background-color-hover: rgba($yellow-6, $text-button-hover-alpha)
	)

.button_style_text.button_color_orange
	button-style(
		color: $orange-6,
		background-color-hover: rgba($orange-6, $text-button-hover-alpha)
	)
