.select
	position relative

	&:after
		position absolute
		z-index 1
		display block
		content ''

	&__control
		// 

	&__placeholder
		display none
		visibility hidden
		height 0
		outline none
		border none
		font-size 0
		opacity 0

	&_multiple &__control
		height auto !important

	&_multiple:after
		content none !important

	&_inline &__control
		width auto

	&_style_default
	&_style_default &__placeholder
		color $form-color-placeholder

		&:after
			top 50%
			right 18px
			margin-top -4px
			size 6px
			border-width 0 1px 1px 0
			border-style solid
			transform rotate(45deg)
			transform-origin 75% 75%

	&_style_default &__control
		padding 0 ($form-padding_horizontal * 2) 0 $form-padding_horizontal
		min-height $form-size-input-height
		height $form-size-input-height
		border $form-border_default
		border-radius $form-border-radius
		background-color $form-color-background
		color $form-color-font
		font-size $form-font-size

		+placeholder()
			color $form-color-placeholder

		&:focus
			outline none
			focus($form-color-border_focus)

		&:invalid
			border-color $form-color-border_invalid

			&:focus
				focus($form-color-border_invalid)

		&:disabled
			background-color $form-color-background_disabled

	&_style_default&_multiple &__control
		padding 0 $form-padding_horizontal
