include ../icon/icon

mixin pager(data)
	.pager
		a(href="#").pager__arrow.pager__arrow_left
			+icon('chevron-left')
		.pager__counter
			span.pager__current= data.current
			|  из 
			span.pager__total= data.total
		a(href="#").pager__arrow.pager__arrow_right
			+icon('chevron-right')

