.pager
	&__item
		padding 12px 22px
		font-size 14px
		line-height 1.4
		cursor pointer
		user-select none
		transition 125ms background-color ease-in-out
		border 1px solid #cdcdcd
		border-radius 3px
		display inline-block
		&
		&:visited
			color #333
			background-color #fff
			text-decoration none
		&:hover
			color #fff
			background-color #2ea9fa
			border-color #2ea9fa

	&__icon
	&__text
		vertical-align middle
		display inline-block

	&__item_prev &__icon
		margin-right 10px

	&__item_next &__icon
		margin-left 10px



