.pager
	&__control
		&
		&:visited
			display inline-block
			vertical-align middle
			text-align center
			color currentColor
			text-decoration none
			display inline-block
			height 2.5em
			line-height 2.5em
			border-radius 50em
			background-color #fff
			border 1px solid #cdcdcd
			padding-left 0.8em
			padding-right 0.8em

		&:hover
			color currentColor
			text-decoration none
			background-color #0083ca
			border-color #0083ca
			color #fff



