include ../icon/icon

mixin pager(data)
	.pager&attributes(attributes)
		a(href="#").pager__item.pager__item_prev
			+icon('chevron-left').pager__icon
			span.pager__text Previous
		a(href="#").pager__item.pager__item_next
			span.pager__text Next
			+icon('chevron-right').pager__icon

