.code
	counter-reset line

	&__line
		position relative
		padding-left 2em
		counter-increment line

		&::before
			position absolute
			left 0
			color #999
			content counter(line) ". "
			user-select none
