.code
	counter-reset line

	&__line
		counter-increment line
		position relative
		padding-left 2em
		&::before
			position absolute
			left 0
			content counter(line) ". "
			color #999
			user-select none
