html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background-color: transparent;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
}

body {
	background: #fff;
	color: #222;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.4rem;
	line-height: 2.4rem;
	min-height: 100%;
}

audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Noto Serif", serif;
	font-weight: 700;
	margin: 1.2em 0 0.5em;
	line-height: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

h1 {
	font-size: 2.8rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

p {
	margin-bottom: 2.4rem;
	margin-top: 2.4rem;
}

a {
	color: #0083ca;
	-webkit-transition: 0.2s color ease;
	-o-transition: 0.2s color ease;
	transition: 0.2s color ease;
	text-decoration: underline;
}

a:visited {
	color: #0097e9;
}

a:hover {
	text-decoration: none;
	color: #e11;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

ol, ul {
	padding-left: 2em;
}

dt, dd {
	line-height: 2.4rem;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

pre, code {
	font-family: "Consolas", "Courier New", "Nimbus Mono L", monospace;
	font-size: 1.4rem;
	line-height: 2.4rem;
	overflow: hidden;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

pre {
	padding: 1em;
	background: #eee;
	border-radius: 3px;
}

q {
	quotes: "«" "»";
	font-style: italic;
}

q q {
	quotes: "„" "“";
	font-style: italic;
}

blockquote {
	padding: 1.2rem;
	margin: 0 0 2.4rem;
	border-left: 5px solid #eee;
}

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
	margin-bottom: 0;
}

blockquote p:first-child, blockquote ul:first-child, blockquote ol:first-child {
	margin-top: 0;
}

blockquote footer, blockquote small {
	display: block;
	font-size: 80%;
	line-height: 2.4rem;
}

blockquote footer:before, blockquote small:before {
	content: "\2014 \00A0";
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

table {
	width: 100%;
}

.table {
	margin: 2.4rem 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #e6e6e6;
	font-size: 14px;
}

.table caption {
	color: #222;
	font-style: italic;
	font-size: 85%;
	line-height: 1;
	padding: 1em 0;
	text-align: center;
}

.table td, .table th {
	border-left: 1px solid #e6e6e6;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 0.5em 1em;
	font-weight: normal;
}

.table td:first-child, .table th:first-child {
	border-left-width: 0;
}

.table thead, .table tfoot {
	background-color: #e5ecf8;
	color: #222;
	text-align: left;
	vertical-align: bottom;
}

.table thead td, .table tfoot td, .table thead th, .table tfoot th {
	border-color: #fff;
}

.table td {
	background-color: transparent;
}

.table_striped tr:nth-child(2n-1) td {
	background-color: #f7f7f7;
}

.table_bordered td {
	border-bottom: 1px solid #e6e6e6;
}

.table_bordered tbody > tr:last-child > td, .table_bordered thead > tr:last-child > td {
	border-bottom-width: 0;
}

.table_horizontal td, .table_horizontal th {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #e6e6e6;
}

.table_horizontal tbody > tr:last-child > td, .table_horizontal thead > tr:last-child > td {
	border-bottom-width: 0;
}

.table_responsive thead, .table_responsive tfoot {
	display: none;
}

.table_responsive caption {
	display: block;
}

.table_responsive tbody tr {
	border-bottom: 1px solid #e6e6e6;
}

.table_responsive tbody td {
	border: none;
	display: block;
	vertical-align: top;
}

.table_responsive tbody td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	display: block;
}

.table_responsive tbody td.table__hide {
	display: none;
}

.table_responsive tbody td .table__content {
	vertical-align: top;
	display: block;
}

.table_responsive tbody td:first-child {
	padding-top: 1.5em;
}

.table_responsive tbody td:last-child {
	padding-bottom: 1.5em;
}

.table_responsive .table__wrapper_active {
	max-height: 310px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.clear {
	clear: both;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

.lt-ie8 .clearfix {
	zoom: 1;
}

.content-wrapper img[align="left"], .content-wrapper img[style*="float: left"], .content-wrapper img[style*="float:left"] {
	margin: 5px 15px 0px 0px;
}

.content-wrapper img[align="right"], .content-wrapper img[style*="float: right"], .content-wrapper img[style*="float:right"] {
	margin: 5px 0px 0px 15px;
}

.align-image-center {
	text-align: center;
}

.align-image-left {
	float: left;
	margin: 5px 15px 0px 0px;
}

.align-image-right {
	float: right;
	margin: 5px 0px 0px 15px;
}

.image-captioned {
	margin-bottom: 20px;
}

.image-captioned figcaption {
	font-style: oblique;
	font-size: 1em;
	color: #454545;
}

.align-image-left, .align-image-right, .align-image-center img {
	max-width: 100%;
}

.fluid-image {
	max-width: 100%;
	height: auto;
	display: block;
}

.text-muted, .text-muted > * {
	color: #ccc;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.f-none {
	float: none;
}

.ta-right {
	text-align: right;
}

.ta-center {
	text-align: center;
}

.ta-left {
	text-align: left;
}

.disabled {
	cursor: default;
	opacity: 0.5;
	pointer-events: none;
}

@font-face {
	font-family: "Noto Sans";
	src: url("../fonts/noto/sans/regular.eot");
	src: url("../fonts/noto/sans/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/sans/regular.woff2") format("woff2"), url("../fonts/noto/sans/regular.woff") format("woff"), url("../fonts/noto/sans/regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	src: url("../fonts/noto/sans/italic.eot");
	src: url("../fonts/noto/sans/italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/sans/italic.woff2") format("woff2"), url("../fonts/noto/sans/italic.woff") format("woff"), url("../fonts/noto/sans/italic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: bold;
	src: url("../fonts/noto/sans/bold.eot");
	src: url("../fonts/noto/sans/bold.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/sans/bold.woff2") format("woff2"), url("../fonts/noto/sans/bold.woff") format("woff"), url("../fonts/noto/sans/bold.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: bold;
	font-style: italic;
	src: url("../fonts/noto/sans/bolditalic.eot");
	src: url("../fonts/noto/sans/bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/sans/bolditalic.woff2") format("woff2"), url("../fonts/noto/sans/bolditalic.woff") format("woff"), url("../fonts/noto/sans/bolditalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	src: url("../fonts/noto/serif/regular.eot");
	src: url("../fonts/noto/serif/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/serif/regular.woff2") format("woff2"), url("../fonts/noto/serif/regular.woff") format("woff"), url("../fonts/noto/serif/regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	src: url("../fonts/noto/serif/italic.eot");
	src: url("../fonts/noto/serif/italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/serif/italic.woff2") format("woff2"), url("../fonts/noto/serif/italic.woff") format("woff"), url("../fonts/noto/serif/italic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-weight: bold;
	src: url("../fonts/noto/serif/bold.eot");
	src: url("../fonts/noto/serif/bold.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/serif/bold.woff2") format("woff2"), url("../fonts/noto/serif/bold.woff") format("woff"), url("../fonts/noto/serif/bold.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-weight: bold;
	font-style: italic;
	src: url("../fonts/noto/serif/bolditalic.eot");
	src: url("../fonts/noto/serif/bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/serif/bolditalic.woff2") format("woff2"), url("../fonts/noto/serif/bolditalic.woff") format("woff"), url("../fonts/noto/serif/bolditalic.ttf") format("truetype");
}

@media only screen and (max-width: 830px) {
	.align-image-left, .align-image-right, .align-image-center img {
		margin: 1em 0;
		float: none;
		height: auto;
		display: block;
	}
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 68.75%;
	}
}

@media only screen and (max-width: 375px) {
	.image-captioned {
		margin-left: 0;
		margin-right: 0;
		float: none;
		width: 100%;
		height: auto;
		display: block;
	}
}

@media print {
	*, *:before, *:after {
		background: transparent !important;
		color: #000 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: "";
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}
