html {
	font-family: sans-serif;

	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;

	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	margin: 0.67em 0;

	font-size: 2em;
}

mark {
	color: #000;

	background: #ff0;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;

	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
	font-family: monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;

	font: inherit;
	color: inherit;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;

	-webkit-appearance: button;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;

	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	box-sizing: content-box;

	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;

	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;

	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	margin: 0;
	padding: 0;

	border: 0;
}

textarea {
	resize: vertical;
}

html {
	-webkit-overflow-scrolling: touch;

	font-size: 62.5%;
	line-height: 1.6;
	font-family: "Noto Sans", sans-serif;
	color: #222;

	background: #fff;
}

body {
	font-size: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.4em 0 0;

	font-weight: 700;
	line-height: normal;
	font-family: "Noto Serif", serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
	color: inherit;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1em;
}

a {
	color: #0083ca;
	text-decoration: underline;

	-webkit-transition: 125ms color ease-out;
	transition: 125ms color ease-out;
}

a:visited {
	color: #0097e9;
}

a:hover {
	color: #e11;
	text-decoration: none;
}

p {
	margin-top: 1.4em;
	margin-bottom: 1.4em;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

q {
	font-style: italic;

	quotes: "«" "»";
}

q q {
	font-style: italic;

	quotes: "„" "“";
}

mark,
kbd,
code {
	display: inline-block;
	padding: 0 4px;

	vertical-align: middle;

	border-radius: 3px;
}

kbd {
	color: #fff;

	background-color: #222;
}

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;

	border: 0;
	border-top: 1px solid #ccc;
}

ol,
ul {
	padding-left: 2em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.4em;
	margin-left: 0;
	padding-left: 1.4em;
}

pre,
code {
	overflow: hidden;

	font-family: "Consolas", "Courier New", "Nimbus Mono L", monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
	-moz-tab-size: 4;
	tab-size: 4;

	background-color: #eee;
}

pre {
	padding: 1em;

	border-radius: 3px;
}

blockquote {
	margin: 0 0 1.4em;
	padding: 0.7em;

	border-left: 5px solid #eee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
	margin-bottom: 0;
}

blockquote p:first-child,
blockquote ul:first-child,
blockquote ol:first-child {
	margin-top: 0;
}

blockquote footer,
blockquote small {
	display: block;

	font-size: 80%;
	line-height: 1.4em;
}

blockquote footer:before,
blockquote small:before {
	content: "\2014 \00A0";
}

table {
	width: 100%;
}

.table {
	margin: 1.4em 0;

	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;

	border: 1px solid #e6e6e6;
}

.table caption {
	padding: 1em 0;

	font-size: 85%;
	line-height: 1;
	text-align: center;
	color: #222;
	font-style: italic;
}

.table td,
.table th {
	margin: 0;
	padding: 0.5em 1em;
	overflow: visible;

	font-weight: normal;
	font-size: inherit;

	border-width: 0 0 0 1px;
	border-left: 1px solid #e6e6e6;
}

.table td:first-child,
.table th:first-child {
	border-left-width: 0;
}

.table thead,
.table tfoot {
	vertical-align: bottom;
	text-align: left;
	color: #222;

	background-color: #e5ecf8;
}

.table thead td,
.table tfoot td,
.table thead th,
.table tfoot th {
	border-color: #fff;
}

.table td {
	background-color: transparent;
}

.table_striped tr:nth-child(2n-1) td {
	background-color: #f7f7f7;
}

.table_bordered td {
	border-bottom: 1px solid #e6e6e6;
}

.table_bordered tbody > tr:last-child > td,
.table_bordered thead > tr:last-child > td {
	border-bottom-width: 0;
}

.table_horizontal td,
.table_horizontal th {
	border-width: 0 0 1px;
	border-bottom: 1px solid #e6e6e6;
}

.table_horizontal tbody > tr:last-child > td,
.table_horizontal thead > tr:last-child > td {
	border-bottom-width: 0;
}

.table_responsive thead,
.table_responsive tfoot {
	display: none;
}

.table_responsive caption {
	display: block;
}

.table_responsive tbody tr {
	border-bottom: 1px solid #e6e6e6;
}

.table_responsive tbody td {
	display: block;

	vertical-align: top;

	border: none;
}

.table_responsive tbody td:before {
	content: attr(data-th) ": ";

	display: block;

	font-weight: bold;
}

.table_responsive tbody td.table__hide {
	display: none;
}

.table_responsive tbody td .table__content {
	display: block;

	vertical-align: top;
}

.table_responsive tbody td:first-child {
	padding-top: 1.5em;
}

.table_responsive tbody td:last-child {
	padding-bottom: 1.5em;
}

.table_responsive .table__wrapper_active {
	max-height: 310px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	content: "";

	display: table;
}

.clearfix:after {
	clear: both;
}

.lt-ie8 .clearfix {
	zoom: 1;
}

.content-wrapper img[align="left"],
.content-wrapper img[style*="float: left"],
.content-wrapper img[style*="float:left"] {
	margin: 5px 15px 0px 0px;
}

.content-wrapper img[align="right"],
.content-wrapper img[style*="float: right"],
.content-wrapper img[style*="float:right"] {
	margin: 5px 0px 0px 15px;
}

.align-image-center {
	text-align: center;
}

.align-image-left {
	float: left;
	margin: 5px 15px 0px 0px;
}

.align-image-right {
	float: right;
	margin: 5px 0px 0px 15px;
}

.image-captioned {
	margin-bottom: 20px;
}

.image-captioned figcaption {
	font-size: 1em;
	color: #454545;
	font-style: oblique;
}

.align-image-left,
.align-image-right,
.align-image-center img {
	max-width: 100%;
}

.fluid-image {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-muted,
.text-muted > * {
	color: #ccc;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.f-none {
	float: none;
}

.ta-right {
	text-align: right;
}

.ta-center {
	text-align: center;
}

.ta-left {
	text-align: left;
}

.disabled {
	cursor: default;
	opacity: 0.5;

	pointer-events: none;
}

.hidden {
	display: none !important;
}

.sr-only,
.visuallyhidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;

	border: 0;

	clip: rect(0 0 0 0);
}

.invisible {
	visibility: hidden;
}

@font-face {
	font-family: "Noto Sans";

	src: url("../fonts/noto/sans/regular.eot");
	src: url("../fonts/noto/sans/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/sans/regular.woff2") format("woff2"), url("../fonts/noto/sans/regular.woff") format("woff"), url("../fonts/noto/sans/regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;

	src: url("../fonts/noto/sans/italic.eot");
	src: url("../fonts/noto/sans/italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/sans/italic.woff2") format("woff2"), url("../fonts/noto/sans/italic.woff") format("woff"), url("../fonts/noto/sans/italic.ttf") format("truetype");
}

@font-face {
	font-weight: bold;
	font-family: "Noto Sans";

	src: url("../fonts/noto/sans/bold.eot");
	src: url("../fonts/noto/sans/bold.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/sans/bold.woff2") format("woff2"), url("../fonts/noto/sans/bold.woff") format("woff"), url("../fonts/noto/sans/bold.ttf") format("truetype");
}

@font-face {
	font-weight: bold;
	font-family: "Noto Sans";
	font-style: italic;

	src: url("../fonts/noto/sans/bolditalic.eot");
	src: url("../fonts/noto/sans/bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/sans/bolditalic.woff2") format("woff2"), url("../fonts/noto/sans/bolditalic.woff") format("woff"), url("../fonts/noto/sans/bolditalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";

	src: url("../fonts/noto/serif/regular.eot");
	src: url("../fonts/noto/serif/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/serif/regular.woff2") format("woff2"), url("../fonts/noto/serif/regular.woff") format("woff"), url("../fonts/noto/serif/regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-style: italic;

	src: url("../fonts/noto/serif/italic.eot");
	src: url("../fonts/noto/serif/italic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/serif/italic.woff2") format("woff2"), url("../fonts/noto/serif/italic.woff") format("woff"), url("../fonts/noto/serif/italic.ttf") format("truetype");
}

@font-face {
	font-weight: bold;
	font-family: "Noto Serif";

	src: url("../fonts/noto/serif/bold.eot");
	src: url("../fonts/noto/serif/bold.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/serif/bold.woff2") format("woff2"), url("../fonts/noto/serif/bold.woff") format("woff"), url("../fonts/noto/serif/bold.ttf") format("truetype");
}

@font-face {
	font-weight: bold;
	font-family: "Noto Serif";
	font-style: italic;

	src: url("../fonts/noto/serif/bolditalic.eot");
	src: url("../fonts/noto/serif/bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto/serif/bolditalic.woff2") format("woff2"), url("../fonts/noto/serif/bolditalic.woff") format("woff"), url("../fonts/noto/serif/bolditalic.ttf") format("truetype");
}

@media only screen and (max-width: 830px) {
	.align-image-left,
	.align-image-right,
	.align-image-center img {
		display: block;
		float: none;
		height: auto;
		margin: 1em 0;
	}
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 68.75%;
	}
}

@media only screen and (max-width: 375px) {
	.image-captioned {
		display: block;
		float: none;
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-left: 0;
	}
}

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	p:first-line,
	div:first-line,
	blockquote:first-line,
	li:first-line {
		color: #000 !important;
		text-shadow: none !important;

		background: transparent !important;
		/* Black prints faster: http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		page-break-inside: avoid;

		border: 1px solid #999;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
