.checkbox-group
	&__item
		display block
		margin-bottom 13px
		&:last-child
			margin-bottom 0

	&__legend
		color #7b7b7b
		font-size 16px
		font-weight 300
		user-select none
		padding-bottom 9px

	&_inline &__item
		display inline-block
		margin-right 13px
