.page
	position relative

	&__content
		display flex
		flex-direction column
		width 100%
		height 100%

	&__header
	&__footer
		flex none

	&__header
		// 

	&__main
		display flex
		flex 1 0 auto
		flex-direction column
		align-items stretch
		margin 0 auto
		padding-top em(32px)
		padding-bottom em(64px)
		width 100%

		&::after
			display block
			visibility hidden
			margin-top em(32px)
			height 0px
			content "\00a0" // &nbsp;

	&__mobile-menu
		position fixed
		top 0
		right 0
		right 0
		bottom 0
		z-index 10
		visibility hidden
		overflow-y auto
		width 80%
		background-color #f3f3f3
		opacity 0
		transition 125ms all ease-in-out
		-webkit-overflow-scrolling touch

	&__overlay
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		z-index 1
		visibility hidden
		background-color rgba(#000, 0.3)
		opacity 0
		transition 125ms all ease-in-out

	&_full
		& ^[0]__main
			padding 0

			&::after
				content none

	&_header_fixed
		& ^[0]__content
			padding-top 80px

		& ^[0]__header
			position fixed
			top 0
			z-index 1000
			box-sizing border-box
			width 100%
