.page
	position relative
	&__content
		transition 125ms all ease-in-out
		background $base-bg-color
		position relative
		z-index 2
		top 0
		left 0
		transition 125ms left ease

	&__header
		margin-bottom 50px

	&__main
		max-width $content-width
		margin 0 auto
		padding-bottom 60px

	&__mobile-menu
		background-color #f3f3f3
		position fixed
		right 0
		top 0
		bottom 0
		right 0
		z-index 1
		width 80%
		overflow-y auto
		-webkit-overflow-scrolling touch
		transition 125ms all ease-in-out
		opacity 0
		visibility hidden
		z-index 10000

	&__cover
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		z-index 9999
		background-color rgba(#000, 0.3)
		transition 125ms all ease-in-out
		opacity 0
		visibility hidden

	&_mobile-menu_open
		overflow hidden

	&_mobile-menu_open &__cover
	&_mobile-menu_open &__mobile-menu
		visibility visible
		opacity 1

	&_mobile-menu_open &__content
	&_mobile-menu_open &__cover
		left -80%
