include ../input/input

mixin captcha(data)
	.captcha
		a(href="#" title="Click here to refresh image").captcha__image
			img(
				src="assets/images/form/captcha.png" 
				alt="Enter text from image"
			)
		.captcha__input
			+input()&attributes(attributes)
