include ../icon/icon

mixin github-button(data)
	a(href="//github.com/Zoxon/gulp-front", target="_blank", title="Watch source on Github").github-button&attributes(attributes)
		span.github-button__icon
			+icon('github-octocat')
		
		span.github-button__text Github
