.github-button
	&
	&:visited
		padding 3px 10px
		display block
		font-size 0
		color #fff
		text-decoration none
		border 1px solid transparent
		transition all 300ms ease-in-out 0s
		text-decoration none

	&:hover
		text-decoration underline
		color #fff

	&__text
		font-size 16px
		font-family notoserif
		vertical-align middle

	&__icon
		transition all 300ms ease-in-out 0s
		margin-right 7px
		vertical-align middle
		svg
			size 16px
			fill #fff
