.github-button
	&
	&:visited
		display inline-block
		padding 3px 10px
		border 1px solid transparent
		border-radius 2px
		color #fff
		text-decoration none
		text-decoration none
		font-size 0
		transition 0.3s background ease-in-out

	&:hover
		background #fff
		color #333
		text-decoration none

		svg
			fill #333

	&__text
	&__icon
		display inline-block
		vertical-align middle

	&__text
		font-size 16px
		font-family notoserif

	&__icon
		margin-right 7px
		transition all 300ms ease-in-out 0

		svg
			size 16px
			fill #fff
