mixin github-button(data)
	.github-button
mixin github-button(data)
	a(href="//github.com/Zoxon/gulp-front", target="_blank", title="Watch source on Github").github-button
		span.github-button__icon
			+svg-icon('github-octocat')
		
		span.github-button__text Github
