.pagination
	margin 26px 0

	&__controls
		display inline-block

	&__controls_backward
		//

	&__controls_forward
		//

	&__control
	&__page
		&
		&:visited
			display inline-block
			vertical-align middle
			text-align center
			color currentColor
			text-decoration none
			display inline-block
			height 2.5em
			min-width 18px
			line-height 2.5em
			border-radius 50em
			background-color #fff
			border 1px solid #cdcdcd
			padding-left 0.7em
			padding-right 0.7em

		&:hover
			color currentColor
			text-decoration none
			background-color #0083ca
			border-color #0083ca
			color #fff

	&__page
		//

	&__page_current
		background-color #0083ca
		border-color #0083ca
		color #fff

	&__ellipsis
		color #666
		padding 0 1em
