// CSS3 PROPERTIES
// --------------------------------------------------

// Single side border-radius
border-top-radius(radius) {
  border-top-right-radius: radius;
   border-top-left-radius: radius;
}
border-right-radius(radius) {
  border-bottom-right-radius: radius;
     border-top-right-radius: radius;
}
border-bottom-radius(radius) {
  border-bottom-right-radius: radius;
   border-bottom-left-radius: radius;
}
border-left-radius(radius) {
  border-bottom-left-radius: radius;
     border-top-left-radius: radius;
}

// Drop shadows
box-shadow(shadow...) {
  -webkit-box-shadow: shadow; // iOS <4.3 & Android <4.1
          box-shadow: shadow;
}

// Transitions
transition(trans...) {
  -webkit-transition: trans;
          transition: trans;
}
transition-delay(trans-delay) {
  -webkit-transition-delay: trans-delay;
          transition-delay: trans-delay;
}
transition-duration(trans-dur) {
  -webkit-transition-duration: trans-dur;
          transition-duration: trans-dur;
}
transition-transform(trans...) {
  -webkit-transition: -webkit-transform trans;
     -moz-transition: -moz-transform trans;
       -o-transition: -o-transform trans;
          transition: transform trans;
}

// Transformations
rotate(degrees) {
  -webkit-transform: s("rotate(%s)", degrees);
      -ms-transform: s("rotate(%s)", degrees); // IE9+
          transform: s("rotate(%s)", degrees);
}
scale(ratio) {
  -webkit-transform: s("scale(%s)", ratio);
      -ms-transform: s("scale(%s)", ratio); // IE9+
          transform: s("scale(%s)", ratio);
}
translate(x, y) {
  -webkit-transform: s("translate(%s, %s)", x, y);
      -ms-transform: s("translate(%s, %s)", x, y); // IE9+
          transform: s("translate(%s, %s)", x, y);
}
skew(x, y) {
  -webkit-transform: s("skew(%s, %s)", x, y);
      -ms-transform: s("skewX(%s) skewY(%s)", x, y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
          transform: s("skew(%s, %s)", x, y);
}
translate3d(x, y, z) {
  -webkit-transform: s("translate3d(%s, %s, %s)", x, y, z);
          transform: s("translate3d(%s, %s, %s)", x, y, z);
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
backface-visibility(visibility){
  -webkit-backface-visibility: visibility;
     -moz-backface-visibility: visibility;
          backface-visibility: visibility;
}

// Box sizing
box-sizing(boxmodel) {
  -webkit-box-sizing: boxmodel;
     -moz-box-sizing: boxmodel;
          box-sizing: boxmodel;
}

// User select
// For selecting text on the page
user-select(select) {
  -webkit-user-select: select;
     -moz-user-select: select;
      -ms-user-select: select; // IE10+
       -o-user-select: select;
          user-select: select;
}

// Resize anything
resizable(direction) {
  resize: direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// CSS3 Content Columns
content-columns(column-count, column-gap = $grid-gutter-width) {
  -webkit-column-count: column-count;
     -moz-column-count: column-count;
          column-count: column-count;
  -webkit-column-gap: column-gap;
     -moz-column-gap: column-gap;
          column-gap: column-gap;
}

// Optional hyphenation
hyphens(mode = auto) {
  word-wrap: break-word;
  -webkit-hyphens: mode;
     -moz-hyphens: mode;
      -ms-hyphens: mode; // IE10+
       -o-hyphens: mode;
          hyphens: mode;
}

// Opacity
opacity(opacity) {
  opacity: opacity;
  // IE8 filter
  opacity-ie = (opacity * 100);
  filter: s("alpha(opacity=%s)", opacity-ie);
}