////////////////////////////////////////////////////////////
// @font-face mixin 
////////////////////////////////////////////////////////////
file(file_name, file_ext, file_path)
	file_path + "/" + file_name + "." + file_ext

font-face( family, file-name, base-path="../fonts", weight=normal, style=normal )
	@font-face
		font-family family
		src url(file(file-name, "eot", base-path));
		src url(file(file-name, "eot?#iefix'", base-path)) format('embedded-opentype'),
			url(file(file-name, "woff", base-path)) format("woff"),
			url(file(file-name, "ttf", base-path)) format("truetype");

		font-weight weight
		font-style style



//font #f00 14px center
//	→
//		color: #f00;
//		font-size: 14px;
//		text-align: center;
// font()
// 	for arg in arguments
// 		if arg is a 'color'
// 			color arg
// 		else if arg is a 'unit'
// 			font-size arg
// 		else if arg in alignment
// 			text-align arg
