file(file_name, file_ext, file_path)
	file_path + '/' + file_name + '.' + file_ext

font-face(ff_family, ff_font=family, ff_path='fonts', ff_weight=normal, ff_style=normal, ff_local='☺')
	@font-face
		font-family ff_family
		src url(file(ff_font, 'eot', ff_path))
		src local(ff_local),
			url(file(ff_font, 'eot?#iefix', ff_path)) format("embedded-opentype"),
			url(file(ff_font, 'woff', ff_path)) format("woff"),
			url(file(ff_font, 'ttf', ff_path)) format("truetype"),
			url(file(ff_font, 'svg#' + ff_family, ff_path)) format("svg");

		font-weight ff_weight
		font-style ff_style