progress-bar-style(background-color, progress-bar-color)
	background-color background-color

	& ^[0]__bar
		background-color progress-bar-color

	&^[0]_indeterminate
		&:before
		&:after
			background-color progress-bar-color

.progress-bar
	position relative
	overflow hidden
	border-radius 50em

	&__bar
		position relative
		width 0
		height 4px
		border-radius 50em
		transition 500ms width ease
		will-change width

	&_indeterminate
		& ^[0]__bar
			width 0 !important
			will-change initial

		&:before
		&:after
			position absolute
			right 0
			bottom 0
			display block
			width 0
			height 100%
			content ""
			will-change width, left

		&:before
			animation progress-bar__increase 2s infinite

		&:after
			animation progress-bar__decrease 2s 0.5s infinite

	&_color_gray
		progress-bar-style(
			background-color: $gray-3,
			progress-bar-color: $gray-5
		)

	&_color_black
		progress-bar-style(
			background-color: $gray-6,
			progress-bar-color: $gray-7
		)

	&_color_red
		progress-bar-style(
			background-color: $red-3,
			progress-bar-color: $red-6
		)

	&_color_pink
		progress-bar-style(
			background-color: $pink-3,
			progress-bar-color: $pink-6
		)

	&_color_grape
		progress-bar-style(
			background-color: $grape-3,
			progress-bar-color: $grape-6
		)

	&_color_violet
		progress-bar-style(
			background-color: $violet-3,
			progress-bar-color: $violet-6
		)

	&_color_indigo
		progress-bar-style(
			background-color: $indigo-3,
			progress-bar-color: $indigo-6
		)

	&_color_blue
		progress-bar-style(
			background-color: $blue-3,
			progress-bar-color: $blue-6
		)

	&_color_cyan
		progress-bar-style(
			background-color: $cyan-3,
			progress-bar-color: $cyan-6
		)

	&_color_teal
		progress-bar-style(
			background-color: $teal-3,
			progress-bar-color: $teal-6
		)

	&_color_green
		progress-bar-style(
			background-color: $green-3,
			progress-bar-color: $green-6
		)

	&_color_lime
		progress-bar-style(
			background-color: $lime-3,
			progress-bar-color: $lime-6
		)

	&_color_yellow
		progress-bar-style(
			background-color: $yellow-3,
			progress-bar-color: $yellow-6
		)

	&_color_orange
		progress-bar-style(
			background-color: $orange-3,
			progress-bar-color: $orange-6
		)

@keyframes progress-bar__increase
	from
		left -3%
		width 5%

	to
		left 130%
		width 100%

@keyframes progress-bar__decrease
	from
		left -80%
		width 80%

	to
		left 110%
		width 10%
