// ///////////////////////////////////////////////////
// Form
// ///////////////////////////////////////////////////
.form
	&__section
		//

	&__item
		margin-bottom 20px
		&:last-child
			margin-bottom 0

.form-hint
	opacity 0.5
	color white
	font-size 14px
	font-weight 400
	text-align center
	padding-bottom 4px

.form-item
	&__label
		padding-bottom 9px

	&__control
		//
	&_captcha
		m-cf()

	&_captcha &__image
		float left
		width 117px

	&_captcha &__input
		margin-left 137px


// ///////////////////////////////////////////////////
// Base blocks
// ///////////////////////////////////////////////////

.form-field
	//

.label
	color #7b7b7b
	font-size 16px
	font-weight 300
	user-select-none()

input_style_base()
	width 100%
	box-sizing border-box
	border-radius 0
	transition 125ms border ease-in-out, 125ms box-shadow ease-in-out
	background-color transparent
	border none

focus(color)
	border-color color
	box-shadow 0 0 3px 1px rgba(color, 0.45)

input_style_default()
	transition 125ms box-shadow ease-in-out
	& ^[0]__control
		font-size 13px
		color #333
		background-color #FFF
		border 1px solid #cdcdcd
		border-radius 3px
		+placeholder()
			font-weight 300
			color #969596

		&:focus
			outline none

		&:invalid
			border-color #f64c61
			&:focus
				focus(#f64c61)

		&:disabled
			background-color #f7f7f7

		&[multiple]
			height auto

	&^[0]_focused ^[0]__control
		focus(#3498da)

.input
	display block
	position relative
	&__control
		input_style_base()
		height 40px
		padding 0 18px

	&_aligin_center &__control
		text-align center

	&_style_default
		input_style_default()
		& ^[0]__control[type="file"]
			border none
			padding 0


.textarea
	display block
	&__control
		input_style_base()
		min-height 120px
		height 120px
		resize vertical
		padding 8px 20px

	&_style_default
		input_style_default()


.select
	position relative
	display block

	&__box
		display block
		position relative
		z-index 2

	&__control
		input_style_base()
		min-height 40px
		padding 0 37px 0 18px
		-webkit-appearance none
		-moz-appearance none
		appearance none

		&::-ms-expand
			background-color transparent
			display none
			border 0

	&__placeholder
		display none
		visibility hidden
		opacity 0
		font-size 0
		height 0
		border none
		outline none

	&:after
		content ''
		display block
		position absolute
		z-index 1

	&:after
		size 6px
		border-width 0 1px 1px 0
		border-style solid
		transform-origin 75% 75%
		transform rotate(45deg)
		right 18px
		top 50%
		margin-top -4px

	&_style_default
		background-color #fff
		input_style_default()

		& ^[0]__control
			&
			&:disabled
				background-color transparent

		&:after
			border-color #666

		&^[0]_multiple
			&:after
				display none

		&^[0]_multiple ^[0]__control
			padding-right 0

		&^[0]_disabled
			background-color #f7f7f7

.radio
.checkbox
	display block
	position relative
	padding-left 32px
	text-align left
	cursor pointer
	color #6d6d6d
	font-size 16px
	font-weight 300
	user-select-none()

	&__box
		position absolute
		left 0
		top 0
		display block
		line-height 1

	a
		&
		&:visited
			color currentColor

	&_inited
		& ^[0]__box
			border 1px solid #c3c3c3
			cursor pointer
			vertical-align middle
			overflow hidden
			&:before
				content ''
				display block
				transition 125ms all ease-in-out
				position absolute

		& ^[0]__control
			position absolute
			z-index -1
			opacity 0
			margin 0
			padding 0

	&_inited&_disabled
		& ^[0]__box
			opacity .55

.radio
	&_inited
		& ^[0]__box
			display inline-block
			size 20px
			border-radius 50%

			&:before
				size 8px
				background-color #08c
				border-radius 50%
				left 6px
				top 6px
				opacity 0
				transform scale(2)

	&_inited&_checked
		& ^[0]__box
			&:before
				opacity 1
				transform scale(1)



.checkbox
	&_inited
		& ^[0]__box
			size 18px
			&:before
				top 4px
				left 4px
				size 7px 4px
				transform scale(1.5) rotate(-45deg)
				border-width 0 0 3px 3px
				border-style solid
				border-color #08c
				opacity 0

	&_inited&_checked
		& ^[0]__box
			&:before
				opacity 1
				transform scale(1) rotate(-45deg)

.radio-group
.checkbox-group
	display block
	&__item
		margin-bottom 13px
		&:last-child
			margin-bottom 0



