include ../icon/icon

mixin search-widget(data)
	.search-widget&attributes(attributes)
		form(action="#", method="post")
			input(type="text", name="query", placeholder="Поиск").search-widget__input
			button(type="submit").search-widget__submit
				+icon('maginifer')
