.textfield
	display inline-block

	& ^[0]__control
		box-sizing border-box
		appearance none
		-webkit-appearance none

	&_block
		display block

	&_block
		& ^[0]__control
			width 100% !important

	&_inline
		& ^[0]__control
			width $form-input-width-inline

	&_multiline
		& ^[0]__control
			resize vertical

	&_style_default
		& ^[0]__control
			padding-right $form-padding_horizontal
			padding-left $form-padding_horizontal
			border $form-border_default
			border-radius $form-border-radius
			background-color $form-color-background
			color $form-color-font
			font-size $form-font-size

			+placeholder()
				color $form-color-placeholder

			&:focus
				outline none
				focus($form-color-border_focus)

			&:invalid
				border-color $form-color-border_invalid

				&:focus
					focus($form-color-border_invalid)

			&:disabled
				background-color $form-color-background_disabled

	&_style_default&_single-line
		& ^[0]__control
			height $form-size-input-height

		& ^[0]__show-password
			position absolute
			top 0
			right 0
			bottom 0
			padding 0
			width em(40px)
			background-color transparent
			background-position 50% 50%
			background-repeat no-repeat
			transition none

			&[data-input-password-showed="false"]
				background-image url("../images/textfield/eye_close.svg")

			&[data-input-password-showed="true"]
				background-image url("../images/textfield/eye_open.svg")

		&^[0]_type_password
			position relative

			&&_style_default & ^[0]__control
				padding-right em($form-padding_horizontal + 30px)

	&_style_default&_multiline
		& ^[0]__control
			padding-top $form-padding_vertical
			padding-bottom $form-padding_vertical
			min-height ($form-size-input-height * 2)
			height ($form-size-input-height * 2)
