//-//////////////////////////////////////////////////////////
//- Buttons
//-//////////////////////////////////////////////////////////

//- Mixins
button-style(color, background, border)
	&
	&:visited
		color color
		background-color background
		border-color border

	&:focus
		color color
		background-color: background - 10%
		border-color border - 25%

	&:hover
	&:active
		color color
		background-color background - 10%
		border-color border - 12%

		&:focus
			color color
			background-color background - 17%
			border-color border - 25%


	&:active
		background-image none

	&_disabled
	&[disabled]
		&
		&:hover
		&:focus
		&:active
			background-color background
			border-color border

button-size(padding-vertical, padding-horizontal, font-size, line-height, border-radius)
	padding padding-vertical padding-horizontal
	font-size font-size
	line-height line-height
	border-radius border-radius


//- Base style
.b-button
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration none

	&:focus
	&:active:focus
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;

	&:hover
	&:focus
		color: #333333;
		text-decoration: none;

	&:active
		outline: 0;
		background-image: none;
		-webkit-box-shadow: inset 0 3px 5px rgba(0 0 0 0.125);
		box-shadow: inset 0 3px 5px rgba(0 0 0 0.125);

	&_disabled
	&[disabled]
		cursor: not-allowed;
		opacity: 0.65;
		-webkit-box-shadow: none;
		box-shadow: none;

	a&_disabled
		pointer-events: none;

//- Block button
.b-button_block
	display: block;
	width: 100%;

	& + &
		margin-top: 5px;

	input[type="submit"]&
	input[type="reset"]&
	input[type="button"]&
		width: 100%;

//- Button sizes
.b-button_size_lg
	button-size(10px, 16px, 18px, 1.3333333, 6px)

.b-button_size_sm
	button-size(5px, 10px, 12px, 1.5, 3px)

.b-button_size_xs
	button-size(1px, 5px, 12px, 1.5, 3px)

//- Button styles
.b-button_color_grey
	button-style(#333, #fff, #ccc)

.b-button_color_blue
	button-style(#fff, #47a2de, #47a2de)
