red = #f12200
black = #000
white = #fff
gray = #737373
yellow = #ffba00
BaseTextColor = #464a46
AdditionalTextColor = #000
LinkColor = #0073b4
HoverLinkColor = #e21a37
BorderColor = #ebebeb
ParagraphColor = #464a46
BaseHeadingColor = #4e4f51