font-family(ff, append=null)
	if append != null
		append = s('%s, ', append)

	if ff == arial
		font-family append Arial, "Helvetica CY", "Nimbus Sans L", sans-serif

	else if ff == arial-black
		font-family append "Arial Black", "Helvetica CY", "Nimbus Sans L" sans-serif

	else if ff == comic-sans
		font-family append "Comic Sans MS", "Monaco CY", cursive

	else if ff == courier
		font-family append "Courier New", "Nimbus Mono L", monospace

	else if ff == georgia
		font-family append Georgia, "Century Schoolbook L", Serif

	else if ff == impact
		font-family append Impact, "Charcoal CY", sans-serif

	else if ff == lucida-console
		font-family append "Lucida Console", Monaco, monospace

	else if ff == lucida-sans
		font-family append "Lucida Sans Unicode", "Lucida Grande", sans-serif

	else if ff == platino
		font-family append "Palatino Linotype", "Book Antiqua", Palatino, serif
	
	else if ff == tahoma
		font-family append Tahoma, "Geneva CY", sans-serif
	
	else if ff == times
		font-family append "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif
	
	else if ff == trebuchet
		font-family append "Trebuchet MS", "Helvetica CY", sans-serif
	
	else if ff == verdana
		font-family append Verdana, "Geneva CY", "DejaVu Sans", sans-serif

	else if ff == helvetica
		font-family append "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif

	else if ff == consolas
		font-family append "Consolas", "Courier New", "Nimbus Mono L", monospace

	else if ff == calibri
		font-family append Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

	// else
	// 	font-family ff