file(name, ext, path)
	path + '/' + name + '.' + ext

font-face(family, font=family, path='fonts', weight=normal, style=normal, local='☺')
	@font-face
		font-family family
		src url(file(font, 'eot', path))
		src local(local),
			url(file(font, 'eot?#iefix', path)) format("embedded-opentype"),
			url(file(font, 'woff', path)) format("woff"),
			url(file(font, 'ttf', path)) format("truetype"),
			url(file(font, 'svg#' + family, path)) format("svg")

		font-weight weight
		font-style style