.clear
	clear both

.g-clearfix
	&:after
		content ""
		display table
		clear both

.no-border
	&
	td
	th
		border none

.no-padding
	&
	td
	th
		padding 0


.h-tac
	text-align center


.b-content-wrapper
	img[align="left"]
	img[style*="float: left"]
	img[style*="float:left"]
		margin 5px 15px 0px 0px

	img[align="right"]
	img[style*="float: right"]
	img[style*="float:right"]
		margin 5px 0px 0px 15px
