.clear
	clear both

// .g-clearfix
// 	&:after
// 		content ""
// 		display table
// 		clear both

.g-clearfix
	clearfix()

.h-table_no-border
	&
	td
	th
		border none

.h-table_no-padding
	&
	td
	th
		padding 0

.h-table_va-m
	td
	th
		vertical-align middle

.h-table_va-t
	td
	th
		vertical-align top

.h-table_va-b
	td
	th
		vertical-align bottom

.h-table-align_divided
	tr
		td
		th
			text-align right
	tr
		td
		th
			&:first-child
				text-align left

.h-text-muted
	&
	& > *
		color #b9b9b9

.h-tac
	text-align center


.b-content-wrapper
	img[align="left"]
	img[style*="float: left"]
	img[style*="float:left"]
		margin 5px 15px 0px 0px

	img[align="right"]
	img[style*="float: right"]
	img[style*="float:right"]
		margin 5px 0px 0px 15px

.h-align-image-center
	text-align center

.h-align-image-left
	float left
	margin 5px 15px 0px 0px

.h-align-image-right
	float right
	margin 5px 0px 0px 15px

.h-image-captioned
	margin-bottom 20px
	figcaption
		font-style oblique
		font-size 13px
		color #454545
