@import 'nib'
@import '/lib/variables'
@import '/lib/mixins/font-face'
@import '/lib/mixins/size'


hard-reset()
	*
		margin 0
		padding 0
		border none
		list-style none
		outline none
	
	*:focus
		outline 0

