@import 'nib'
@import '/lib/variables'
@import '/lib/mixins/font-face'
@import '/lib/mixins/font-family'
@import '/lib/mixins/size'

@import '/lib/mixins/gradients'
@import '/lib/mixins/css3'


hard-reset()
	*
		margin 0
		padding 0
		border none
		list-style none
		outline none
	
	*:focus
		outline 0


normalize()
	@import 'normalize'


meyer-reset()
	@import 'meyer-reset'


meyer-html5()
	@import 'meyer-reset-html5'