// @import 'nib'
@import '/lib/variables'
@import '/lib/mixins/font'

hard-reset()
	*
		margin 0
		padding 0
		border none
		list-style none
		outline none
	
	*:focus
		outline 0



// IE 7 Valid hack
// Use 
// +ie7()
//     color red
ie7()
	*:first-child+html &
		{block}


// IE 6 Valid hack
ie6()
	*html &
		{block}


inline-block-ie7()
	display inline-block

	if(support-for-ie == true)
		*:first-child+html &
			display inline
			zoom 1
			{block}


display(value)
	if (value == inline-block)
		display inline-block
		if(support-for-ie == true && support-ie-version <= 7)
			*:first-child+html &
				display inline
				zoom 1
				{block}
	else
		display value
		

overflow(value)
	if (value == ellipsis)
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
	else
		overflow value


// Usage examle
// size 30px
// →
// width 30px
// height 30px
size( values... )
	if length( values ) == 1
		width values[ 0 ] || auto
		height values[ 0 ] || auto
	else
		width values[ 0 ] if values[ 0 ] != false
		height values[ 1 ] if values[ 1 ] != false


min-size( a, b = false )
	min-width a
	if b
		min-height b
	else
		min-height a


block( a, b = false )
	size a b
	display block


inline-block( a, b = false )
	size a b
	display inline-block


triangle( direction, size, face-color, back-color = transparent )
	width 0
	height 0
	border size solid back-color
	if direction == up || direction == down-left || direction == down-right
		border-bottom-color face-color
	if direction == down || direction == up-left || direction == up-right
		border-top-color face-color
	if direction == left || direction == down-right || direction == up-right
		border-right-color face-color
	if direction == right || direction == down-left || direction == up-left
		border-left-color face-color


// Usage examle
//  input
//  	+placeholder()
//			color grey
placeholder()
	if selector() == "&"
		error( "placeholder() must be called from a ruleset!" )
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

user-select-none()
	-webkit-touch-callout none
	-khtml-user-select none
	user-select none


em( value, base = $base-font-size )
	unit(value/base * 1em, 'em')

pt2px( pt )
	unit(pt/0.75, px)

ps-tracking( val )
	unit(val/1000, 'em')

clearfix()
	zoom 1
	&:before
	&:after
		content ""
		display table

	&:after
		clear both
		
micro-clearfix()
	content ""
	display: table
	clear both

selection( color )
	::selection
		background color
		{block}
	::-moz-selection
		background color
		{block}
	img::selection
		background transparent
		{block}
	img::-moz-selection
		background transparent
		{block}
