$base-font-size ?= 62.5%
$base-line-height ?= 1.6em
$browser-font-size ?= 16px
$browser-supports-rems ?= false
$minimum-line-padding ?= 0.1rem

can-nrym(font-size = default-font-size(), parent-font-size = default-parent-font-size(), root = false)
	if parent-font-size
		return false unless can-nrym(parent-font-size, null, root)

	return false if typeof(font-size) != 'unit'
	u = unit(font-size)
	return true if (u == '%')
	return true if (u == 'cm')
	return true if (u == 'em')
	return true if (u == 'in')
	return true if (u == 'pc')
	return true if (u == 'pt')
	return true if (u == 'px')
	return true if (u == 'rem')
	return false

default-font-size()
	return @font-size ? @font-size : 1em

default-parent-font-size()
	return @parent-font-size

lines-in-font-size(font-size = default-font-size(), parent-font-size = default-parent-font-size(), root = false)
	font-size = nrym(font-size, parent-font-size, root)
	base-line-height = nrym($base-line-height)
	min-padding = 2 * nrym($minimum-line-padding)
	lines = ceil(font-size / base-line-height)
	lines = lines + 1 if (lines * base-line-height - font-size < min-padding)
	return lines

nrym(font-size, parent-font-size = null, root = false)
	u = unit(font-size)
	val = unit(font-size, '')

	return val if (u == '') // the font size is already normalized

	unless unit($browser-font-size) == 'px'
		error('browser font size must be specified in pixels')

	if (root) && (u == 'rem')
		error('cannot specify font size in rems on the root')

	if (parent-font-size) && (u == '%')
		u = unit(parent-font-size)
		val *= unit(parent-font-size / 100, '')
	else if (parent-font-size) && (u == 'em')
		u = unit(parent-font-size)
		val *= unit(parent-font-size, '')
	else if (u == 'in')
		u = 'px'
		val *= 96
	else if (u == 'cm')
		u = 'px'
		val *= 37.8
	else if (u == 'mm')
		u = 'px'
		val *= 3.78
	else if (u == 'pt')
		u = 'px'
		val *= 96/72
	else if (u == 'pc')
		u = 'px'
		val *= 16

	unless root
		if (u == '%')
			u = unit($base-font-size)
			val *= $base-font-size / 100
		else if (u == 'em') || (u == 'rem')
			u = unit($base-font-size)
			val *= unit($base-font-size, '')

	if (u == '%')
		return val * unit($browser-font-size, '') / 100
	else if (u == 'em') || (u == 'rem')
		return val * unit($browser-font-size, '')
	else if (u == 'px')
		return val

rym(length, font-size = default-font-size(), parent-font-size = default-parent-font-size(), root = false)
	if (!root && $browser-supports-rems)
		return unit(length * nrym($base-line-height) / nrym($base-font-size, null, true), 'rem')

	unless can-nrym(font-size, parent-font-size)
		msg = 'cannot compute vertical rhythm for font-size "%s" and parent-font-size "%s"'
		warn('' + s(msg, font-size, parent-font-size))
		return

	return unit(length * nrym($base-line-height) / nrym(font-size, parent-font-size, root), 'em')

rym-property(name, n)
	n = unit-to-rym(n)
	add-property(name, n) if n

unit-to-rym(n)
	return (unit(n) ? n : rym(n)) if typeof(n) == 'unit'
	return n

font-size(font-size, parent-font-size = default-parent-font-size(), root = false)
	font-size font-size
	unless @line-height
		line-height 1 font-size parent-font-size root

line-height(height, font-size = default-font-size(), parent-font-size = default-parent-font-size(), root = false)
	can-normalize = true

	unless can-nrym(font-size, parent-font-size)
		msg = 'cannot compute vertical rhythm for font-size "%s" and parent-font-size "%s"'
		warn('' + s(msg, font-size, parent-font-size))
		can-normalize = false

	return unless can-normalize

	if typeof(height) != 'unit'
		line-height height
	else if unit(arguments) == ''
		lines = arguments * lines-in-font-size(font-size, parent-font-size, root)
		line-height rym(lines, font-size, parent-font-size, root)
	else
		line-height height

parent-font-size()
	return null // do not render this parameter

html
	font-size($base-font-size, null, true)