
// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio
canvas
iframe
img
svg
video
	vertical-align middle

// Remove default fieldset styles.
fieldset
	margin 0
	padding 0
	border none

// Allow only vertical resizing of textareas.
textarea
	resize vertical

// Remove iOS input shadows
input[type="text"]
input[type="email"]
input[type="search"]
input[type="password"]
	-webkit-appearance none
	-moz-appearance none
