.header
	background linear-gradient(180deg, #2d3e60, #1e3c72 + 10%)

	+print()
		page-break-after always

	padding 115px 0 35px
	+below($content-width)
		padding-top 70px

	&__inner
		max-width $content-width
		margin 0 auto
		m-cf()

	&__top
		transition padding 0.5s ease 0s, background 0.5s ease 0s, box-shadow 0.5s ease 0s
		padding 1em 0
		position fixed
		top 0
		width 100%
		z-index 1000
		box-sizing border-box

		+below($content-width)
			m-padding()

		+below(750px)
			padding-right 0
			padding-top 0
			padding-bottom 0

		+print()
			display none !important

	&__logo
	&__menu
		float left

	&__logo
		width 190px
		margin-right 40px
		padding-top 5px
		+below(980px)
			float none
			width auto
			margin 0
			text-align center
			padding-bottom 30px
		+below(750px)
			float left
			width 190px
			padding-bottom 0
			padding-top 12px

	&__menu
		width 600px
		padding-top 5px

	&__mobile-menu-trigger
		display none
		+below(750px)
			display block
			float right

	&__github
		float right
		width 110px
		padding-top 5px

	&__bottom
		padding 70px 0
		+below($content-width)
			m-padding()

	&__menu
	&__github
		+below(750px)
			display none

	&_fixed &__top
		box-shadow 0px 2px 3px rgba(#000, 0.04)
		background #2d3e60
