include ../logo/logo
include ../main-menu/main-menu
include ../github-button/github-button
include ../header-presentation/header-presentation
include ../mobile-menu-trigger/mobile-menu-trigger

mixin header(data)
	header.header&attributes(attributes)
		.header__logo
			+logo()

		.header__menu
			+main-menu(mainMenu.default)

		a(
			href="//github.com/zoxon/gulp-front"
			target="_blank"
			title="Source on Github"
		).header__github-button.button.button_icon
			+icon(name="github-octocat" title="Github octocat mark")
			span.visuallyhidden Github repository

		.header__mobile-menu-trigger
			+mobile-menu-trigger()
