.header
	display flex
	align-items center
	padding $mobile-padding
	background #fff
	box-shadow 0 2px 6px 0 rgba(#b0bac5, 0.6)

	+below($media-screen-tablet)
		padding 0 0 0 $mobile-padding

	+print()
		display none !important
		page-break-after always

	&__logo
		margin-right 5em

	&__menu
		+below($media-screen-tablet)
			display none

	&__mobile-menu-trigger
		display none
		margin-left auto

		+below($media-screen-tablet)
			display block

	&__github-button
		&
		&:visited
			margin-left auto
			padding 0.5em
			color $blue-6

			+below($media-screen-tablet)
				display none

		&:hover
			color $blue-8
