.header
	background #2d3e60
	padding 115px 0 35px
	&__inner
		max-width $content-width
		margin 0 auto

	&__top
		transition padding 0.5s ease 0s, background 0.5s ease 0s, box-shadow 0.5s ease 0s
		padding 1em 0
		position absolute
		top 0
		width 100%
		z-index 1000
		background-color #2d3e60

	&__logo
	&__menu
		float left

	&__logo
		width 190px
		margin-right 40px

	&__menu
		width 600px
		padding-top 5px

	&__github
		float right
		width 110px
		padding-top 5px

	&__bottom
		padding 70px 0

	&_fixed &__top
		position fixed
		box-shadow 0px 2px 3px rgba(#000, 0.04)
