mixin header-presentation(data)
	.header-presentation
		h1.header-presentation__name Gulp front
		h2.header-presentation__description A lean and powerful, gulp-based boilerplate for better front-end coding.
		.header-presentation__version v. 4.1.1
		.header-presentation__sub-description Created &amp; maintained by @zoxon
		.header-presentation__download
			a(href="//github.com/Zoxon/gulp-front/archive/master.zip", title="Download source from Github").button.button_style_ghost.button_color_white.button_size_lg.button_block Download
