.header-presentation
	text-align center
	font-family notoserif

	&__name
		margin 0
		padding-bottom 20px
		color #fff
		font-weight normal
		font-size 60px
		line-height normal

		+below(375px)
			font-size 40px

	&__description
		margin 0
		padding-bottom 8px
		color #fff
		font-weight normal
		font-size 18px

	&__try-now
		// 

	&__version
		padding-bottom 8px
		color #fff
		font-size 18px

	&__sub-description
		padding-bottom 60px
		color #fff
		font-size 14px

	&__download
		margin auto
		width 230px

		+print()
			display none
