.header-presentation
	font-family notoserif
	text-align center

	&__name
		color #fff
		font-size 60px
		margin 0
		font-weight normal
		padding-bottom 20px
		line-height normal

	&__description
		color #fff
		font-size 18px
		line-height 26px
		margin 0
		font-weight normal

	&__try-now
		//

	&__version
		color #fff
		font-size 18px

	&__sub-description
		color #fff
		font-size 14px
		padding-bottom 60px

	&__download
		width 230px
		margin auto
