.browsehappy
	position relative
	z-index 10000
	display none
	margin 0
	padding 0.5em 0 0.7em
	background #ffe983
	color #333
	text-align center

	a
		&
		&:visited
			text-decoration underline

		&:hover
			text-decoration none
