//- Helpers
form-focus-style($color)
	border-color $color
	box-shadow 0 0 2px rgba($color,.75)
	// box-shadow inset 0 0 0 1px $color
	{block}

//- Base styles
.form-item
	display block
	line-height normal
	m-cf()
	// padding-bottom 10px
	&__label
		display block
		padding-bottom 4px
		font-family $form-base-font-family
		span
			color $form-input-error-color

	&__input
		input
		textarea
		select
			box-sizing border-box
			width 100%
			font-family $form-base-font-family
			padding 0 9px


		textarea
			height 100px
			min-height 100px
			padding 9px
			resize vertical
			line-height normal !important


	&__helpers
		padding-top 4px
		padding-bottom 4px
		font-family $form-base-font-family

	&__errors
		margin 0
		padding 0
		li
			padding 0
			margin 0
			list-style none
			background none
			font-family $form-base-font-family
			font-size $form-input-error-font-size
			color $form-input-error-color

	&__hint
		font-size $form-input-hint-font-size
		color $form-input-hint-font-color

	&_type_captcha &__input-image
		width 137px
		float left
		margin-right 10px

	&_type_captcha &__input
		width 142px
		float left

	&_type_radio
	&_type_checkbox
		padding-left 30px
		position relative

	&_type_checkbox &__label
	&_type_radio &__label
	&_type_checkbox &__input
	&_type_radio &__input
		cursor pointer
		display inline-block

	&_type_radio &__label
	&_type_checkbox &__label
		display inline
		padding 0
		padding-bottom 0 !important
		user-select-none()

	&_type_radio &__input
	&_type_checkbox &__input
		position absolute
		left 0
		top 0

	&_type_multiselect select
		height auto

	&_type_password input
		font-family arial

//- Default style
.form-item_style_default
	// padding-bottom 17px
	.form-item
		&__label
			color #7b7b7b
			font-size 16px
			font-weight 300
			padding-bottom 9px

		&__input
			input
			select
			textarea
				background-color #fff
				border-radius 3px
				min-height 40px
				line-height 40px
				border 1px solid $form-input-border-color
				color #333
				// font-size 18px
				font-size 13px
				padding 0 18px
				&:invalid
					border-color $form-input-error-color

				&:invalid:focus
					border-color $form-input-error-color
					form-focus-style($form-input-error-color)

				+placeholder()
					color #d3d3d3
					// font-size 12px
				&:focus
					outline none
					form-focus-style($form-input-focus-color)

			textarea
				padding 8px 18px
				height 132px
				min-height 132px
				line-height $base-line-height

	&.form-item_type_multiselect
		select
			padding 0 !important
			min-height 40px
			height auto

		option
			padding 0.5em 1em

	&.form-item_status_error .form-item__input
		input
		textarea
		select
			border-color $form-input-error-color
			&:focus
				form-focus-style($form-input-error-color)
