.features-list
	&__list
		display flex
		flex-wrap wrap
		align-items baseline
		margin 0
		padding 0

	&__item
		margin-bottom 4em
		padding 1.5em
		width floor(($content-width / 3)) - ((16 + 8) * 2)
		list-style none
