include ../../button-group/button-group


+button-group()
	button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button-group__item Blue

+button-group()
	button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_rounded.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_rounded.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_rounded.button-group__item Blue

+button-group()
	button(type="button").button.button_size_normal.button_style_solid.button_color_grey.button_style_pill.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_pill.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_grey.button_style_pill.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_grey.button_style_pill.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_grey.button_style_pill.button-group__item Blue

+button-group()
	button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_pill.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_pill.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_pill.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_pill.button-group__item Blue
	button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_pill.button-group__item Blue
