include ../../icon/icon

button(type="button").button.button_size_normal.button_style_solid.button_color_grey.button_style_rounded
	span.button__text Grey
	+icon('chevron-right').button__icon

button(type="button").button.button_size_normal.button_style_solid.button_color_black.button_style_rounded
	span.button__text Black
	+icon('chevron-right').button__icon

button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded
	span.button__text Blue
	+icon('chevron-right').button__icon

button(type="button").button.button_size_normal.button_style_solid.button_color_dark-blue.button_style_rounded
	span.button__text Dark blue
	+icon('chevron-right').button__icon

button(type="button").button.button_size_normal.button_style_solid.button_color_green.button_style_rounded
	span.button__text Green
	+icon('chevron-right').button__icon

button(type="button").button.button_size_normal.button_style_solid.button_color_yellow.button_style_rounded
	+icon('chevron-left').button__icon
	span.button__text Yellow

button(type="button").button.button_size_normal.button_style_solid.button_color_orange.button_style_rounded
	+icon('chevron-left').button__icon
	span.button__text Orange

button(type="button").button.button_size_normal.button_style_solid.button_color_red.button_style_rounded
	+icon('chevron-left').button__icon
	span.button__text Red

button(type="button").button.button_size_normal.button_style_solid.button_color_aqua.button_style_rounded
	+icon('chevron-left').button__icon
	span.button__text Aqua

button(type="button").button.button_size_normal.button_style_solid.button_color_purple.button_style_rounded
	+icon('chevron-left').button__icon
	span.button__text Purple
