include ../../icon/icon

button(type="button").button.button_style_solid.button_color_black.button_style_rounded
	+icon('chevron-left').button__icon
	span.button__text Text left

a(htef="#").button.button_style_solid.button_color_gray.button_style_rounded
	span.button__text Text right
	+icon('chevron-right').button__icon

a(htef="#").button.button_style_solid.button_color_blue.button_style_rounded
	+icon('add').button__icon
