button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-extra-small xxs
button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-small xs
button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_small s
button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_medium m
button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_large l
button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-large xl
button(type="button").button.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-extra-large xxl
