button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-large Extra large
button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button_size_large Large
button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded Normal
button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button_size_small Small
button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.button_size_extra-small Extra small
