h5 Solid
h6 Rounded
button(type="button").button.button_size_normal.button_style_solid.button_color_grey.button_style_rounded Grey
button(type="button").button.button_size_normal.button_style_solid.button_color_black.button_style_rounded Black
button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded Blue
button(type="button").button.button_size_normal.button_style_solid.button_color_dark-blue.button_style_rounded Dark blue
button(type="button").button.button_size_normal.button_style_solid.button_color_green.button_style_rounded Green
button(type="button").button.button_size_normal.button_style_solid.button_color_yellow.button_style_rounded Yellow
button(type="button").button.button_size_normal.button_style_solid.button_color_orange.button_style_rounded Orange
button(type="button").button.button_size_normal.button_style_solid.button_color_red.button_style_rounded Red
button(type="button").button.button_size_normal.button_style_solid.button_color_aqua.button_style_rounded Aqua
button(type="button").button.button_size_normal.button_style_solid.button_color_purple.button_style_rounded Purple

h6 Flat
button(type="button").button.button_size_normal.button_style_solid.button_color_grey Grey
button(type="button").button.button_size_normal.button_style_solid.button_color_black Black
button(type="button").button.button_size_normal.button_style_solid.button_color_blue Blue
button(type="button").button.button_size_normal.button_style_solid.button_color_dark-blue Dark blue
button(type="button").button.button_size_normal.button_style_solid.button_color_green Green
button(type="button").button.button_size_normal.button_style_solid.button_color_yellow Yellow
button(type="button").button.button_size_normal.button_style_solid.button_color_orange Orange
button(type="button").button.button_size_normal.button_style_solid.button_color_red Red
button(type="button").button.button_size_normal.button_style_solid.button_color_aqua Aqua
button(type="button").button.button_size_normal.button_style_solid.button_color_purple Purple

h6 Pill
button(type="button").button.button_size_normal.button_style_solid.button_color_grey.button_style_pill Grey
button(type="button").button.button_size_normal.button_style_solid.button_color_black.button_style_pill Black
button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_pill Blue
button(type="button").button.button_size_normal.button_style_solid.button_color_dark-blue.button_style_pill Dark blue
button(type="button").button.button_size_normal.button_style_solid.button_color_green.button_style_pill Green
button(type="button").button.button_size_normal.button_style_solid.button_color_yellow.button_style_pill Yellow
button(type="button").button.button_size_normal.button_style_solid.button_color_orange.button_style_pill Orange
button(type="button").button.button_size_normal.button_style_solid.button_color_red.button_style_pill Red
button(type="button").button.button_size_normal.button_style_solid.button_color_aqua.button_style_pill Aqua
button(type="button").button.button_size_normal.button_style_solid.button_color_purple.button_style_pill Purple

h5 Ghost
h6 Rounded
button(type="button").button.button_size_normal.button_style_ghost.button_color_grey.button_style_rounded Grey
button(type="button").button.button_size_normal.button_style_ghost.button_color_black.button_style_rounded Black
button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_rounded Blue
button(type="button").button.button_size_normal.button_style_ghost.button_color_dark-blue.button_style_rounded Dark blue
button(type="button").button.button_size_normal.button_style_ghost.button_color_green.button_style_rounded Green
button(type="button").button.button_size_normal.button_style_ghost.button_color_yellow.button_style_rounded Yellow
button(type="button").button.button_size_normal.button_style_ghost.button_color_orange.button_style_rounded Orange
button(type="button").button.button_size_normal.button_style_ghost.button_color_red.button_style_rounded Red
button(type="button").button.button_size_normal.button_style_ghost.button_color_aqua.button_style_rounded Aqua
button(type="button").button.button_size_normal.button_style_ghost.button_color_purple.button_style_rounded Purple

h6 Flat
button(type="button").button.button_size_normal.button_style_ghost.button_color_grey Grey
button(type="button").button.button_size_normal.button_style_ghost.button_color_black Black
button(type="button").button.button_size_normal.button_style_ghost.button_color_blue Blue
button(type="button").button.button_size_normal.button_style_ghost.button_color_dark-blue Dark blue
button(type="button").button.button_size_normal.button_style_ghost.button_color_green Green
button(type="button").button.button_size_normal.button_style_ghost.button_color_yellow Yellow
button(type="button").button.button_size_normal.button_style_ghost.button_color_orange Orange
button(type="button").button.button_size_normal.button_style_ghost.button_color_red Red
button(type="button").button.button_size_normal.button_style_ghost.button_color_aqua Aqua
button(type="button").button.button_size_normal.button_style_ghost.button_color_purple Purple

h6 Pill
button(type="button").button.button_size_normal.button_style_ghost.button_color_grey.button_style_pill Grey
button(type="button").button.button_size_normal.button_style_ghost.button_color_black.button_style_pill Black
button(type="button").button.button_size_normal.button_style_ghost.button_color_blue.button_style_pill Blue
button(type="button").button.button_size_normal.button_style_ghost.button_color_dark-blue.button_style_pill Dark blue
button(type="button").button.button_size_normal.button_style_ghost.button_color_green.button_style_pill Green
button(type="button").button.button_size_normal.button_style_ghost.button_color_yellow.button_style_pill Yellow
button(type="button").button.button_size_normal.button_style_ghost.button_color_orange.button_style_pill Orange
button(type="button").button.button_size_normal.button_style_ghost.button_color_red.button_style_pill Red
button(type="button").button.button_size_normal.button_style_ghost.button_color_aqua.button_style_pill Aqua
button(type="button").button.button_size_normal.button_style_ghost.button_color_purple.button_style_pill Purple
