h3 Solid
h4 Flat
button(type="button").button.button_style_solid.button_color_gray Gray
button(type="button").button.button_style_solid.button_color_black Black
button(type="button").button.button_style_solid.button_color_red Red
button(type="button").button.button_style_solid.button_color_pink Pink
button(type="button").button.button_style_solid.button_color_grape Grape
button(type="button").button.button_style_solid.button_color_violet Violet
button(type="button").button.button_style_solid.button_color_indigo Indigo
button(type="button").button.button_style_solid.button_color_blue Blue
button(type="button").button.button_style_solid.button_color_cyan Cyan
button(type="button").button.button_style_solid.button_color_teal Teal
button(type="button").button.button_style_solid.button_color_green Green
button(type="button").button.button_style_solid.button_color_lime Lime
button(type="button").button.button_style_solid.button_color_yellow Yellow
button(type="button").button.button_style_solid.button_color_orange Orange

h4 Rounded
button(type="button").button.button_style_solid.button_color_gray.button_style_rounded Gray
button(type="button").button.button_style_solid.button_color_black.button_style_rounded Black
button(type="button").button.button_style_solid.button_color_red.button_style_rounded Red
button(type="button").button.button_style_solid.button_color_pink.button_style_rounded Pink
button(type="button").button.button_style_solid.button_color_grape.button_style_rounded Grape
button(type="button").button.button_style_solid.button_color_violet.button_style_rounded Violet
button(type="button").button.button_style_solid.button_color_indigo.button_style_rounded Indigo
button(type="button").button.button_style_solid.button_color_blue.button_style_rounded Blue
button(type="button").button.button_style_solid.button_color_cyan.button_style_rounded Cyan
button(type="button").button.button_style_solid.button_color_teal.button_style_rounded Teal
button(type="button").button.button_style_solid.button_color_green.button_style_rounded Green
button(type="button").button.button_style_solid.button_color_lime.button_style_rounded Lime
button(type="button").button.button_style_solid.button_color_yellow.button_style_rounded Yellow
button(type="button").button.button_style_solid.button_color_orange.button_style_rounded Orange

h4 Pill
button(type="button").button.button_style_solid.button_color_gray.button_style_pill Gray
button(type="button").button.button_style_solid.button_color_black.button_style_pill Black
button(type="button").button.button_style_solid.button_color_red.button_style_pill Red
button(type="button").button.button_style_solid.button_color_pink.button_style_pill Pink
button(type="button").button.button_style_solid.button_color_grape.button_style_pill Grape
button(type="button").button.button_style_solid.button_color_violet.button_style_pill Violet
button(type="button").button.button_style_solid.button_color_indigo.button_style_pill Indigo
button(type="button").button.button_style_solid.button_color_blue.button_style_pill Blue
button(type="button").button.button_style_solid.button_color_cyan.button_style_pill Cyan
button(type="button").button.button_style_solid.button_color_teal.button_style_pill Teal
button(type="button").button.button_style_solid.button_color_green.button_style_pill Green
button(type="button").button.button_style_solid.button_color_lime.button_style_pill Lime
button(type="button").button.button_style_solid.button_color_yellow.button_style_pill Yellow
button(type="button").button.button_style_solid.button_color_orange.button_style_pill Orange

h3 Ghost
h4 Flat
button(type="button").button.button_style_ghost.button_color_gray Gray
button(type="button").button.button_style_ghost.button_color_black Black
button(type="button").button.button_style_ghost.button_color_red Red
button(type="button").button.button_style_ghost.button_color_pink Pink
button(type="button").button.button_style_ghost.button_color_grape Grape
button(type="button").button.button_style_ghost.button_color_violet Violet
button(type="button").button.button_style_ghost.button_color_indigo Indigo
button(type="button").button.button_style_ghost.button_color_blue Blue
button(type="button").button.button_style_ghost.button_color_cyan Cyan
button(type="button").button.button_style_ghost.button_color_teal Teal
button(type="button").button.button_style_ghost.button_color_green Green
button(type="button").button.button_style_ghost.button_color_lime Lime
button(type="button").button.button_style_ghost.button_color_yellow Yellow
button(type="button").button.button_style_ghost.button_color_orange Orange

h4 Rounded
button(type="button").button.button_style_ghost.button_color_gray.button_style_rounded Gray
button(type="button").button.button_style_ghost.button_color_black.button_style_rounded Black
button(type="button").button.button_style_ghost.button_color_red.button_style_rounded Red
button(type="button").button.button_style_ghost.button_color_pink.button_style_rounded Pink
button(type="button").button.button_style_ghost.button_color_grape.button_style_rounded Grape
button(type="button").button.button_style_ghost.button_color_violet.button_style_rounded Violet
button(type="button").button.button_style_ghost.button_color_indigo.button_style_rounded Indigo
button(type="button").button.button_style_ghost.button_color_blue.button_style_rounded Blue
button(type="button").button.button_style_ghost.button_color_cyan.button_style_rounded Cyan
button(type="button").button.button_style_ghost.button_color_teal.button_style_rounded Teal
button(type="button").button.button_style_ghost.button_color_green.button_style_rounded Green
button(type="button").button.button_style_ghost.button_color_lime.button_style_rounded Lime
button(type="button").button.button_style_ghost.button_color_yellow.button_style_rounded Yellow
button(type="button").button.button_style_ghost.button_color_orange.button_style_rounded Orange

h4 Pill
button(type="button").button.button_style_ghost.button_color_gray.button_style_pill Gray
button(type="button").button.button_style_ghost.button_color_black.button_style_pill Black
button(type="button").button.button_style_ghost.button_color_red.button_style_pill Red
button(type="button").button.button_style_ghost.button_color_pink.button_style_pill Pink
button(type="button").button.button_style_ghost.button_color_grape.button_style_pill Grape
button(type="button").button.button_style_ghost.button_color_violet.button_style_pill Violet
button(type="button").button.button_style_ghost.button_color_indigo.button_style_pill Indigo
button(type="button").button.button_style_ghost.button_color_blue.button_style_pill Blue
button(type="button").button.button_style_ghost.button_color_cyan.button_style_pill Cyan
button(type="button").button.button_style_ghost.button_color_teal.button_style_pill Teal
button(type="button").button.button_style_ghost.button_color_green.button_style_pill Green
button(type="button").button.button_style_ghost.button_color_lime.button_style_pill Lime
button(type="button").button.button_style_ghost.button_color_yellow.button_style_pill Yellow
button(type="button").button.button_style_ghost.button_color_orange.button_style_pill Orange

h3 Gradient
h4 Flat
button(type="button").button.button_style_gradient.button_color_gray Gray
button(type="button").button.button_style_gradient.button_color_black Black
button(type="button").button.button_style_gradient.button_color_red Red
button(type="button").button.button_style_gradient.button_color_pink Pink
button(type="button").button.button_style_gradient.button_color_grape Grape
button(type="button").button.button_style_gradient.button_color_violet Violet
button(type="button").button.button_style_gradient.button_color_indigo Indigo
button(type="button").button.button_style_gradient.button_color_blue Blue
button(type="button").button.button_style_gradient.button_color_cyan Cyan
button(type="button").button.button_style_gradient.button_color_teal Teal
button(type="button").button.button_style_gradient.button_color_green Green
button(type="button").button.button_style_gradient.button_color_lime Lime
button(type="button").button.button_style_gradient.button_color_yellow Yellow
button(type="button").button.button_style_gradient.button_color_orange Orange

h4 Rounded
button(type="button").button.button_style_gradient.button_color_gray.button_style_rounded Gray
button(type="button").button.button_style_gradient.button_color_black.button_style_rounded Black
button(type="button").button.button_style_gradient.button_color_red.button_style_rounded Red
button(type="button").button.button_style_gradient.button_color_pink.button_style_rounded Pink
button(type="button").button.button_style_gradient.button_color_grape.button_style_rounded Grape
button(type="button").button.button_style_gradient.button_color_violet.button_style_rounded Violet
button(type="button").button.button_style_gradient.button_color_indigo.button_style_rounded Indigo
button(type="button").button.button_style_gradient.button_color_blue.button_style_rounded Blue
button(type="button").button.button_style_gradient.button_color_cyan.button_style_rounded Cyan
button(type="button").button.button_style_gradient.button_color_teal.button_style_rounded Teal
button(type="button").button.button_style_gradient.button_color_green.button_style_rounded Green
button(type="button").button.button_style_gradient.button_color_lime.button_style_rounded Lime
button(type="button").button.button_style_gradient.button_color_yellow.button_style_rounded Yellow
button(type="button").button.button_style_gradient.button_color_orange.button_style_rounded Orange

h4 Pill
button(type="button").button.button_style_gradient.button_color_gray.button_style_pill Gray
button(type="button").button.button_style_gradient.button_color_black.button_style_pill Black
button(type="button").button.button_style_gradient.button_color_red.button_style_pill Red
button(type="button").button.button_style_gradient.button_color_pink.button_style_pill Pink
button(type="button").button.button_style_gradient.button_color_grape.button_style_pill Grape
button(type="button").button.button_style_gradient.button_color_violet.button_style_pill Violet
button(type="button").button.button_style_gradient.button_color_indigo.button_style_pill Indigo
button(type="button").button.button_style_gradient.button_color_blue.button_style_pill Blue
button(type="button").button.button_style_gradient.button_color_cyan.button_style_pill Cyan
button(type="button").button.button_style_gradient.button_color_teal.button_style_pill Teal
button(type="button").button.button_style_gradient.button_color_green.button_style_pill Green
button(type="button").button.button_style_gradient.button_color_lime.button_style_pill Lime
button(type="button").button.button_style_gradient.button_color_yellow.button_style_pill Yellow
button(type="button").button.button_style_gradient.button_color_orange.button_style_pill Orange
