include ../../button/button


h3 Colors
+button(size="normal" style="solid rounded" color="gray") Gray
+button(size="normal" style="solid rounded" color="black") Black
+button(size="normal" style="solid rounded" color="red") Red
+button(size="normal" style="solid rounded" color="pink") Pink
+button(size="normal" style="solid rounded" color="grape") Grape
+button(size="normal" style="solid rounded" color="violet") Violet
+button(size="normal" style="solid rounded" color="indigo") Indigo
+button(size="normal" style="solid rounded" color="blue") Blue
+button(size="normal" style="solid rounded" color="cyan") Cyan
+button(size="normal" style="solid rounded" color="teal") Teal
+button(size="normal" style="solid rounded" color="green") Green
+button(size="normal" style="solid rounded" color="lime") Lime
+button(size="normal" style="solid rounded" color="yellow") Yellow
+button(size="normal" style="solid rounded" color="orange") Orange


h3 Styles
+button(size="normal" style="solid" color="red") Solid Square
+button(size="normal" style="solid rounded" color="pink") Solid Rounded
+button(size="normal" style="solid pill" color="grape") Solid Pill

+button(size="normal" style="ghost" color="violet") Ghost Square
+button(size="normal" style="ghost rounded" color="indigo") Ghost Rounded
+button(size="normal" style="ghost pill" color="blue") Ghost Pill

+button(size="normal" style="gradient" color="green") Gradient Square
+button(size="normal" style="gradient rounded" color="yellow") Gradient Rounded
+button(size="normal" style="gradient pill" color="orange") Gradient Pill
