button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded Button
a(href="#").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded Link
input(type="button" value="Input").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded
