mixin accordion(data)
	.accordion&attributes(attributes)
		block

mixin accordion-item(data)
	.accordion__item(
		data-plugin-accordion="item" 
		data-plugin-accordion-item-open!=`${data.open || false}`
	)&attributes(attributes)
		button(type="button" data-plugin-accordion="trigger").accordion__trigger= data.title
		.accordion__pannel.content-wrapper
			block
