.accordion
	&__item
		padding 0
		list-style none
		margin-bottom -1px

	&__trigger
		position relative
		color #333
		font-size 13px
		padding 10px 50px 10px 20px
		background-color #fff
		transition 150ms all ease-in-out 0s
		border 1px solid #cdcdcd
		border-radius 3px
		cursor pointer
		width 100%
		box-sizing border-box
		text-align left

		&:hover
			background-color #f9f9f9

		&::after
			transition 150ms all ease-in-out 0s
			position absolute
			right 20px
			top 50%
			margin-top -5px
			content ''
			display block
			size 6px
			border-width 0 1px 1px 0
			border-color #535353
			border-style solid
			transform rotate(45deg)
			transform-origin 75% 75%

	&__pannel
		display none
		padding 20px 10px

	&__item_active &__trigger
		background-color #f9f9f9

	&__item_active &__trigger
		&::after
			transform rotate(225deg)
