.accordion
	&__trigger
		position relative
		display flex
		box-sizing border-box
		text-align left

		&:hover
			cursor pointer

		&[disabled]
			pointer-events none

	&__item
		position relative

		&[disabled]
		&[aria-disabled="true"]
			pointer-events none

	&__panel
		visibility hidden
		overflow hidden
		box-sizing border-box
		height 0
		opacity 0

		&[aria-hidden="false"]
			visibility visible
			overflow auto
			height auto
			opacity 1

	&_style_default
		& ^[0]__item
			background-color #fff
			box-shadow 0px 1px 3px 0px rgba(#000, 0.2), 0px 1px 1px 0px rgba(#000, 0.14), 0px 2px 1px -1px rgba(#000, 0.12)
			transition 125ms margin ease-in-out

			&[data-accordion-item-open="true"]
				margin-top em(16px)
				margin-bottom em(16px)
				border-radius em(2px)

			&:first-child
				border-top-left-radius em(2px)
				border-top-right-radius em(2px)

			&:last-child
				border-bottom-right-radius em(2px)
				border-bottom-left-radius em(2px)

			&[disabled]
			&[aria-disabled="true"]
				background-color rgba(#000, 0.12)
				box-shadow none

				& ^[0]__trigger
					opacity 0.5

		& ^[0]__trigger
			box-sizing border-box
			padding em(12px) em(48px) em(12px) em(24px)
			min-height 48px
			text-align left

			&:focus
			&:hover
				z-index 10

			&[aria-expanded="true"]
				&::after
					transform rotate(225deg)

			&::after
				position absolute
				top 50%
				right 20px
				display block
				margin-top -5px
				size 6px
				border-width 0 2px 2px 0
				border-style solid
				border-color #535353
				content ""
				transition 150ms all ease-in-out
				transform rotate(45deg)
				transform-origin 65% 65%

		& ^[0]__panel
			padding em(24px)
