mixin accordion(data)
	.accordion&attributes(attributes)
		ul
			block

mixin accordion-item(data)
	- var classes = ['accordion__item']
	if data.open
		- classes.push(classes[0] + '_active')

	li(class=classes).accordion__item&attributes(attributes)
		.accordion__header= data.title
		.accordion__content
			block
