.scroll-top
	position fixed
	right 20px
	bottom 40px
	z-index 1
	size 3.5em
	border-radius 50%

	&__icon
		position absolute
		top 50%
		left 50%
		margin-top -0.7em
		margin-left -0.7em
		size 1.4em
