include ../icon/icon

mixin scroll-top(data)
	button(type="button").scroll-top.button.button_style_solid.button_color_blue&attributes(attributes)
		span.visuallyhidden Scroll page top
		+icon(name="chevron_up" title="Chevron up").scroll-top__icon
