.scroll-top
	background #2d3e60
	border none
	padding 25px 20px
	border-radius 50%
	box-shadow 0 2px 5px 0 rgba(#000, .26)
	position fixed
	right 40px
	bottom 50px
	outline none
	svg
		width 20px
		height 10px
		fill #fff
		display block

