//STICKY FOOTER
//http://ryanfait.com/sticky-footer/
html
body
.b-page
	height 100%

.b-wrapper
	min-height 100%
	height auto !important
	height 100%
	margin 0 auto -74px

.b-footer
.b-push
	height 74px
//END STICKY FOOTER

.b-footer
	//