.spinner
	position relative
	display inline-block
	overflow visible
	box-sizing border-box
	margin 0
	padding 0
	size em(24px)
	background-color transparent
	color inherit
	text-transform none
	font inherit
	line-height 0
	fill currentcolor

	&_style_loader
		&::before
			display block
			box-sizing border-box
			width 100%
			height 100%
			border-style solid
			border-color currentColor
			border-right-color transparent
			border-radius 50%
			content ""
			animation spinner_loader 450ms linear infinite
			will-change transform

	&_style_blink
		&::before
			display block
			box-sizing border-box
			width 100%
			height 100%
			border none
			border-radius 50%
			content ""
			animation spinner_blink 1.2s ease infinite
			will-change box-shadow

	&_style_scale
		position relative
		border none

		&::before
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			display block
			box-sizing border-box
			border-radius 50%
			background-color currentColor
			content ""
			animation spinner_scale 1s ease infinite
			will-change transform, opacity

	&_style_square-flip
		&::before
			position absolute
			top 0
			left 0
			display block
			width 100%
			height 100%
			background-color currentColor
			content ""
			animation spinner_square-flip 1.2s infinite ease-in-out

	&_style_pulse
		&::before
			position absolute
			top 0
			left 0
			display block
			width 100%
			height 100%
			border-radius 50%
			background-color currentColor
			content ""
			animation spinner_pulse 1s infinite ease-in-out

	&_color_gray
		color $gray-6

	&_color_black
		color $gray-8

	&_color_red
		color $red-6

	&_color_pink
		color $pink-6

	&_color_grape
		color $grape-6

	&_color_violet
		color $violet-6

	&_color_indigo
		color $indigo-6

	&_color_blue
		color $blue-6

	&_color_cyan
		color $cyan-6

	&_color_teal
		color $teal-6

	&_color_green
		color $green-6

	&_color_lime
		color $lime-6

	&_color_yellow
		color $yellow-6

	&_color_orange
		color $orange-6

	// sizes
	&_size_small
	&_size_s
		border-width 2px
		font-size 75%

	&_size_medium
	&_size_m
		font-size 100%

	&_size_large
	&_size_l
		font-size 150%

	&_size_extra-large
	&_size_xl
		font-size 175%

	&_size_extra-extra-large
	&_size_xxl
		font-size 200%

@keyframes spinner_loader
	100%
		transform rotate(360deg)

@keyframes spinner_blink
	0%
		box-shadow inset 0 0 0 1px transparent

	20%
		box-shadow inset 0 0 0 1em currentColor

	100%
		box-shadow inset 0 0 0 1px transparent

@keyframes spinner_scale
	0%
		opacity 0
		transform scale(0.1)

	70%
		opacity 1
		transform scale(1)

	100%
		opacity 0
		transform scale(0.1)

@keyframes spinner_square-flip
	0%
		transform perspective(120px)

	50%
		transform perspective(120px) rotateY(180deg)

	100%
		transform perspective(120px) rotateY(180deg) rotateX(180deg)

@keyframes spinner_pulse
	0%
		transform scale(0)

	100%
		opacity 0
		transform scale(1)
