extends blocks/_layout

block head
	- var pageTitle = 'Home page'

block style
	link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&amp;subset=cyrillic,latin")
	link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic&amp;subset=cyrillic,latin")

block content
	.b-page
		.b-page__wrapper
			// HEADER
			.b-page__header
				include /blocks/header
			// END HEADER
			
			// MAIN
			.b-page__content
				.b-main
					.b-main__sidebar
						include /blocks/sidebar
					.b-main__content
						main(role="main").b-content
							header
								h1.b-page-title Page title
							
							include /blocks/_demo
					.clear
			// END MAIN

			.b-page__buffer

		// FOOTER
		.b-page__footer
			include /blocks/footer
		// END FOOTER
