extends blocks/_layout

block content
	.b-page
		.b-wrapper
			// HEADER
			include /blocks/header
			// END HEADER

			aside
				section
					h3 Sidebar sample

			// CONTENT
			.b-main
				include /blocks/sidebar

				main(role="main").b-content
					header
						h1.b-page-title Page title
					
					include /blocks/_fish2



				
			// END CONTENT

			.b-push

		// FOOTER
		include /blocks/footer
		// END FOOTER
