extends blocks/_layout

block content
	.b-page
		.b-wrapper
			// HEADER
			include /blocks/header
			// END HEADER


			// CONTENT
			.b-content
				
			// END CONTENT

			.b-push

		// FOOTER
		include /blocks/footer
		// END FOOTER