doctype html
html
	head
		meta(charset="UTF-8")
		//- meta(name="viewport", content="width=device-width, initial-scale=1")
		title List Of Files

		// livereload.js need for debug, remove in production
		//- script(type="text/javascript", src="http://localhost:35729/livereload.js")

		style.
			body{
				font-family: "Arial";
			}
			.content{
				padding: 20px 55px;
				max-width: 700px;
			}
			h1{
				font-weight: normal;
			}
			hr{
				height: 1px;
				background: #cecece;
				border: none;
			}
			ul{
				padding: 0;
				margin: 0;
			}
			li{
				list-style: none;
				padding: 0 0 10px 0;
				font-size: 14px;
			}
			a, a:visited{
				display: inline-block;
				height: 15px;
				color: #290656;
				text-decoration: underline;
			}
			a:hover{
				text-decoration: none;
				color: #374EC5;
			}
			span{
				color: grey;
				font-size: 12px;
				font-family: georgia;
				font-style: italic;
				padding: 5px 0 10px 10px;
				margin:0;
			}

	body
		.content
			h1 Нвзвание проекта
			ul
				-var data = [{page: "home", name: "Главная"}]
				each ent, num in data
					li
						a(href="#{ent.page}.html")= ent.name
						span  — 
						span(class="file") #{ent.page}.html
