include ../../accordion/accordion
+accordion()
	+accordion-item({"title": "Accordion item 1", "open": true})
		p Accordion item 1 content
	
	+accordion-item({"title": "Accordion item 2"})
		p Accordion item 2 content

	+accordion-item({"title": "Accordion item 3"})
		p Accordion item 2 content
