include ../../accordion/accordion

-
	const accordions = [
		{ label: "Accordion 1" }, 
		{ label: "Accordion 2" },
		{ label: "Accordion 3" },
		{ label: "Expanded accordion", expanded: true },
		{ label: "Disabled accordion", disabled: true }
	]

+accordion().accordion_style_default
	each item in accordions
		+accordion__item()&attributes(item)
			<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Perferendis dolorem incidunt accusantium quaerat similique repellat eius veritatis porro dolore quod voluptate, atque ipsa? Odit aspernatur veritatis, ad veniam consequatur! Eveniet.</p>

h3 Multiple mode
p Add 
	code data-accordion-mode="multiple"
	|  attribute to accordion


+accordion(data-accordion-mode="multiple").accordion_style_default
	each item in accordions
		+accordion__item()&attributes(item)
			<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Perferendis dolorem incidunt accusantium quaerat similique repellat eius veritatis porro dolore quod voluptate, atque ipsa? Odit aspernatur veritatis, ad veniam consequatur! Eveniet.</p>
