include ../../avatar/avatar

h4 Square
+avatar({"image": "https://unsplash.it/240/240?image=1027","title": "User Name"}).avatar_size_normal
+avatar({"title": "User Name"}).avatar_size_normal

h4 Circle and Sizes
+avatar({"image": "https://unsplash.it/240/240?image=1027","title": "User Name"}).avatar_style_circle.avatar_size_extra-large
+avatar({"image": "https://unsplash.it/240/240?image=1027","title": "User Name"}).avatar_style_circle.avatar_size_large
+avatar({"image": "https://unsplash.it/240/240?image=1027","title": "User Name"}).avatar_style_circle.avatar_size_normal
+avatar({"image": "https://unsplash.it/240/240?image=1027","title": "User Name"}).avatar_style_circle.avatar_size_small
+avatar({"image": "https://unsplash.it/240/240?image=1027","title": "User Name"}).avatar_style_circle.avatar_size_extra-small

h4 Initals
+avatar({"title": "User Name"}).avatar_style_circle.avatar_size_extra-large
+avatar({"title": "User Name"}).avatar_style_circle.avatar_size_large
+avatar({"title": "User Name"}).avatar_style_circle.avatar_size_normal
+avatar({"title": "User Name"}).avatar_style_circle.avatar_size_small
+avatar({"title": "User Name"}).avatar_style_circle.avatar_size_extra-small
