include ../../badge/badge

h4 Square
+badge().badge_color_grey
	| 1

+badge().badge_color_black
	| 99

+badge().badge_color_blue
	| 999

+badge().badge_color_dark-blue
	| 9999

+badge().badge_color_green
	| label

+badge().badge_color_yellow
	| 1

+badge().badge_color_orange
	| 99

+badge().badge_color_red
	| 9999

+badge().badge_color_aqua
	| label

+badge().badge_color_purple
	| 1

h4 Rounded
+badge().badge_color_grey.badge_style_rounded
	| 1

+badge().badge_color_black.badge_style_rounded
	| 99

+badge().badge_color_blue.badge_style_rounded
	| 999

+badge().badge_color_dark-blue.badge_style_rounded
	| 9999

+badge().badge_color_green.badge_style_rounded
	| label

+badge().badge_color_yellow.badge_style_rounded
	| 1

+badge().badge_color_orange.badge_style_rounded
	| 99

+badge().badge_color_red.badge_style_rounded
	| 9999

+badge().badge_color_aqua.badge_style_rounded
	| label

+badge().badge_color_purple.badge_style_rounded
	| 1

h4 Circle
+badge().badge_color_grey.badge_style_circle
	| 1

+badge().badge_color_black.badge_style_circle
	| 99

+badge().badge_color_blue.badge_style_circle
	| 999

+badge().badge_color_dark-blue.badge_style_circle
	| 9999

+badge().badge_color_green.badge_style_circle
	| label

+badge().badge_color_yellow.badge_style_circle
	| 1

+badge().badge_color_orange.badge_style_circle
	| 99

+badge().badge_color_red.badge_style_circle
	| 9999

+badge().badge_color_aqua.badge_style_circle
	| label

+badge().badge_color_purple.badge_style_circle
	| 1

h4 Sizes
+badge().badge_color_blue.badge_style_circle.badge_size_extra-large
	| extra large

+badge().badge_color_blue.badge_style_circle.badge_size_large
	| large

+badge().badge_color_blue.badge_style_circle
	| normal

+badge().badge_color_blue.badge_style_circle.badge_size_small
	| small

+badge().badge_color_blue.badge_style_circle.badge_size_extra-small
	| extra small
