h4 Styles
h5 Square
.badge.badge_style_solid.badge_color_gray 99
.badge.badge_style_solid.badge_color_black 99
.badge.badge_style_solid.badge_color_red 99
.badge.badge_style_solid.badge_color_pink 99
.badge.badge_style_solid.badge_color_grape 99
.badge.badge_style_solid.badge_color_violet 99
.badge.badge_style_solid.badge_color_indigo 99
.badge.badge_style_solid.badge_color_blue 99
.badge.badge_style_solid.badge_color_cyan 99
.badge.badge_style_solid.badge_color_teal 99
.badge.badge_style_solid.badge_color_green 99
.badge.badge_style_solid.badge_color_lime 99
.badge.badge_style_solid.badge_color_yellow 99
.badge.badge_style_solid.badge_color_orange 99

h5 Rounded
.badge.badge_style_solid.badge_color_gray.badge_style_rounded 99
.badge.badge_style_solid.badge_color_black.badge_style_rounded 99
.badge.badge_style_solid.badge_color_red.badge_style_rounded 99
.badge.badge_style_solid.badge_color_pink.badge_style_rounded 99
.badge.badge_style_solid.badge_color_grape.badge_style_rounded 99
.badge.badge_style_solid.badge_color_violet.badge_style_rounded 99
.badge.badge_style_solid.badge_color_indigo.badge_style_rounded 99
.badge.badge_style_solid.badge_color_blue.badge_style_rounded 99
.badge.badge_style_solid.badge_color_cyan.badge_style_rounded 99
.badge.badge_style_solid.badge_color_teal.badge_style_rounded 99
.badge.badge_style_solid.badge_color_green.badge_style_rounded 99
.badge.badge_style_solid.badge_color_lime.badge_style_rounded 99
.badge.badge_style_solid.badge_color_yellow.badge_style_rounded 99
.badge.badge_style_solid.badge_color_orange.badge_style_rounded 99

h5 Circle
.badge.badge_style_solid.badge_color_gray.badge_style_circle 99
.badge.badge_style_solid.badge_color_black.badge_style_circle 99
.badge.badge_style_solid.badge_color_red.badge_style_circle 99
.badge.badge_style_solid.badge_color_pink.badge_style_circle 99
.badge.badge_style_solid.badge_color_grape.badge_style_circle 99
.badge.badge_style_solid.badge_color_violet.badge_style_circle 99
.badge.badge_style_solid.badge_color_indigo.badge_style_circle 99
.badge.badge_style_solid.badge_color_blue.badge_style_circle 99
.badge.badge_style_solid.badge_color_cyan.badge_style_circle 99
.badge.badge_style_solid.badge_color_teal.badge_style_circle 99
.badge.badge_style_solid.badge_color_green.badge_style_circle 99
.badge.badge_style_solid.badge_color_lime.badge_style_circle 99
.badge.badge_style_solid.badge_color_yellow.badge_style_circle 99
.badge.badge_style_solid.badge_color_orange.badge_style_circle 99

h4 Sizes
.badge.badge_style_solid.badge_color_blue.badge_style_circle.badge_size_extra-extra-large xxl
.badge.badge_style_solid.badge_color_blue.badge_style_circle.badge_size_extra-large xl
.badge.badge_style_solid.badge_color_blue.badge_style_circle.badge_size_large l
.badge.badge_style_solid.badge_color_blue.badge_style_circle m
.badge.badge_style_solid.badge_color_blue.badge_style_circle.badge_size_small s
.badge.badge_style_solid.badge_color_blue.badge_style_circle.badge_size_extra-small xs
.badge.badge_style_solid.badge_color_blue.badge_style_circle.badge_size_extra-extra-small xxs

