button(type="button").button.button_size_normal.button_style_solid.button_color_grey.button_style_rounded.js-notification-info info
button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.js-notification-notice notice
button(type="button").button.button_size_normal.button_style_solid.button_color_green.button_style_rounded.js-notification-success success
button(type="button").button.button_size_normal.button_style_solid.button_color_red.button_style_rounded.js-notification-error error
button(type="button").button.button_size_normal.button_style_solid.button_color_yellow.button_style_rounded.js-notification-warning warning

h2 Options
h3 class
p A string containing one or more extra CSS classes
ul
	li Type:
		i string
	li Default:
		i ''

h3 click
p Click callback
ul
	li Type:
		i function
	li Default:
		i none

h3 content
p Notification content
ul
	li Type:
		i string
	li Default:
		i ''

h3 duration
p On screen duration in milliseconds, set it to 0 for sticky
ul
	li Type:
		i integer
	li Default:
		i 5000


h3 fadeIn
p Fade in effect duration in milliseconds
ul
	li Type:
		i integer
	li Default:
		i 400

h3 fadeOut
p Fade out effect duration in milliseconds
ul
	li Type:
		i integer
	li Default:
		i 400

h3 limit
p Visible limit per board, when reached notifications wont be created
ul
	li Type:
		i integer, boolean
	li Default:
		i false

h3 queue
p If queue is active and limit is reached notifications will be shown when other hides
ul
	li Type:
		i integer, boolean
	li Default:
		i false

h3 slideUp
p Slide up effect duration in milliseconds
ul
	li Type:
		i integer
	li Default:
		i 200

h3 horizontal
p Horizontal alignment, default right
ul
	li Type:
		i string
	li Default:
		i ''

h3 vertical
p Vertical alignment, default top
ul
	li Type:
		i string
	li Default:
		i ''

