button(type="button").button.button_size_normal.button_style_solid.button_color_gray.button_style_rounded.js-notification-info info
button(type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded.js-notification-notice notice
button(type="button").button.button_size_normal.button_style_solid.button_color_green.button_style_rounded.js-notification-success success
button(type="button").button.button_size_normal.button_style_solid.button_color_red.button_style_rounded.js-notification-error error
button(type="button").button.button_size_normal.button_style_solid.button_color_yellow.button_style_rounded.js-notification-warning warning

h4 Example
//- https://github.com/markdown-it/markdown-it#init-with-presets-and-options
:markdown-it(langPrefix='highlight-' quotes='“”‘’' linkify typographer html)
	1. Create notification board
		```js
		const notificationBoard = new Notification({
			delay: 40000
		});
		```

	2. Create and show notification message
		```js
		const button = document.querySelector("button");
		button.addEventListener("click", () => {
			notificationBoard.show("Short test message", {
				className: "notification_type_info"
			});
		});
		```

h4 Options
h5 Notification
ul
	li
		b delay
		br
		| Delay for closing event in milliseconds (ms).
		ul
			li Type:
				i number
			li Default:
				i 3000
	li
		b containerClassName
		br
		| Notification board container class name
		ul
			li Type:
				i string
			li Default:
				i "notification-container"
	li
		b containerItemClassName
		br
		| Notification board container item class name
		ul
			li Type:
				i string
			li Default:
				i "notification-container__item"

h5 NotificationItem
ul
	li
		b delay
		br
		| Delay for closing event in milliseconds (ms).
		ul
			li Type:
				i number
			li Default:
				i 3000
	li
		b close
		br
		| Show close button when true
		ul
			li Type:
				i bollean
			li Default:
				i true
	li
		b className
		br
		| Custom class/classes name added to notification item
		ul
			li Type:
				i string
			li Default:
				i ""
	li
		b containerClassName
		br
		| Notificiation item container class name
		ul
			li Type:
				i string
			li Default:
				i "notification"
	li
		b disappearClassName
		br
		| Class name added when notification disappear
		ul
			li Type:
				i string
			li Default:
				i "notification_disappear"
	li
		b closeClassName
		br
		| Class name to close button
		ul
			li Type:
				i string
			li Default:
				i "notification__close"
	li
		b messageClassName
		br
		| Class name added to message
		ul
			li Type:
				i string
			li Default:
				i "notification__message"


