include ../../pagination/pagination
include ../../pager/pager

h4 Aligin
+pagination().pagination_aligin_left
br
br
+pagination().pagination_aligin_center
br
br
+pagination().pagination_aligin_right

h4 Full width
+pagination().pagination_block

h4 Centred
+pagination().pagination_centred

h3 Pager
+pager()
