include ../../progress-bar/progress-bar

div(style="max-width: 600px;")
	h4 Colors

	+progress-bar(value="0.45").progress-bar_color_gray
	br
	br
	+progress-bar(value="0.76").progress-bar_color_black
	br
	br
	+progress-bar(value="0.64").progress-bar_color_red
	br
	br
	+progress-bar(value="0.32").progress-bar_color_pink
	br
	br
	+progress-bar(value="0.19").progress-bar_color_grape
	br
	br
	+progress-bar(value="0.26").progress-bar_color_violet
	br
	br
	+progress-bar(value="0.44").progress-bar_color_indigo
	br
	br
	+progress-bar(value="0.55").progress-bar_color_blue
	br
	br
	+progress-bar(value="0.60").progress-bar_color_cyan
	br
	br
	+progress-bar(value="0.78").progress-bar_color_teal
	br
	br
	+progress-bar(value="0.54").progress-bar_color_green
	br
	+progress-bar(value="0.74").progress-bar_color_aqua
	br
	+progress-bar(value="0.37").progress-bar_color_yellow
	br
	br
	+progress-bar(value="0.25").progress-bar_color_orange
	
	h4 Indeterminate
	+progress-bar().progress-bar_color_gray.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_black.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_red.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_pink.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_grape.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_violet.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_indigo.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_blue.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_cyan.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_teal.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_green.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_lime.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_yellow.progress-bar_indeterminate
	br
	br
	+progress-bar().progress-bar_color_orange.progress-bar_indeterminate
