include ../../social-icons/social-icons

h3 Only icons
+social-icons(socialIcons.defaults).social-icons_icon_background.social-icons_label_hidden.social-icons_items_horizontal
br
br

+social-icons(socialIcons.defaults).social-icons_icon_background.social-icons_icon_rounded.social-icons_label_hidden.social-icons_items_horizontal
br
br

+social-icons(socialIcons.defaults).social-icons_icon_background.social-icons_icon_pill.social-icons_label_hidden.social-icons_items_horizontal
br
br

+social-icons(socialIcons.defaults).social-icons_icon_color.social-icons_label_hidden.social-icons_items_horizontal

h3 With label

+social-icons(socialIcons.defaults).social-icons_icon_background.social-icons_icon_rounded.social-icons_items_horizontal
br
br

+social-icons(socialIcons.defaults).social-icons_icon_background.social-icons_icon_rounded.social-icons_items_vertical

h3 Sizes

+social-icons(socialIcons.defaults).social-icons_icon_background.social-icons_icon_rounded.social-icons_label_hidden.social-icons_items_horizontal
br
br
