button(data-spoiler-target="sp1" type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded Toggle spoiler

div(data-spoiler-id="sp1")
	h1 Simple spoiler
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eius, quae quas nisi numquam ratione nostrum a necessitatibus voluptatibus. Dolor distinctio, culpa doloremque labore vero ex fuga in iure assumenda.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eius, quae quas nisi numquam ratione nostrum a necessitatibus voluptatibus. Dolor distinctio, culpa doloremque labore vero ex fuga in iure assumenda.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eius, quae quas nisi numquam ratione nostrum a necessitatibus voluptatibus. Dolor distinctio, culpa doloremque labore vero ex fuga in iure assumenda.
