include ../../star-rating/star-rating

+star-rating(value="0")
br
+star-rating(value="0.5")
br
+star-rating(value="1")
br
+star-rating(value="1.5")
br
+star-rating(value="2")
br
+star-rating(value="2.5")
br
+star-rating(value="3")
br
+star-rating(value="3.5")
br
+star-rating(value="4")
br
+star-rating(value="4.5")
br
+star-rating(value="5")
br
+star-rating(max="6" value="5.5")
br
+star-rating(max="6" value="6")
