include ../../icon/icon

p The build system automatically creates a sprite from the svg files in the folder `source/static/icons`
.demo-icons
	+icon(name="chevron-down" title="Chevron down")
	+icon(name="chevron-up" title="Chevron up")
	+icon(name="chevron-left" title="Chevron left")
	+icon(name="chevron-right" title="Chevron right")
	+icon(name="github-octocat" title="Github octocat")
	+icon(name="hamburger" title="Hamburger menu")
	+icon(name="heart" title="Heart")
	+icon(name="maginifer" title="Maginifer")
	+icon(name="rss" title="RSS sigin")
	+icon(name="fb" title="Facrbook")
	+icon(name="gp" title="Google plus")
	+icon(name="mr" title="Moi Mir")
	+icon(name="ok" title="Odnoklassniki")
	+icon(name="tw" title="Twitter")
	+icon(name="vk" title="Vkontakte")
