include ../../icon/icon

p The build system automatically creates a sprite from the svg files in the folder `source/static/icons`
.demo-icons
	+icon(name="chevron_down" title="Chevron down")
	+icon(name="chevron_up" title="Chevron up")
	+icon(name="chevron_left" title="Chevron left")
	+icon(name="chevron_right" title="Chevron right")
	+icon(name="github-octocat" title="Github octocat")
	+icon(name="hamburger" title="Hamburger menu")
	+icon(name="heart" title="Heart")
	+icon(name="maginifer" title="Maginifer")
	+icon(name="social_rss" title="RSS sigin")
	+icon(name="social_fb" title="Facrbook")
	+icon(name="social_gp" title="Google plus")
	+icon(name="social_mr" title="Moi Mir")
	+icon(name="social_ok" title="Odnoklassniki")
	+icon(name="social_tw" title="Twitter")
	+icon(name="social_vk" title="Vkontakte")
	+icon(name="player_previous" title="Previous")
	+icon(name="player_play" title="Play")
	+icon(name="player_pause" title="Pause")
	+icon(name="player_next" title="Next")
