include ../../icon/icon


.demo-icons
	+icon('chevron-down')
	+icon('chevron-up')
	+icon('chevron-left')
	+icon('chevron-right')
	+icon('github-octocat')
	+icon('hamburger')
	+icon('heart')
	+icon('maginifer')
	+icon('rss')
	+icon('fb')
	+icon('gp')
	+icon('mr')
	+icon('ok')
	+icon('tw')
	+icon('vk')
