include ../../tabs/tabs
include ../../icon/icon


h3 Colors
each color, index in ["gray", "black", "red", "pink", "grape", "violet", "indigo", "blue", "cyan", "teal", "green", "lime", "yellow", "orange"]
	+tabs({
		"name": `tabs-color-${index + 1}`, 
		"items": [
			{ name: "icon", label: "Icon", icon: "heart" }, 
			{ name: "tab2", label: "Tab 2" }, 
			{ name: "tab3", label: "Tab 3" }, 
			{ name: "disabled", label: "Disabled tab", disabled: true },
		]
	})(class=`tabs_style_default tabs_color_${color}`)
		.tabs__panel(data-panel-id="icon")
			ul
				li 
					b Name: 
					|  icon
				li
					b Color: 
					= color
				li
					b Style: 
					|   default

		.tabs__panel(data-panel-id="tab3")
			ul
				li 
					b Name: 
					|  Tab 3
				li
					b Color: 
					= color
				li
					b Style: 
					|  default

		.tabs__panel(data-panel-id="tab3")
			ul
				li 
					b Name: 
					|  Tab 3
				li
					b Color: 
					= color
				li
					b Style: 
					|  default

		.tabs__panel(data-panel-id="disabled")
			ul
				li 
					b Name: 
					|  disabled
				li
					b Color: 
					= color
				li
					b Style: 
					|  default
		
h3 Aligin
each aligin, index in ["left", "center", "right"]
	+tabs({
		"name": `tabs-aligin-${index + 1}`, 
		"items": [
			{ name: "icon", label: "Icon", icon: "heart" }, 
			{ name: "tab2", label: "Tab 2" }, 
			{ name: "tab3", label: "Tab 3" }, 
			{ name: "disabled", label: "Disabled tab", disabled: true },
		]
	})(class=`tabs_style_default tabs_color_indigo tabs_aligin_${aligin}`)
		.tabs__panel(data-panel-id="icon")
			ul
				li 
					b Name: 
					|  icon
				li
					b Color: 
					|  indigo
				li
					b Aligin: 
					= aligin
				li
					b Style: 
					|  default

		.tabs__panel(data-panel-id="tab3")
			ul
				li 
					b Name: 
					|  Tab 3
				li
					b Color: 
					|  indigo
				li
					b Aligin: 
					= aligin
				li
					b Style: 
					|  default

		.tabs__panel(data-panel-id="tab3")
			ul
				li 
					b Name: 
					|  Tab 3
				li
					b Color: 
					|  indigo
				li
					b Aligin: 
					= aligin
				li
					b Style: 
					|  default

		.tabs__panel(data-panel-id="disabled")
			ul
				li 
					b Name: 
					|  disabled
				li
					b Color: 
					|  indigo
				li
					b Aligin: 
					= aligin
				li
					b Style: 
					|  default

h3 Expanded
+tabs({
	"name": `tabs-expanded`, 
	"items": [
		{ name: "icon", label: "Icon", icon: "heart" }, 
		{ name: "tab2", label: "Tab 2" }, 
		{ name: "tab3", label: "Tab 3" }, 
		{ name: "disabled", label: "Disabled tab", disabled: true },
	]
}).tabs_style_default.tabs_color_indigo.tabs_expanded
	.tabs__panel(data-panel-id="icon")
		ul
			li 
				b Name: 
				|  icon
			li
				b Color: 
				|  indigo
			li
				b Style: 
				|  default

	.tabs__panel(data-panel-id="tab3")
		ul
			li 
				b Name: 
				|  Tab 3
			li
				b Color: 
				|  indigo
			li
				b Style: 
				|  default

	.tabs__panel(data-panel-id="tab3")
		ul
			li 
				b Name: 
				|  Tab 3
			li
				b Color: 
				|  indigo
			li
				b Style: 
				|  default

	.tabs__panel(data-panel-id="disabled")
		ul
			li 
				b Name: 
				|  disabled
			li
				b Color: 
				|  indigo
			li
				b Style: 
				|  default

h3 Scrollable
+tabs({
	"name": `tabs-scrollable`, 
	"items": [
		{ "name": "apple", "label": "Apple" },
		{ "name": "avocado", "label": "Avocado" },
		{ "name": "banana", "label": "Banana" },
		{ "name": "lemon", "label": "Lemon" },
		{ "name": "pear", "label": "Pear" },
		{ "name": "cherries", "label": "Cherries" },
		{ "name": "blueberry", "label": "Blueberry" },
		{ "name": "cranberry", "label": "Cranberry" },
		{ "name": "cherries", "label": "Cherries" },
		{ "name": "strawberry", "label": "Strawberry" },
		{ "name": "broccoli", "label": "Broccoli" },
		{ "name": "potato", "label": "Potato" },
		{ "name": "radish", "label": "Radish" },
		{ "name": "onion", "label": "Onion" },
		{ "name": "carrot", "label": "Carrot" }
	]
}).tabs_style_default.tabs_color_indigo
	.tabs__panel(data-panel-id="apple"): p Apple
	.tabs__panel(data-panel-id="avocado"): p Avocado
	.tabs__panel(data-panel-id="banana"): p Banana
	.tabs__panel(data-panel-id="lemon"): p Lemon
	.tabs__panel(data-panel-id="pear"): p Pear
	.tabs__panel(data-panel-id="cherries"): p Cherries
	.tabs__panel(data-panel-id="blueberry"): p Blueberry
	.tabs__panel(data-panel-id="cranberry"): p Cranberry
	.tabs__panel(data-panel-id="cherries"): p Cherries
	.tabs__panel(data-panel-id="strawberry"): p Strawberry
	.tabs__panel(data-panel-id="broccoli"): p Broccoli
	.tabs__panel(data-panel-id="potato"): p Potato
	.tabs__panel(data-panel-id="radish"): p Radish
	.tabs__panel(data-panel-id="onion"): p Onion
	.tabs__panel(data-panel-id="carrot"): p Carrot

