.ta-center
	button(data-tooltip-id="tooltip-1" type="button").button.button_size_normal.button_style_solid.button_color_blue.button_style_rounded Tooltip bottom
	br
	button(data-tooltip-id="tooltip-2" type="button").button.button_size_normal.button_style_solid.button_color_green.button_style_rounded Tooltip top
	br
	button(data-tooltip-id="tooltip-3" type="button").button.button_size_normal.button_style_solid.button_color_yellow.button_style_rounded Tooltip left
	br
	button(data-tooltip-id="tooltip-4" type="button").button.button_size_normal.button_style_solid.button_color_orange.button_style_rounded Tooltip right

div(data-tooltip-target="tooltip-1").tooltip.tooltip_bottom
	| Plain text

div(data-tooltip-target="tooltip-2").tooltip.tooltip_top
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum, similique nam repellendus nisi atque nesciunt non tempora labore ad dolorem eligendi dicta. Distinctio maiores deserunt officia eaque dolorem nam!

div(data-tooltip-target="tooltip-3").tooltip.tooltip_left
	h3 HTML Tooltip
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fuga minima aliquam, dicta repellat vero iusto cum, assumenda non illo modi nam vitae officiis maxime molestias, voluptatem nihil numquam explicabo.

div(data-tooltip-target="tooltip-4").tooltip.tooltip_right
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum, similique nam repellendus nisi atque nesciunt non tempora labore ad dolorem eligendi dicta. Distinctio maiores deserunt officia eaque dolorem nam!
