.dropdown-list
	margin 0
	padding 0
	background-color #fff

	&__item
		padding em(16px) em(12px)
		list-style none
		cursor pointer

		&:hover
		&_active
			background-color #f2f2f2

	&__item_active
		&:hover
			background-color #f2f2f2
