mixin tabs(data)
	.tabs(data-tabs-name=data.name)&attributes(attributes)
		span(data-tabs-role="description").tabs__description.visuallyhidden Use left and right arrows to navigate between tabs.

		.tabs__head
			each tab in data.items
				button.tabs__tab(type="button" data-tabs-target=tab.name)= tab.title

		.tabs__body
			//- .tabs__panel(data-tabs-id=tab.name)
			block

			.tabs__preloader(data-tabs-role="preloader")
