$notosans-font-family = "Noto Sans"
$notosans-font-base-path = "../fonts/noto/sans"

$notoserif-font-family = "Noto Serif"
$notoserif-font-base-path = "../fonts/noto/serif"

$fonts-formats = eot woff2 woff truetype


// Noto Sans
font-face(
	family: $notosans-font-family,
	file-name: "regular",
	base-path: $notosans-font-base-path,
	formats: $fonts-formats
)

font-face(
	family: $notosans-font-family,
	file-name: "italic",
	base-path: $notosans-font-base-path,
	formats: $fonts-formats,
	style: italic
)

font-face(
	family: $notosans-font-family,
	file-name: "bold",
	base-path: $notosans-font-base-path,
	formats: $fonts-formats,
	weight: bold
)

font-face(
	family: $notosans-font-family,
	file-name: "bolditalic",
	base-path: $notosans-font-base-path,
	formats: $fonts-formats,
	weight: bold,
	style: italic
)


// Noto Serif

font-face(
	family: $notoserif-font-family,
	file-name: "regular",
	base-path: $notoserif-font-base-path,
	formats: $fonts-formats
)

font-face(
	family: $notoserif-font-family,
	file-name: "italic",
	base-path: $notoserif-font-base-path,
	formats: $fonts-formats,
	style: italic
)

font-face(
	family: $notoserif-font-family,
	file-name: "bold",
	base-path: $notoserif-font-base-path,
	formats: $fonts-formats,
	weight: bold
)

font-face(
	family: $notoserif-font-family,
	file-name: "bolditalic",
	base-path: $notoserif-font-base-path,
	formats: $fonts-formats,
	weight: bold,
	style: italic
)
