$font-base-path = "../fonts"
$notosans-font-family = "Noto Sans"
$notoserif-font-family = "Noto Serif"

// Noto Sans
font-face(
	family: $notosans-font-family,
	file-name: "notosans",
	base-path: $font-base-path,
	weight: normal,
	style: normal
)

font-face(
	family: $notosans-font-family,
	file-name: "notosansitalic",
	base-path: $font-base-path,
	weight: normal,
	style: italic
)

font-face(
	family: $notosans-font-family,
	file-name: "notosansbold",
	base-path: $font-base-path,
	weight: bold,
	style: normal
)

font-face(
	family: $notosans-font-family,
	file-name: "notosansbolditalic",
	base-path: $font-base-path,
	weight: bold,
	style: italic
)

// Noto Serif
font-face(
	family: $notoserif-font-family,
	file-name: "notoserif",
	base-path: $font-base-path,
	weight: normal,
	style: normal
)

font-face(
	family: $notoserif-font-family,
	file-name: "notoserifitalic",
	base-path: $font-base-path,
	weight: normal,
	style: italic
)

font-face(
	family: $notoserif-font-family,
	file-name: "notoserifbold",
	base-path: $font-base-path,
	weight: bold,
	style: normal
)

font-face(
	family: $notoserif-font-family,
	file-name: "notoserifbolditalic",
	base-path: $font-base-path,
	weight: bold,
	style: italic
)
