////////////////////////////////////////////////////////////
// Grid
////////////////////////////////////////////////////////////
$grid-fixed-col-width                       = 60px
$grid-fixed-gut-width                       = 20px
$grid-fixed-columns                         = 12

$grid-fluid-col-width                       = 7.333333333333334%
$grid-fluid-gut-width                       = 1%
$grid-fluid-columns                         = 12

$grid-config                                = {}


gs( type = "fixed", cols = false, col-width = false, gut-width = false )
	if type == "fixed"
		cols = $grid-fixed-columns unless cols
		col-width = $grid-fixed-col-width unless col-width
		gut-width = $grid-fixed-gut-width unless gut-width
		$grid-config[ "type" ] = "fixed"
		$grid-config[ "columns" ] = cols
		$grid-config[ "column-width" ] = col-width
		$grid-config[ "gutter-width" ] = gut-width
		_total = ( col-width + gut-width ) * cols
		$grid-config[ "computed-total-width" ] = _total
		$grid-config[ "total-width" ] = _total
	if type == "fluid"
		cols = $grid-fluid-columns unless cols
		$grid-config[ "type" ] = "fluid"
		$grid-config[ "columns" ] = cols
		if typeof( col-width ) == "unit"
			$grid-config[ "column-width" ] = unit( col-width, "%" )
			$grid-config[ "gutter-width" ] = unit( ( 100% - ( cols * col-width ) ) / cols, "%" )
		else if typeof( gut-width ) == "unit"
			$grid-config[ "gutter-width" ] = unit( gut-width, "%" )
			$grid-config[ "column-width" ] = unit( ( 100% - ( cols * gut-width ) ) / cols, "%" )
		else
			col-width = unit( ( 100 / cols * 0.9 ), "%" )
			$grid-config[ "column-width" ] = col-width
			$grid-config[ "gutter-width" ] = unit( ( 100% - ( cols * col-width ) ) / cols, "%" )
		$grid-config[ "computed-total-width" ] = 100%
		$grid-config[ "total-width" ] = 100%
	if selector() != "&"
		width: $grid-config[ "total-width" ]
		margin: 0 auto
		overflow: hidden
	if type != "fixed" && type != "fluid"
		error( "Unknown grid system type '" + type + "' !" )

row()
	display: block
	if $grid-config[ "type" ] == "fixed"
		width: round( $grid-config[ "total-width" ] * ( ( $grid-config[ "gutter-width" ] + $grid-config[ "computed-total-width" ] ) / $grid-config[ "computed-total-width" ] ), 5 )
		margin: 0 round( $grid-config[ "total-width" ] * ( ( ( $grid-config[ "gutter-width" ] * .5 ) / $grid-config[ "computed-total-width" ] ) * -1 ), 5 )
	if $grid-config[ "type" ] == "fluid"
		_total = unit( $grid-config[ "total-width" ], "" )
		_gut = unit( $grid-config[ "gutter-width" ], "" )
		_comp = unit( $grid-config[ "computed-total-width" ], "" )
		width: unit( _total * ( ( _gut + _comp ) / _comp ), "%" )
		margin: 0 unit( _total * ( ( ( _gut * .5 ) / _comp ) * -1 ), "%" )

col( size = false, basestyle = true)
	unless size
		size = $grid-config[ "columns" ]
	if basestyle
		display: inline-block
		float: left
		overflow: hidden
	if $grid-config[ "type" ] == "fixed"
		width: round( $grid-config[ "total-width" ] * ( ( ( ( $grid-config[ "gutter-width" ] + $grid-config[ "column-width" ] ) * size ) - $grid-config[ "gutter-width" ] ) / $grid-config[ "computed-total-width" ] ), 5 )
		if basestyle
			margin: 0 round( $grid-config[ "total-width" ] * ( ( $grid-config[ "gutter-width" ] * .5 ) / $grid-config[ "computed-total-width" ] ), 5 )
	if $grid-config[ "type" ] == "fluid"
		_total = unit( $grid-config[ "total-width" ], "" )
		_col = unit( $grid-config[ "column-width" ], "" )
		_gut = unit( $grid-config[ "gutter-width" ], "" )
		_comp = unit( $grid-config[ "computed-total-width" ], "" )
		width: unit( _total * ( ( ( ( _gut + _col ) * size ) - _gut ) / _comp ), "%" )
		if basestyle
			margin: 0 unit( _total * ( ( _gut * .5 ) / _comp ), "%" )

offset( size = 1 )
	if $grid-config[ "type" ] == "fixed"
		margin-left: round( $grid-config[ "total-width" ] * ( ( ( $grid-config[ "gutter-width" ] + $grid-config[ "column-width" ] ) * size + ( $grid-config[ "gutter-width" ] * .5 ) ) / $grid-config[ "computed-total-width" ] ), 5 )
	if $grid-config[ "type" ] == "fluid"
		_total = unit( $grid-config[ "total-width" ], "" )
		_col = unit( $grid-config[ "column-width" ], "" )
		_gut = unit( $grid-config[ "gutter-width" ], "" )
		_comp = unit( $grid-config[ "computed-total-width" ], "" )
		margin-left: unit( _total * ( ( ( _gut + _col ) * size + ( _gut * .5 ) ) / _comp ), "%" )

.grid
	gs( type: "fluid", cols: 12, gut-width: 1.5% )
	// gs()
	&__row
		row()
		m-cf()


	&__col
		col(1)

	&__col_1
		col(1 , false)

	&__col_2
		col(2 , false)

	&__col_3
		col(3 , false)

	&__col_4
		col(4 , false)

	&__col_5
		col(5 , false)

	&__col_6
		col(6 , false)

	&__col_7
		col(7 , false)

	&__col_8
		col(8 , false)

	&__col_9
		col(9 , false)

	&__col_10
		col(10 , false)

	&__col_11
		col(11 , false)

	&__col_12
		col(12 , false)

	&__col_offset_1
		offset(1)

	&__col_offset_2
		offset(2)

	&__col_offset_3
		offset(3)

	&__col_offset_4
		offset(4)

	&__col_offset_5
		offset(5)

	&__col_offset_6
		offset(6)

	&__col_offset_7
		offset(7)

	&__col_offset_8
		offset(8)

	&__col_offset_9
		offset(9)

	&__col_offset_10
		offset(10)

	&__col_offset_11
		offset(11)

	&__col_offset_12
		offset(12)

	// Demo styles
	&_demo
		margin 40px 0

	&_demo &__row
		margin-bottom $grid-fixed-gut-width
		+below(470px)
			margin-left 0
			margin-right 0
			width auto

	&_demo &__col
		background-color antiquewhite
		text-align center
		box-shadow inset 0 0 0 1px #333
		font-size 12px
		color #333
		padding 10px 0
		+below(470px)
			width auto
			margin 0 0 8px 0
			box-sizing border-box
			float none
			display block
