.clear
	clear both

.clearfix
	m-cf()


.content-wrapper
	img[align="left"]
	img[style*="float: left"]
	img[style*="float:left"]
		margin 5px 15px 0px 0px

	img[align="right"]
	img[style*="float: right"]
	img[style*="float:right"]
		margin 5px 0px 0px 15px

.align-image-center
	text-align center

.align-image-left
	float left
	margin 5px 15px 0px 0px

.align-image-right
	float right
	margin 5px 0px 0px 15px

.image-captioned
	margin-bottom 20px
	+below(375px)
		margin-left 0
		margin-right 0
		float none
		width 100%
		height auto
		display block

	figcaption
		font-style oblique
		font-size 1em
		color #454545


.align-image-left
.align-image-right
.align-image-center img
	max-width 100%
	+below(830px)
		margin 1em 0
		float none
		height auto
		display block

// Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
// aspect ratio.
.fluid-image
	max-width 100%
	height auto
	display block

// Utilities
.text-muted
	&
	& > *
		color $base-quiet-color

.f-left
	float left

.f-right
	float right

.f-none
	float none

.ta-right
	text-align right

.ta-center
	text-align center

.ta-left
	text-align left

.disabled
	cursor default
	opacity .5
	pointer-events none

// Hide visually and from screen readers
.hidden
	display none !important


// Hide only visually, but have it available for screen readers:
// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility

// 1. For long content, line feeds are not interpreted as spaces and small width
//     causes content to wrap 1 word per line:
//     https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
.sr-only
.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
	white-space nowrap // 1

// Hide visually and from screen readers, but maintain layout
.invisible
	visibility hidden
