h1
h2
h3
h4
h5
h6
	font-family $heading-font-family
	font-weight $heading-font-weight
	margin 1.2em 0 0.5em
	line-height normal
	a
		color inherit


h1
	font-size 2.8rem

h2
	font-size 2.4rem

h3
	font-size 2.2rem

h4
	font-size 2.0rem

h5
	font-size 1.8rem

h6
	font-size 1.6rem


p
	margin-bottom $base-line-height
	margin-top $base-line-height

a
	color $link-color
	transition 0.2s color ease
	text-decoration underline

	&:visited
		color $link-visited-color

	&:hover
		text-decoration none
		color $link-hover-color

i
em
	font-style italic

b
strong
	font-weight bold

ol
ul
	padding-left 2em

dt
dd
	line-height $base-line-height

dt
	font-weight: bold;

dd
	margin-left 0



pre
code
	font-family $fixed-font-family
	font-size $fixed-font-size
	line-height $fixed-line-height

	overflow hidden
	white-space -moz-pre-wrap
	white-space -o-pre-wrap
	white-space -pre-wrap
	white-space pre-wrap
	word-wrap break-word
	tab-size 4

pre
	padding 1em
	background #eee
	border-radius 3px

q
	quotes "«" "»"
	font-style italic

	q
		quotes "„" "“"
		font-style italic

blockquote
	padding ($base-line-height / 2)
	margin 0 0 $base-line-height
	border-left 5px solid #eee

	p
	ul
	ol
		&:last-child
			margin-bottom: 0

		&:first-child
			margin-top 0

	footer
	small
		display block
		font-size 80%
		line-height $base-line-height

		&:before
			content '\2014 \00A0' //- em dash, nbsp

hr
	display block
	height 1px
	border 0
	border-top 1px solid #ccc
	margin 1em 0
	padding 0
