////////////////////////////////////////////////////////////
// Base
////////////////////////////////////////////////////////////
$base-bg-color                              = #fff

$base-text-color                            = #222
$base-quiet-color                           = #ccc
$base-loud-color                            = #000

$base-font-family                           = notosans
$base-font-size                             = 1.4em
$base-line-height                           = $base-font-size

$fixed-font-family                          = consolas



////////////////////////////////////////////////////////////
// Components
////////////////////////////////////////////////////////////
$components-grid                            = true
$components-debug                           = false
$components-animations                      = true
$components-flags                           = true



////////////////////////////////////////////////////////////
// Tables
////////////////////////////////////////////////////////////
$table-border-color                         = #e6e6e6
$table-head-border-color                    = #fff
$table-back-color                           = #264b8f + 90%
$table-stripe-color                         = #f7f7f7
$table-font-color                           = $base-text-color



////////////////////////////////////////////////////////////
// Headings
////////////////////////////////////////////////////////////
$heading-font-family                        = notoserif
$heading-color                              = #111
$heading-font-weight                        = 700



////////////////////////////////////////////////////////////
// Links
////////////////////////////////////////////////////////////
$link-color                                 = #0083ca
$link-hover-color                           = #ee1111
$link-visited-color                         = $link-color + 10%



////////////////////////////////////////////////////////////
// Forms: Default style
////////////////////////////////////////////////////////////
// Color
$form-color-active                          = #08c
$form-color-border                          = #cdcdcd
$form-color-background                      = #fff
$form-color-placeholder                     = #969596
$form-color-font                            = #333
$form-color-background_disabled             = #f7f7f7
$form-color-border_focus                    = #3498da
$form-color-border_invalid                  = #f64c61

// Font
$form-font-size                             = 13px

// Padding
$form-padding_horizontal                    = 18px
$form-padding_vertical                      = ceil($form-padding_horizontal / 2)

// Size
$form-size-input-height                     = 40px

// Border
$form-border_default                        = 1px solid $form-color-border
$form-border-radius                         = 3px



////////////////////////////////////////////////////////////
// Media
////////////////////////////////////////////////////////////

$media-enable-debug                         = false
$media-enable-em                            = false

// Extra small screen / phone
$media-screen-xs                            = 480px // 30em
$media-screen-phone                         = $media-screen-xs

// Small screen / tablet
$media-screen-sm                            = 768px // 48em
$media-screen-tablet                        = $media-screen-sm

// Medium screen / desktop
$media-screen-md                            = 992px // 62em
$media-screen-desktop                       = $media-screen-md

// Large screen / wide desktop
$media-screen-lg                            = 1382px // ~85em
$media-screen-lg-desktop                    = $media-screen-lg



////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////
aqua                                        = #7FDBFF
blue                                        = #0074D9
navy                                        = #001F3F
teal                                        = #39CCCC
green                                       = #2ECC40
olive                                       = #3D9970
lime                                        = #01FF70
yellow                                      = #FFDC00
orange                                      = #FF851B
red                                         = #FF4136
fuchsia                                     = #F012BE
purple                                      = #B10DC9
maroon                                      = #85144B
white                                       = #ffffff
silver                                      = #dddddd
gray                                        = #aaaaaa
black                                       = #111111


////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////
system            = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
arial             = Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
arial-black       = "Arial Black", "Helvetica CY", "Nimbus Sans L" sans-serif
comic-sans        = "Comic Sans MS", "Monaco CY", cursive
courier           = "Courier New", "Nimbus Mono L", monospace
georgia           = Georgia, "Century Schoolbook L", Serif
impact            = Impact, "Charcoal CY", sans-serif
lucida-console    = "Lucida Console", Monaco, monospace
lucida-sans       = "Lucida Sans Unicode", "Lucida Grande", sans-serif
platino           = "Palatino Linotype", "Book Antiqua", Palatino, serif
tahoma            = Tahoma, "Geneva CY", sans-serif
times             = "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif
trebuchet         = "Trebuchet MS", "Helvetica CY", sans-serif
verdana           = Verdana, "Geneva CY", "DejaVu Sans", sans-serif
helvetica         = "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
consolas          = "Consolas", "Courier New", "Nimbus Mono L", monospace
calibri           = Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
segoe             = "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
ptsans            = "PT Sans", sans-serif;
ptserif           = "PT Serif", serif;
museosans         = "Museo Sans Cyrl", "Museo Sans", "Perspective Sans", Helvetica, Arial, sans-serif;
notosans          = "Noto Sans", sans-serif;
notoserif         = "Noto Serif", serif;
pfdin             = "PF DinText Pro", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif


//-//////////////////////////////////////////////////////////
//- CSS Easing
//-//////////////////////////////////////////////////////////
// Default
$ease-in-quad      = cubic-bezier(0.550,  0.085, 0.680, 0.530)
$ease-in-cubic     = cubic-bezier(0.550,  0.055, 0.675, 0.190)
$ease-in-quart     = cubic-bezier(0.895,  0.030, 0.685, 0.220)
$ease-in-quint     = cubic-bezier(0.755,  0.050, 0.855, 0.060)
$ease-in-sine      = cubic-bezier(0.470,  0.000, 0.745, 0.715)
$ease-in-expo      = cubic-bezier(0.950,  0.050, 0.795, 0.035)
$ease-in-circ      = cubic-bezier(0.600,  0.040, 0.980, 0.335)
$ease-in-back      = cubic-bezier(0.600, -0.280, 0.735, 0.045)

$ease-out-quad     = cubic-bezier(0.250,  0.460, 0.450, 0.940)
$ease-out-cubic    = cubic-bezier(0.215,  0.610, 0.355, 1.000)
$ease-out-quart    = cubic-bezier(0.165,  0.840, 0.440, 1.000)
$ease-out-quint    = cubic-bezier(0.230,  1.000, 0.320, 1.000)
$ease-out-sine     = cubic-bezier(0.390,  0.575, 0.565, 1.000)
$ease-out-expo     = cubic-bezier(0.190,  1.000, 0.220, 1.000)
$ease-out-circ     = cubic-bezier(0.075,  0.820, 0.165, 1.000)
$ease-out-back     = cubic-bezier(0.175,  0.885, 0.320, 1.275)

$ease-in-out-quad  = cubic-bezier(0.455,  0.030, 0.515, 0.955)
$ease-in-out-cubic = cubic-bezier(0.645,  0.045, 0.355, 1.000)
$ease-in-out-quart = cubic-bezier(0.770,  0.000, 0.175, 1.000)
$ease-in-out-quint = cubic-bezier(0.860,  0.000, 0.070, 1.000)
$ease-in-out-sine  = cubic-bezier(0.445,  0.050, 0.550, 0.950)
$ease-in-out-expo  = cubic-bezier(1.000,  0.000, 0.000, 1.000)
$ease-in-out-circ  = cubic-bezier(0.785,  0.135, 0.150, 0.860)
$ease-in-out-back  = cubic-bezier(0.680, -0.550, 0.265, 1.550)



//-//////////////////////////////////////////////////////////
//- Project variables
//-//////////////////////////////////////////////////////////
$content-width = 1160px
$mobile-padding = 20px
