// Base
$base-bg-color                              = #fff

$base-text-color                            = #222
$base-loud-color                            = #000

$base-font-family                           = notosans
$base-font-size                             = 1.6em
$base-line-height                           = $base-font-size

$fixed-font-family                          = mono



// Headings
$heading-font-family                        = notoserif
$heading-color                              = #111
$heading-font-weight                        = 700



// Links
$link-color                                 = #0083ca
$link-hover-color                           = #ee1111
$link-visited-color                         = $link-color + 10%



// Forms: Default style
// Color
$form-color-active                          = #08c
$form-color-border                          = #cdcdcd
$form-color-background                      = #fff
$form-color-placeholder                     = #969596
$form-color-font                            = #333
$form-color-background_disabled             = #f7f7f7
$form-color-border_focus                    = #3498da
$form-color-border_invalid                  = #f64c61

// Font
$form-font-size                             = 13px

// Padding
$form-padding_horizontal                    = 18px
$form-padding_vertical                      = ceil($form-padding_horizontal / 2)

// Size
$form-size-input-height                     = 40px

// Border
$form-border_default                        = 1px solid $form-color-border
$form-border-radius                         = 3px



// Fonts
notosans          = "Noto Sans", sans-serif;
notoserif         = "Noto Serif", serif;



// Project variables
$content-width = 1160px
$mobile-padding = 20px
